{% extends "base.html" %}

{% block content %}
        <form action="" method="post">{% csrf_token %}
            <h1>Edit site owner {{ node.name }}</h1>
            {% if form.errors %}
                <div class="alert-message error block-message span13">
                    <p>The operation could not be performed because one or more error(s) occurred.<br>Please resubmit the form after making the following changes:</p>
                    {{ form.errors }}
                </div>
            {% endif %}
            <h3>Name</h3>
            {{ form.name }}
            <br><br>
            <h3>Information (optional)</h3>
            <table>
                <tr>
                    <td width="50px"><label>URL</label></td>
                    <td>{{ form.url }}<span class="help-block">{{ form.url.help_text }}</span></td>
                </tr>
            </table>
            <br><br>
            <input type="submit" value="Save" class="btn primary" />
        </form>
{% endblock %}

