<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
{% load niweb_tags %}
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.6.2.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&key=AIzaSyCxqtNjP8a1vDnviEnktTPijjBYvqzeWTo" type="text/javascript"></script>
<script type="text/javascript">
    function initialize() {
        var latlng = new google.maps.LatLng(63, 10.4);
        var myOptions = {
            zoom: 5,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        load_content(map)
    }
    function load_content(map) {
        var map = map
        $.getJSON('/gmaps/{{ slug }}.json', function(json) {
            for (var i = 0;i < json.length; i += 1) {
                var label = json[i].name;
                if (json[i].type === "node") {
                    var lat = json[i].lat;
                    var lng = json[i].lng;
                    addMarker(lat,lng,label);
                } else if (json[i].type === "edge") {
                    var start_lat = json[i].start_lat;
                    var start_lng = json[i].start_lng;
                    var end_lat = json[i].end_lat;
                    var end_lng = json[i].end_lng;
                    addLine(start_lat, start_lng, end_lat, end_lng, label);
                };
            };

            function addMarker(lat,lng,label){
                var latlng = new google.maps.LatLng(lat,lng);

                var infowindow = new google.maps.InfoWindow({
                    content: "Optical Node:<br />" + label
                });

                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map
                });

                google.maps.event.addListener(marker, 'mouseover', function() {
                    infowindow.open(map, marker);
                });

                google.maps.event.addListener(marker, 'mouseout', function() {
                    infowindow.close()
                });
            };

            function addLine(start_lat, start_lng, end_lat, end_lng, label){
                var infowindow = new google.maps.InfoWindow({
                    content: "Cable:<br />" + label
                });

                var path = [
                    new google.maps.LatLng(start_lat, start_lng),
                    new google.maps.LatLng(end_lat, end_lng)
                ];
                var line = new google.maps.Polyline({
                    path: path,
                    title: label,
                    strokeWeight: 2,
                    strokeColor: "#FF0000",
                    strokeOpacity: 0.5,
                    map: map
                });

                google.maps.event.addListener(line, 'mouseover', function(event) {
                    infowindow.open(map);
                    infowindow.setPosition(event.latLng)
                    line.setOptions({strokeWeight: 3, strokeOpacity: 0.8})
                });

                google.maps.event.addListener(line, 'mouseout', function() {
                    infowindow.close()
                    line.setOptions({strokeWeight: 2, strokeOpacity: 0.5})
                });
            };
        });
    }
</script>
</head>
<body onload="initialize()">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>
