{% extends "base.html" %}

{% block title %}{{ block.super }} Hosts{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#hosts").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {
                1 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
    <div class="content">
            <h3>Hosts</h3>
            <table id="hosts" class="tablesorter" cellspacing="1">
                <thead>
                    <th>Host</th><th>Address</th>
                </thead>
                <tbody>
            {% for item in host_list %}
                    <tr>
                        <td><a class="handle" href="{{ item.url }}">{{ item.name }}</a></td><td>{{ item.address }}</td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
     </div>
{% endblock %}
