{% extends "base.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#units").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {
                1 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
        $("#services").tablesorter(
        {
            sortList: [[0,0], [5,0]],
            headers:
            {
                2 : { sorter: "ipAddress"  },
                4 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
<div class="section">
    <h2><a href="/{{ router.node_type|slugify }}/{{ router.handle_id }}/">{{ router.name }}</a> {{ node.name }}</h2>
    <div class="info-container">
        <div class="info">
            <h4>{{ node.node_type }} information</h4>
            <table class="info break-word">
                <tr>
                    <th>Name:</th><td>{{ node.name }}</td>
                </tr>
                <tr>
                    <th>Description:</th><td>{{ node.description }}</td>
                </tr>
            </table>
        </div>
        <div class="info">
            <h4>Meta information:</h4>
            <table class="info break-word">
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</a></td>
                </tr>
                <tr>
                    <th>Modified:</th><td>{{ node_handle.modified }}</td>
                </tr>
                <tr>
                    <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator|title }}</td>
                </tr>
            </table>
        </div>
        <div class="info">
            {% load comments %}
            {% load markup %}
            {% get_comment_list for node_handle as comment_list %}
            {% if comment_list %}
                <h4>User information:</h4>
                <table class="info break-word">
                    {% for comment in comment_list|dictsortreversed:"submit_date" %}
                    <tr>
                        <th>{{ comment.submit_date|date:"ymd H:i" }} by {{ comment.name|capfirst }}</th>
                    </tr>
                    <tr>
                        <td class="comment-cell">{{ comment.comment|markdown:"safe" }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
<div class="clear-float"></div>
<div class="section">
    <h3>Units</h3>
    {% if units %}
        <table id="units" class="tablesorter" cellspacing="1">
            <thead>
                <th>Unit</th><th>Address</th><th>VLAN</th><th>Description</th>
            </thead>
            <tbody>
                {% for item in units %}
                    {% for address in item.ip_addresses %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ address }}<br /></td>
                            <td>{{ item.vlanid }}</td>
                            <td>{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No units found.
    {% endif %}
</div>
<div class="section">
    {% load noclook_tags %}
    <h3>Depends on this PIC</h3>
    {% if depending_services %}
        <table id="services" class="tablesorter" cellspacing="1">
        <thead>
            <th>Service</th><th>Unit</th><th>Interface Address</th><th>VLAN</th><th>User Address</th><th>User</th>
        </thead>
        <tbody>
            {% for service in depending_services %}
                {% if service.relations %}
                    {% for relation in service.relations %}
                        <tr>
                            <td><a href="{% noclook_node_to_url service.service %}">{{ service.service.name }}</a></td>
                            <td>{{ service.unit.name }}</td>
                            <td>{{ service.if_address }}</td>
                            <td>{{ service.unit.vlanid }}</td>
                            <td>{{ relation.rel_address }}</td>
                            <td><a href="{% noclook_node_to_url relation.relation %}">{{ relation.relation.name }}</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td><a href="{% noclook_node_to_url service.service %}">{{ service.service.name }}</a></td>
                        <td>{{ service.unit.name }}</td>
                        <td>{{ service.if_address }}</td>
                        <td>{{ service.unit.vlanid }}</td>
                        <td>None</td>
                        <td>None</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        No services depending on this PIC found.
    {% endif %}
</div>
{% endblock %}

