{% extends "base_detail.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#services").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {},
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span7">
        <table>
            {% if node.site_type %}
                <tr>
                    <th>Type:</th><td>{{ node.site_type|capfirst }}</td>
                </tr>
            {% endif %}
            {% if node.owner_id %}
                <tr>
                    <th>Owner Site ID:</th><td>{{ node.owner_id }}</td>
                </tr>
            {% endif %}
            {% if node.telenor_subscription_id %}
                <tr>
                    <th>Telenor Subscription ID:</th><td>{{ node.telenor_subscription_id }}</td>
                </tr>
            {% endif %}
            {% if node.address %}
                <tr>
                    <th>Address:</th><td>{{ node.address }}</td>
                </tr>
            {% endif %}
            {% if node.postarea %}
                <tr>
                    <th></th><td>{{ node.postcode }} {{ node.postarea }}</td>
                </tr>
            {% endif %}
            {% if node.area %}
                <tr>
                    <th>Area:</th><td>{{ node.area }}</td>
                </tr>
            {% endif %}
            {% if node.country %}
                <tr>
                    <th>Country:</th><td>{{ node.country }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span5 offset1">
        <table>
            {% if node.floor %}
                <tr>
                    <th>Floor:</th><td>{{ node.floor }}</td>
                </tr>
            {% endif %}
            {% if node.room %}
                <tr>
                    <th>Room:</th><td>{{ node.room }}</td>
                </tr>
            {% endif %}
            {% for item in responsible_relationships %}
                {% if forloop.first %}
                    <tr>
                        <th>Site contact:</td><td><a href="{% noclook_node_to_url item.start %}">{{item.start.name}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td><td><a href="{% noclook_node_to_url item.start %}">{{item.start.name}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <th>More information:</th><td><a href="https://portal.nordu.net/display/nordunetops/{{ node.country_code }}-{{ node.name }}" target="_blank">To Portal</td>
            </tr>
            {% if node.noclook_automanage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier|title}}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator|title }}</td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn info">Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    <h3>Equipment on site</h3>
    {% if equipment_relationships %}
    <table id="services" class="tablesorter" cellspacing="1">
        <thead>
            <th>Type</th><th>Name</th>
        </thead>
        <tbody>
        {% for equip in equipment_relationships %}
            <tr>
                <td><a href="/{{ equip.start.node_type|slugify }}/">{{ equip.start.node_type }}</a></td>
                <td><a href="{% noclook_node_to_url equip.start %}">{{ equip.start.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No equipment on site.
    {% endif %}
</div>
{% endblock %}

