<html>
    <head>
        <title>Visualize {{ node_handle }}</title>
        <!-- Load the template tags before referencing them -->
        {% load niweb_tags %}
        <link rel="stylesheet" href="{% niweb_media_url %}css/style.css" type="text/css" media="screen" title="NORDUnet" charset="utf-8" />
        <script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/jquery/jquery-1.6.2.min.js"></script>
        <!-- Arbor Library File -->
        <script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/arbor/arbor.js"></script>
        <script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/arbor/graphics.js"></script>
        <script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/arbor/renderer.js"></script>
        <!-- First initialize -->
        <script type="text/javascript">
        window.onload = function(){
            var sys = arbor.ParticleSystem({repulsion:200, stiffness:512, friction:0.5, gravity: true, dt:0.2});
            sys.screenPadding(20, 200, 20, 200)
            sys.renderer = Renderer("#viewport");
            $.getJSON('/visualize/{{ node_handle.node_id }}.json', function(json) {
                sys.graft(json);
            });
        };
        </script>
        <script type="text/css">
            html, body {
              width:  100%;
              height: 100%;
              margin: 0px;
            }
        </script>
    </head>
    <body>
        <canvas id="viewport">(Your browser doesn't support canvas)</canvas>
    </body>
</html>
