/* Helvetica/Arial-based sans serif stack */
* {
 font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
}

html, body{
 margin:0;
 padding:0;
}

#pagewidth{ }

#header{
 position:relative;
 height:100px;
  background-color:#FFFFFF;
 width:100%;
}

#leftcol{
 width:20%;
 float:left;
 position:relative;
}

#maincol{
 background-color: #FFFFFF;
 float: right;
 display:inline;
 position: relative;
 width:80%;
}

 /* *** Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php *** */
.clearfix:after {
 content: ".";
 display: block;
height: 0;
 clear: both;
 visibility: hidden;
 }

.clearfix{
 display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix{
 height: 1%;
}
.clearfix{
 display: block;
}
/* End hide from IE-mac */

ul.menu {
 list-style-type: none;
}

 /*printer styles*/
 @media print{
/*hide the left column when printing*/
#leftcol{
 display:none;
}

#twocols, #maincol{
 width:100%;
 float:none;
}
