{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $("#connections").tablesorter(
            {
                sortList: [[0,0],[1,0],[2,0],[3,0]],
                headers:
                {},
                widthFixed: true,
                widgets: ['zebra']
            });
        $('#servicecopy').popover();
    });
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Cable type:</th><td>{{ node.data.cable_type|capfirst }}</td>
            </tr>
            {% if node.data.telenor_trunk_id %}
            <tr>
                <th>Trunk ID:</th><td>{{ node.data.telenor_trunk_id }}</td>
            </tr>
            {% endif %}
            {% if node.telenor_tn1_number %}
            <tr>
                <th>TN1 number:</th><td>{{ node.data.telenor_tn1_number }}</td>
            </tr>
            {% endif %}
            {% if node.data.global_crossing_circuit_id %}
                <tr>
                    <th>Global Crossing Circuit ID:</th><td>{{ node.data.global_crossing_circuit_id }}</td>
                </tr>
            {% endif %}
            {% if node.data.global_connect_circuit_id %}
                <tr>
                    <th>Global Connect Circuit ID:</th><td>{{ node.data.global_connect_circuit_id }}</td>
                </tr>
            {% endif %}
            {% if relations.Provides %}
                <tr>
                    <th>Provider:</th>
                    <td>
                        {% for item in relations.Provides %}
                            <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.data.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
{% include "noclook/depend_include.html" %}
<div class="section">
    <h3>Connected to</h3>
    {% if connections %}
    <table id="connections" class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>Site</th><th>Rack</th><th>Equipment</th><th>Port</th>
            </tr>
        </thead>
        <tbody>
        {% for item in connections %}
            <tr>
                <td><a href="/site/{{ item.site.handle_id }}">{{ item.site.name }}</a></td>
                <td><a href="/rack/{{ item.location.handle_id }}">{{ item.location.name }}</a></td>
                <td><a href="{% noclook_node_to_url item.end.handle_id %}">{{ item.end.name }}</a></td>
                <td><a href="/port/{{ item.port.handle_id }}">{{ item.port.name }}</a></td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
    {% else %}
        No connections found.
    {% endif %}
</div>
{% endblock %}
