{% extends "noclook/detail/base_detail.html" %}
{% load table_tags %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Cable type:</th><td>{{ node.data.cable_type|capfirst }}</td>
            </tr>

            {% info_row 'Trunk ID:' node.data.telenor_trunk_id %}
            {% info_row 'TN1 number:' node.data.telenor_tn1_number %}
            {% info_row 'Global Crossing Circuit ID:' node.data.global_crossing_circuit_id %}
            {% info_row 'Global Connect Circuit ID:' node.data.global_connect_circuit_id %}
            {% if relations.Provides %}
                <tr>
                    <th>Provider:</th>
                    <td>
                        {% for item in relations.Provides %}
                            <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% info_row 'Tele2 Contract:' node.data.tele2_cable_contract %}
        </table>
        {% if node.data.description %}
            <div>
                <table class="table">
                    <tr>
                        <th>Description:</th><td>{{ node.data.description }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
    </div>
    <div class="span3">
        {% include "noclook/detail/includes/last_changed.html" %}
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
{% include "noclook/detail/includes/depend_include.html" %}
<div class="section">
    <h3>Connected to</h3>
    {% if connections %}
        <div class="pull-right">
            {% table_search "connections" %}
        </div>
        {% blockvar th %}
                <th>Site</th><th>Location</th><th>Equipment</th><th>Port</th>
        {% endblockvar %}
        {% blockvar tbody %}
        {% for item in connections %}
            <tr>
                <td><a href="{% noclook_node_to_url item.site.handle_id %}">{{ item.site.name }}</a></td>
                <td><a href="{% noclook_node_to_url item.location.handle_id %}">{{ item.location.name }}</a></td>
                <td><a href="{% noclook_node_to_url item.end.handle_id %}">{{ item.end.name }}</a></td>
                <td><a href="{% noclook_node_to_url item.port.handle_id %}">{{ item.port.name }}</a></td>
            </tr>
         {% endfor %}
        {% endblockvar %}
        {% table th tbody id="connections" %}
    {% else %}
        No connections found.
    {% endif %}
</div>
{% include "noclook/detail/includes/connection_path.html" %}
{% endblock %}
