{% extends "noclook/detail/base_detail.html" %}
{% load table_tags %}

{% block content %}
    {{ block.super }}
    {% load noclook_tags %}
    <div class="row">
        <div class="span4">
            <table class="table">
                <tr>
                    {% if node.data.url %}
                        <th>More information:</th><td><a href="{{ node.data.url }}">Information link</a></td>
                    {% else %}
                        <th>More information:</th><td><a href="{% more_info_url node.data.name %}">To Portal</a></td>
                    {% endif %}
                </tr>

                {% info_row 'Description:' node.data.description %}
            </table>
        </div>
        <div class="span3">
            {% include "noclook/detail/includes/last_changed.html" %}
        </div>
    </div>
    {% if user.is_staff %}
        <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
    {% endif %}
    <br><br><br>
    {% include "noclook/detail/includes/user_services.html" with services=uses_relationships.Uses %}
    {% include "noclook/detail/includes/equipment.html" with equipment=owned_equipment.Owns title='Owned Equipment' %}
{% endblock %}
