{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
              <th>Tags:</th>
              <td>
                <ul style="margin: 0; padding: 0;">
                  {{ node.data.tags|unordered_list }}
                </ul>
              </td>
            </tr>
            {% if node.data.operational_state %}
                <tr>
                    <th>Status:</th><td>{{ node.data.operational_state|capfirst }}</td>
                </tr>
            {% endif %}
            <tr>
              <th>Image Created:</th><td>{{ node.data.image_created | isots_to_dt }}</td>
            </tr>
            {% if relations.Uses %}
                <tr>
                    <th>Users:</th>
                    <td>
                        {% for item in relations.Uses %}
                            <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if relations.Provides %}
                <tr>
                    <th>Providers:</th>
                    <td>
                        {% for item in relations.Provides %}
                            <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if relations.Owns %}
                <tr>
                    <th>Owner:</th>
                    <td>
                        {% for item in relations.Owns %}
                            <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.data.os %}
                <tr>
                    <th>OS:</th><td>{{node.data.os}} {% if node.data.os_version %}{{node.data.os_version}}{% endif %}</td>
                </tr>
            {% endif %}
            {% include "noclook/detail/includes/last_changed.html" with inline=True %}
        </table>
    </div>
    {% if node.data.description or node.data.responsible_group or node.data.security_class %}
        <div class="span7">
            <table class="table">
                {% if node.data.description %}
                    <tr>
                        <th>Description:</th><td>{{ node.data.description }}</td>
                    </tr>
                {% endif %}
                {% if node.data.responsible_group %}
                    <tr>
                        <th>Responsible group:</th>
                        <td>
                            {{ node.data.responsible_group }}
                        </td>
                    </tr>
                {% endif %}
                {% if node.data.support_group %}
                    <tr>
                        <th>Support group:</th>
                        <td>
                            {{ node.data.support_group }}
                        </td>
                    </tr>
                {% endif %}
                {% if node.data.security_class %}
                    <tr>
                        <th>Security Class</th>
                        <td>
                            <strong>{{ node.data.security_class }}</strong><br>
                            {{ node.data.security_comment }}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endif %}
</div>

{% if user.is_staff %}

    <form method="POST" action="{% url 'scan:host' %}">
        <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
        {% csrf_token %}
        <input type="hidden" name="data" value="{% scan_data node %}" />
        {% if node.data.operational_state|lower != "decommissioned" and scan_enabled %}
            <button class="btn btn-warning"><i class="icon-refresh icon-white"></i> Scan</button>
        {% endif %}
    </form>
{% endif %}

{% include "noclook/detail/includes/depend_include.html" %}

{% if node.meta_type == 'Physical' %}
    {% include "noclook/detail/includes/connections.html" with connections=connections urls=urls only %}
{% endif %}

{% include "noclook/detail/includes/host_services.html" %}

{% endblock %}
