{% extends "noclook/detail/base_detail.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(
                function(){
                    $("#services").tablesorter(
                            {
                                sortList: [[0,0]],
                                headers:
                                {},
                                widthFixed: true,
                                widgets: ['zebra']
                            });
                }
        );
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% load noclook_tags %}
    <div class="row">
        <div class="span4">
            <table class="table">
                <tr>
                    {% if node.url %}
                        <th>More information:</th><td><a href="{{ node.data.url }}">Information link</a></td>
                    {% else %}
                        <th>More information:</th><td><a href="https://portal.nordu.net/display/nordunetops/{{ node.data.name }}">To Portal</a></td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <div class="span3">
            <table class="table">
                {% if node.noclook_automanage %}
                    <tr>
                        <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
                </tr>
                <tr>
                    <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
                </tr>
            </table>
        </div>
    </div>
    {% if user.is_staff %}
        <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
    {% endif %}
    <br><br><br>
    {% if uses_relationships.Uses %}
    <div class="section">
        <h3>Services</h3>
        <div class="pull-right">
            <span class="badge badge-info">Testing</span>
            <span class="badge badge-warning">Reserved</span>
            <span class="badge badge-important">Decommissioned</span>
        </div>
        <table id="services" class="tablesorter" cellspacing="1">
            <thead>
                <tr>
                    <th>Service ID</th><th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for item in uses_relationships.Uses %}
                {% if item.node.data.operational_state == "Decommissioned" %}
                    <tr class="decommissioned">
                {% elif item.node.data.operational_state == "Reserved" %}
                    <tr class="reserved">
                {% elif item.node.data.operational_state == "Testing" %}
                    <tr class="testing">
                {% else %}
                    <tr>
                {% endif %}
                    <td><a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a></td>
                    <td>{{ item.node.data.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}

