{% extends "noclook/detail/base_detail.html" %}

{% block content %}
    {{ block.super }}
    {% load noclook_tags %}
    <div class="row">
        <div class="span4">
            <table class="table">
                <tr>
                    {% if node.data.url %}
                        <th>More information:</th><td><a href="{{ node.data.url }}">Information link</a></td>
                    {% else %}
                        <th>More information:</th><td><a href="https://portal.nordu.net/display/nordunetops/{{ node.data.name }}">To Portal</a></td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <div class="span3">
            <table class="table">
                {% if node.data.noclook_automanage %}
                    <tr>
                        <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
                </tr>
                <tr>
                    <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
                </tr>
            </table>
        </div>
    </div>
    {% if user.is_staff %}
        <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
    {% endif %}
    <br><br><br>
    {% include "noclook/detail/includes/user_services.html" with services=uses_relationships.Uses %}
{% endblock %}

