{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#connections").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {},
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            {% if relations.Owns %}
                <tr>
                    <th>Owner:</th>
                    <td>
                        {% for item in relations.Owns %}
                            <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
<!--
            {% if node.data.depth %}
                <tr>
                    <th>Depth:</th><td>{{ node.data.depth }} mm</td>
                </tr>
            {% endif %}
            {% if node.data.width %}
                <tr>
                    <th>Width:</th><td>{{ node.data.width }} mm</td>
                </tr>
            {% endif %}
-->
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.noclook_automanage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
            </tr>
        </table>
    </div>
    {% if node.data.description %}
        <div class="span7">
            <table class="table">
                <tr>
                    <th>Description:</th><td>{{ node.data.description }}</td>
                </tr>
            </table>
        </div>
    {% endif %}
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    <h3>Ports</h3>
    {% if connections %}
        {% load noclook_tags %}
        <table id="connections" class="tablesorter" cellspacing="1">
            <thead>
                <th>Port</th><th>Cable</th><th>End site</th><th>End rack</th><th>End equipment</th><th>End port</th>
            </thead>
            <tbody>
            {% for item in connections %}
                <tr>
                    <td><a href="{% noclook_node_to_url item.porta.handle_id %}">{{ item.porta.name }}</a></td>
                    <td><a href="{% noclook_node_to_url item.cable.handle_id %}">{{ item.cable.name }}</a></td>
                    <td><a href="{% noclook_node_to_url item.site.handle_id %}">{{ item.site.name }}</a></td>
                    <td><a href="{% noclook_node_to_url item.location.handle_id %}">{{ item.location.name }}</a></td>
                    <td><a href="{% noclook_node_to_url item.end.handle_id %}">{{ item.end.name }}</a></td>
                    <td><a href="{% noclook_node_to_url item.portb.handle_id %}">{{ item.portb.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No ports used.
    {% endif %}
</div>
{% endblock %}

