{% extends "noclook/detail/base_detail.html" %}
{% load table_tags %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            
            {% info_row 'Status:' node.data.operational_state|capfirst %}
            {% info_row 'Nagios:' node.data.nagios_checks|yesno:"Yes,No,Not set" %}
            {% if node.data.hostnames %}
                <tr>
                    <th>Hostnames:</th>
                    <td>
                        {% for item in node.data.hostnames %}
                            {{ item }}{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if node.data.ip_addresses %}
                <tr>
                    <th>Addresses:</th>
                    <td>
                        {% for item in node.data.ip_addresses %}
                            {{ item }}{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if relations.Owns %}
                <tr>
                    <th>Owner:</th>
                    <td>
                        {% for item in relations.Owns %}
                            <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% info_row 'Service tag:' node.data.service_tag %}
            {% info_row 'Support ends:' node.data.end_support %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.data.vendor or node.data.model or node.data.max_number_of_ports %}
                {% info_row 'Vendor:' node.data.vendor %}
                {% info_row 'Model:' node.data.model %}
                {% info_row 'Max ports:' node.data.max_number_of_ports %}
            {% endif %}
            {% if node.data.os %}
                <tr>
                    <th>OS:</th><td>{{node.data.os}} {% if node.data.os_version %}{{ node.data.os_version }}{% endif %}</td>
                </tr>
            {% endif %}
            {% include "noclook/detail/includes/last_changed.html" with inline=True %}
        </table>
    </div>
    {% if node.data.description or node.data.responsible_group or node.data.support_group %}
        <div class="span7">
            <table class="table">
                {% info_row 'Description:' node.data.description %}
                {% info_row 'Responsible group:' node.data.responsible_group %}
                {% info_row 'Support group:' node.data.support_group %}
            </table>
        </div>
    {% endif %}
</div>

{% include "noclook/detail/includes/depend_include.html" %}
{% include "noclook/detail/includes/connections.html" with connections=connections only %}
{% include "noclook/detail/includes/host_services.html" %}
{% endblock %}
