{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            {% if node.data.operational_state %}
                <tr>
                    <th>Status:</th><td>{{ node.data.operational_state|capfirst }}</td>
                </tr>
            {% endif %}
            {% if node.data.nagios_checks %}
                <tr>
                    <th>Nagios:</th><td>{{ node.data.nagios_checks|yesno:"Yes,No,Not set" }}</td>
                </tr>
            {% endif %}
            {% if node.data.hostnames %}
                <tr>
                    <th>Hostnames:</th>
                    <td>
                        {% for item in node.data.hostnames %}
                            {{ item }}{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if node.data.ip_addresses %}
                <tr>
                    <th>Addresses:</th>
                    <td>
                        {% for item in node.data.ip_addresses %}
                            {{ item }}{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if relations.Owns %}
                <tr>
                    <th>Owner:</th>
                    <td>
                        {% for item in relations.Owns %}
                            <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if node.data.service_tag %}
                <tr>
                    <th>Service tag:</th><td>{{ node.data.service_tag }}</td>
                </tr>
            {% endif %}
            {% if node.data.end_support %}
                <tr>
                    <th>Support ends:</th><td>{{ node.data.end_support }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.data.vendor or node.data.model or node.data.max_number_of_ports %}
                {% if node.data.vendor %}
                    <tr>
                        <th>Vendor:</th><td>{{node.data.vendor}}</td>
                    </tr>
                {% endif %}
                {% if node.data.model %}
                    <tr>
                        <th>Model:</th><td>{{node.data.model}}</td>
                    </tr>
                {% endif %}
                {% if node.data.max_number_of_ports %}
                    <tr>
                        <th>Max ports:</th><td>{{ node.data.max_number_of_ports }}</td>
                    </tr>
                {% endif %}
            {% endif %}
            {% if node.data.os %}
                <tr>
                    <th>OS:</th><td>{{node.data.os}} {% if node.data.os_version %}{{ node.data.os_version }}{% endif %}</td>
                </tr>
            {% endif %}
            {% if node.data.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
            </tr>
        </table>
    </div>
    {% if node.data.description or node.data.responsible_group or node.data.support_group %}
        <div class="span7">
            <table class="table">
                {% if node.data.description %}
                    <tr>
                        <th>Description:</th><td>{{ node.data.description }}</td>
                    </tr>
                {% endif %}
                {% if node.data.responsible_group %}
                    <tr>
                        <th>Responsible group:</th>
                        <td>
                            {{ node.data.responsible_group }}
                        </td>
                    </tr>
                {% endif %}
                {% if node.data.support_group %}
                    <tr>
                        <th>Support group:</th>
                        <td>
                            {{ node.data.support_group }}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endif %}
</div>

{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
{% include "noclook/depend_include.html" %}
{% include "noclook/detail/includes/connections.html" with connections=connections only %}
{% include "noclook/detail/includes/host_services.html" %}
{% endblock %}
