{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} Detail{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#services").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {
                1 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="span5">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node.data.name }}</td>
            </tr>
        </table>
    </div>
    <div class="span4">
        <table class="table">
            {% if node.data.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
            </tr>
        </table>
    </div>
</div>
<!--
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
-->
<div class="section">
    <h3>Resources used</h3>
    <div class="pull-right">
        <span class="badge badge-important">Expired</span>
    </div>
    {% load noclook_tags %}
    {% if service_relationships.Depends_on %}
    <table id="services" class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>Host</th><th>Address</th><th>Port</th><th>Protocol</th><th>State</th><th>Public</th><th>Product</th><th>Version</th><th>Extra info</th><th>Confidence</th><th>Last seen</th>
            </tr>
        </thead>
        <tbody>
        {% for item in service_relationships.Depends_on %}
            {% noclook_has_expired item.node.data as expired %}
            {% if expired %}
                <tr class="expired">
            {% else %}
                <tr>
            {% endif %}
                <td><a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a></td>
                <td>{{ item.relationship.ip_address }}</td>
                <td>{{ item.relationship.port }}</td>
                <td>{{ item.relationship.protocol }}</td>
                <td>{{ item.relationship.state }}</td>
                <td>{% if not item.relationship.noclook_last_external_check %}{% else %}{{ item.relationship.public|yesno:"Yes,No" }}{% endif %}</td>
                <td>{{ item.relationship.product }}</td>
                <td>{{ item.relationship.version }}</td>
                <td>{{ item.relationship.extrainfo }}</td>
                <td>{{ item.relationship.conf }}</td>
                <td>{% noclook_last_seen_to_dt item.relationship.noclook_last_seen as last_seen %}{{ last_seen|date:"Y-m-d" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No services provided.
    {% endif %}
</div>
{% endblock %}

