{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
                <tr>
                    <th>Name:</th><td>{{ node.data.name }}</td>
                </tr>
        </table>
    </div>
    <div class="span3">
        {% include "noclook/detail/includes/last_changed.html" %}
    </div>
</div>
<!--
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
-->
<div class="section">
    <div class="pull-right">
        <span class="badge badge-important">Expired</span>
        {% table_search "hosts" %}
    </div>
    <h3>Hosts provided</h3>

    {% blockvar th %}
                    <th>Host</th>
    {% endblockvar %}
    {% blockvar tbody %}
            {% for item in provides_relationships.Provides %}
                {% noclook_has_expired item.node.data as expired %}
                {% if expired %}
                    <tr class="expired">
                {% else %}
                    <tr>
                {% endif %}
                    <td><a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a></td>
                </tr>
            {% endfor %}
    {% endblockvar %}
    {% table th tbody id="hosts" %}
</div>
{% endblock %}

