{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#services").tablesorter(
            {
                sortList: [[0,0]],
                headers:
                {
                    1 : { sorter: "ipAddress"  }
                },
                widthFixed: true,
                widgets: ['zebra']
            });
        $("#dependOut").tablesorter(
            {
                sortList: [[0,0]],
                headers: {},
                widthFixed: true,
                widgets: ['zebra']
            });
        $("#servicesOut").tablesorter(
            {
                sortList: [[0,0]],
                headers: {},
                widthFixed: true,
                widgets: ['zebra']
            });
        $("#pathsOut").tablesorter(
            {
                sortList: [[0,0]],
                headers: {},
                widthFixed: true,
                widgets: ['zebra']
            });
        $("#omsOut").tablesorter(
            {
                sortList: [[0,0]],
                headers: {},
                widthFixed: true,
                widgets: ['zebra']
            });
        $("#linksOut").tablesorter(
            {
                sortList: [[0,0]],
                headers: {},
                widthFixed: true,
                widgets: ['zebra']
            });
        $("#cablesOut").tablesorter(
            {
                sortList: [[0,0]],
                headers: {},
                widthFixed: true,
                widgets: ['zebra']
            });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
{% noclook_has_rogue_ports node as has_rogue_ports %}
{% if has_rogue_ports %}
    <div class="alert alert-error">
        <i class="icon-exclamation-sign"></i> Unauthorized open ports found.
    </div>
{% endif %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Type:</th><td>{{ node_handle.node_meta_type|capfirst }} host</td>
            </tr>
            {% if node.operational_state %}
                <tr>
                    <th>Status:</th><td>{{ node.operational_state|capfirst }}</td>
                </tr>
            {% endif %}
            {% if node.backup %}
                <tr>
                    <th>Backup:</th><td>{{ node.backup }}</td>
                </tr>
            {% endif %}
            {% if node.syslog %}
                <tr>
                    <th>Syslog:</th><td>{{ node.syslog|yesno:"Yes,No,Not set" }}</td>
                </tr>
            {% endif %}
            {% if node.nagios_checks %}
                <tr>
                    <th>Nagios:</th><td>{{ node.nagios_checks|yesno:"Yes,No,Not set" }}</td>
                </tr>
            {% endif %}
            {% if node.hostnames %}
                <tr>
                    <th>Hostnames:</th>
                    <td>
                        {% for item in node.hostnames %}
                            {{ item }}{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if node.ip_addresses %}
                <tr>
                    <th>Addresses:</th>
                    <td>
                        {% for item in node.ip_addresses %}
                            {{ item }}{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if user_relationships %}
                <tr>
                    <th>Users:</th>
                    <td>
                        {% for item in user_relationships %}
                            <a href="{% noclook_node_to_url item.start %}">{{ item.start.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if provider_relationships %}
                <tr>
                    <th>Providers:</th>
                    <td>
                        {% for item in provider_relationships %}
                            <a href="{% noclook_node_to_url item.start %}">{{ item.start.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if owner_relationships %}
                <tr>
                    <th>Owner:</th>
                    <td>
                        {% for item in owner_relationships %}
                            <a href="{% noclook_node_to_url item.start %}">{{ item.start.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if node.contract_number %}
                <tr>
                    <th>Contract number:</th><td>{{ node.contract_number }}</td>
                </tr>
            {% endif %}
            {% if node.service_tag %}
                <tr>
                    <th>Service tag:</th><td>{{ node.service_tag }}</td>
                </tr>
            {% endif %}
            {% if node.end_support %}
                <tr>
                    <th>Support ends:</th><td>{{ node.end_support }}</td>
                </tr>
            {% endif %}
            {% if node.lastboot %}
                <tr>
                    <th>Last boot:</th><td>{{node.lastboot}}<br>({% if node.uptime %}{% timestamp_to_td node.uptime as uptime %}{{ uptime.days }} days ago{% endif %})</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.vendor or node.model or node.cpu or node.ram or node.hdd or node.service_tag %}
                {% if node.vendor %}
                    <tr>
                        <th>Vendor:</th><td>{{node.vendor}}</td>
                    </tr>
                {% endif %}
                {% if node.model %}
                    <tr>
                        <th>Model:</th><td>{{node.model}}</td>
                    </tr>
                {% endif %}
                {% if node.cpu %}
                    <tr>
                        <th>CPU:</th><td>{{node.cpu}}</td>
                    </tr>
                {% endif %}
                {% if node.ram %}
                    <tr>
                        <th>RAM:</th><td>{{node.ram}}</td>
                    </tr>
                {% endif %}
                {% if node.hdd %}
                    <tr>
                        <th>HDD:</th><td>{{node.hdd}}</td>
                    </tr>
                {% endif %}
            {% endif %}
            {% if node.os %}
                <tr>
                    <th>OS:</th><td>{{node.os}} {% if node.os_version %}{{node.os_version}}{% endif %}</td>
                </tr>
            {% endif %}
            {% if node.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
            </tr>
        </table>
    </div>
    {% if node.description or node.responsible_group or node.security_class %}
        <div class="span7">
            <table class="table">
                {% if node.description %}
                    <tr>
                        <th>Description:</th><td>{{ node.description }}</td>
                    </tr>
                {% endif %}
                {% if node.responsible_group %}
                    <tr>
                        <th>Responsible group:</th>
                        <td>
                            {{ node.responsible_group }}
                        </td>
                    </tr>
                {% endif %}
                {% if node.support_group %}
                    <tr>
                        <th>Support group:</th>
                        <td>
                            {{ node.support_group }}
                        </td>
                    </tr>
                {% endif %}
                {% if node.security_class %}
                    <tr>
                        <th>Security Class</th>
                        <td>
                            <strong>{{ node.security_class }}</strong><br>
                            {{ node.security_comment }}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endif %}
</div>

{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
{% if depend_out %}
    <div class="section">
        {% load noclook_tags %}
        <h3>This host depend on</h3>
        <div class="pull-right">
            <span class="badge badge-info">Testing</span>
            <span class="badge badge-warning">Reserved</span>
            <span class="badge badge-important">Decommissioned</span>
        </div>
        <ul class="nav nav-tabs" id="depTabsOut">
            <li class="active"><a href="#directTabOut" data-toggle="tab">Direct</a></li>
            {% if all_dependencies.services %}
                <li><a href="#servicesTabOut" data-toggle="tab">Services</a></li>
            {% endif %}
            {% if all_dependencies.paths %}
                <li><a href="#pathsTabOut" data-toggle="tab">Optical Paths</a></li>
            {% endif %}
            {% if all_dependencies.oms %}
                <li><a href="#omsTabOut" data-toggle="tab">OMS</a></li>
            {% endif %}
            {% if all_dependencies.links %}
                <li><a href="#linksTabOut" data-toggle="tab">Optical Links</a></li>
            {% endif %}
            {% if all_dependencies.cables %}
                <li><a href="#cablesTabOut" data-toggle="tab">Cables</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="directTabOut">
                <table id="dependOut" class="tablesorter" cellspacing="1">
                    <thead>
                        <tr>
                            <th>Name</th><th>Type</th><th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for hit in depend_out %}
                        {% if hit.dep.operational_state == "Decommissioned" %}
                            <tr class="decommissioned">
                        {% elif hit.dep.operational_state == "Reserved" %}
                            <tr class="reserved">
                        {% elif hit.dep.operational_state == "Testing" %}
                            <tr class="testing">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td><a href="{% noclook_node_to_url hit.dep %}">{{ hit.grand_parent.name }} {% if hit.grand_parent %}{{ hit.parent.name }}.{{ hit.dep.name }}{% else %}{{ hit.parent.name }} {{ hit.dep.name }}{% endif %}</a></td>
                            <td>{{ hit.dep.node_type }}</td>
                            <td>{{ hit.dep.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if all_dependencies.services %}
                <div class="tab-pane" id="servicesTabOut">
                    <table id="servicesOut" class="tablesorter" cellspacing="1">
                        <thead>
                            <tr>
                                <th>Name</th><th>Type</th><th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hit in all_dependencies.services %}
                            {% if hit.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif hit.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif hit.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                <td>{{ hit.service_class }} - {{ hit.service_type }}</td>
                                <td>{{ hit.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if all_dependencies.paths %}
                <div class="tab-pane" id="pathsTabOut">
                    <table id="pathsOut" class="tablesorter" cellspacing="1">
                        <thead>
                            <tr>
                                <th>Name</th><th>Type</th><th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hit in all_dependencies.paths %}
                            {% if hit.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif hit.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif hit.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                <td>{{ hit.node_type }}</td>
                                <td>{{ hit.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if all_dependencies.oms %}
                <div class="tab-pane" id="omsTabOut">
                    <table id="omsOut" class="tablesorter" cellspacing="1">
                        <thead>
                            <tr>
                                <th>Name</th><th>Type</th><th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hit in all_dependencies.oms %}
                            {% if hit.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif hit.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif hit.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                <td>{{ hit.node_type }}</td>
                                <td>{{ hit.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if all_dependencies.links %}
                <div class="tab-pane" id="linksTabOut">
                    <table id="linksOut" class="tablesorter" cellspacing="1">
                        <thead>
                            <tr>
                                <th>Name</th><th>Type</th><th>Description</th><th>Ports</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hit in all_dependencies.links %}
                            {% if hit.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif hit.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif hit.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                <td>{{ hit.node_type }}</td>
                                <td>{{ hit.description }}</td>
                                <td>
                                    {% noclook_get_ports hit as ports %}
                                    {% for hit in ports %}
                                        <a href="{% noclook_node_to_url hit.port %}">{{ hit.parent.name }} {{ hit.port.name }}</a>{% if not forloop.last %},<br>{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if all_dependencies.cables %}
                <div class="tab-pane" id="cablesTabOut">
                    <table id="cablesOut" class="tablesorter" cellspacing="1">
                        <thead>
                            <tr>
                                <th>Name</th><th>Type</th><th>Ports</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hit in all_dependencies.cables %}
                            {% if hit.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif hit.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif hit.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                <td>{{ hit.cable_type }}</td>
                                <td>
                                {% noclook_get_ports hit as ports %}
                                {% for hit in ports %}
                                    <a href="{% noclook_node_to_url hit.port %}">{{ hit.parent.name }} {{ hit.port.name }}</a>{% if not forloop.last %},<br>{% endif %}
                                {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
<div class="section">
    <h3>Services provided</h3>
    {% if node.services_locked == 'True'%}
        <div class="alert alert-info">
            <i class="icon-lock"></i> Services locked
        </div>
    {% endif %}
    <div class="pull-right">
        <span class="badge badge-important">Expired</span>
    </div>
    {% load noclook_tags %}
    {% if service_relationships %}
    <table id="services" class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>Service</th><th>Address</th><th>Port</th><th>Protocol</th><th>State</th><th>Public</th><th>Product</th><th>Version</th><th>Extra info</th><th>Confidence</th><th>Last seen</th>
            </tr>
        </thead>
        <tbody>
        {% for service in service_relationships %}
            {% noclook_has_expired service as expired %}
            {% if expired %}
                <tr class="expired">
            {% else %}
                <tr>
            {% endif %}
                <td>
                    {% if service.rogue_port %}<i class="icon-exclamation-sign"></i> {% endif %}
                    <a href="{% noclook_node_to_url service.start %}">{{ service.start.name }}</a>
                </td>
                <td>{{ service.ip_address }}</td>
                <td>{{ service.port }} </td>
                <td>{{ service.protocol }}</td>
                <td>{{ service.state }}</td>
                <td>{% if not service.noclook_last_external_check %}{% else %}{{ service.public|yesno:"Yes,No" }}{% endif %}</td>
                <td>{{ service.product }}</td>
                <td>{{ service.version }}</td>
                <td>{{ service.extrainfo }}</td>
                <td>{{ service.conf }}</td>
                <td>{% noclook_last_seen_to_dt service.noclook_last_seen as last_seen %}{{ last_seen|date:"Y-m-d" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No services provided.
    {% endif %}
</div>
{% endblock %}

