{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} Detail{% endblock %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="span5">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node.data.name }}</td>
            </tr>
        </table>
    </div>
    <div class="span4">
        {% include "noclook/detail/includes/last_changed.html" %}
    </div>
</div>
<!--
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
-->
<div class="section">
    {% load noclook_tags %}
    <div class="pull-right">
        <span class="badge badge-important">Expired</span>
        {% table_search "services" %}
    </div>
    <h3>Resources used</h3>
    {% blockvar th %}
        <th>Host</th><th>Address</th><th>Port</th><th>Protocol</th><th>State</th><th>Public</th><th>Product</th><th>Version</th><th>Extra info</th><th>Confidence</th><th>Last seen</th>
    {% endblockvar %}
    {% blockvar tbody %}
        {% for item in service_relationships.Depends_on %}
            {% noclook_has_expired item.node.data as expired %}
            {% if expired %}
                <tr class="expired">
            {% else %}
                <tr>
            {% endif %}
                <td><a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a></td>
                <td>{{ item.relationship.ip_address }}</td>
                <td>{{ item.relationship.port }}</td>
                <td>{{ item.relationship.protocol }}</td>
                <td>{{ item.relationship.state }}</td>
                <td>{% if not item.relationship.noclook_last_external_check %}{% else %}{{ item.relationship.public|yesno:"Yes,No" }}{% endif %}</td>
                <td>{{ item.relationship.product }}</td>
                <td>{{ item.relationship.version }}</td>
                <td>{{ item.relationship.extrainfo }}</td>
                <td>{{ item.relationship.conf }}</td>
                <td>{% noclook_last_seen_to_dt item.relationship.noclook_last_seen as last_seen %}{{ last_seen|date:"Y-m-d" }}</td>
            </tr>
        {% endfor %}
    {% endblockvar %}
    {% table th tbody id="services" %}
</div>
{% endblock %}

