{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node.data.name }}</td>
            </tr>
            <tr>
                <th>Operational State:</th><td>{{ node.data.operational_state }}</td>
            </tr>
            {% if node.data.type %}
            <tr>
                <th>Type:</th><td><a href="/findin/optical-node/type/{{ node.data.type }}/">{{ node.data.type }}</a></td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.data.ots %}
                <tr>
                    <th>Optical Transport Section:</th><td><a href="/findin/optical-node/ots/{{ node.data.ots }}/">{{ node.data.ots }}</a></td>
                </tr>
            {% endif %}
            {% if node.data.link %}
                <tr>
                    <th>Link:</th><td><a href="/findin/optical-node/link/{{ node.data.link }}/">{{ node.data.link }}</a></td>
                </tr>
            {% endif %}
            {% include "noclook/detail/includes/last_changed.html" with inline=True %}
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
{% include "noclook/detail/includes/depend_include.html" %}
{% include "noclook/detail/includes/connections.html" with connections=connections urls=urls node_name=node.data.name only %}
{% endblock %}
