{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} Detail{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(
            function(){
                $("#dependIn").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers: {},
                        widthFixed: true,
                        widgets: ['zebra']
                    });
                $("#servicesIn").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers: {},
                        widthFixed: true,
                        widgets: ['zebra']
                    });
                $("#pathsIn").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers: {},
                        widthFixed: true,
                        widgets: ['zebra']
                    });
                $("#omsIn").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers: {},
                        widthFixed: true,
                        widgets: ['zebra']
                    });
                $("#linksIn").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers: {},
                        widthFixed: true,
                        widgets: ['zebra']
                    });
                $("#dependOut").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers: {},
                        widthFixed: true,
                        widgets: ['zebra']
                    });
                $("#servicesOut").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers: {},
                        widthFixed: true,
                        widgets: ['zebra']
                    });
                $("#pathsOut").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers: {},
                        widthFixed: true,
                        widgets: ['zebra']
                    });
                $("#omsOut").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers: {},
                        widthFixed: true,
                        widgets: ['zebra']
                    });
                $("#linksOut").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers: {},
                        widthFixed: true,
                        widgets: ['zebra']
                    });
                $("#cablesOut").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers: {},
                        widthFixed: true,
                        widgets: ['zebra']
                    });
            }
        );
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% load noclook_tags %}
    <div class="row">
        <div class="span4">
            <table class="table">
                <tr>
                    <th>Name:</th><td>{{ node.name }}</td>
                </tr>
                <tr>
                    <th>Framing:</th><td>{{ node.framing }}</td>
                </tr>
                <tr>
                    <th>Capacity:</th><td>{{ node.capacity }}</td>
                </tr>
                <tr>
                    <th>Operational State:</th><td>{{ node.operational_state }}</td>
                </tr>
                <tr>
                    <th>ENRs:</th><td>{% for enr in node.enrs %}{{ enr }}{% if not forloop.last %},<br>{% endif %}{% endfor %}</td>
                </tr>
                <tr>
                    <th>Provider:</th>
                    <td>
                        {% for provider in providers %}
                            <a href="{% noclook_node_to_url provider.start %}">{{ provider.start.name }}</a><br>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            {% if node.description %}
                <div>
                    <table class="table">
                        <tr>
                            <th>Description:</th><td>{{ node.description }}</td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        </div>
        <div class="span3">
            <table class="table">
                {% if node.noclook_auto_manage %}
                    <tr>
                        <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
                </tr>
                <tr>
                    <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
                </tr>
            </table>
        </div>
    </div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
    <div class="section">
        {% load noclook_tags %}
        <h3>This optical path is used by</h3>
        {% if depend_in %}
            <div class="pull-right">
                <span class="badge badge-info">Testing</span>
                <span class="badge badge-warning">Reserved</span>
                <span class="badge badge-important">Decommissioned</span>
            </div>
            <ul class="nav nav-tabs" id="depTabsIn">
                <li class="active"><a href="#directTabIn" data-toggle="tab">Direct</a></li>
                {% if all_dependent.services %}
                    <li><a href="#servicesTabIn" data-toggle="tab">Services</a></li>
                {% endif %}
                {% if all_dependent.paths %}
                    <li><a href="#pathsTabIn" data-toggle="tab">Optical Paths</a></li>
                {% endif %}
                {% if all_dependent.oms %}
                    <li><a href="#omsTabIn" data-toggle="tab">Optical Muliplex Sections</a></li>
                {% endif %}
                {% if all_dependent.links %}
                    <li><a href="#linksTabIn" data-toggle="tab">Optical Links</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="directTabIn">
                    <table id="dependIn" class="tablesorter" cellspacing="1">
                        <thead>
                            <tr>
                                <th>Name</th><th>Type</th><th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hit in depend_in %}
                            {% if hit.start.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif hit.start.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif hit.start.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url hit.start %}">{{ hit.start.name }}</a></td>
                                <td>{{ hit.start.node_type }}</td>
                                <td>{{ hit.start.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if all_dependent.services %}
                    <div class="tab-pane" id="servicesTabIn">
                        <table id="servicesIn" class="tablesorter" cellspacing="1">
                            <thead>
                                <tr>
                                    <th>Name</th><th>Type</th><th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hit in all_dependent.services %}
                                {% if hit.operational_state == "Decommissioned" %}
                                    <tr class="decommissioned">
                                {% elif hit.operational_state == "Reserved" %}
                                    <tr class="reserved">
                                {% elif hit.operational_state == "Testing" %}
                                    <tr class="testing">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                    <td>{{ hit.service_class }} - {{ hit.service_type }}</td>
                                    <td>{{ hit.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if all_dependent.paths %}
                    <div class="tab-pane" id="pathsTabIn">
                        <table id="pathsIn" class="tablesorter" cellspacing="1">
                            <thead>
                                <tr>
                                    <th>Name</th><th>Type</th><th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hit in all_dependent.paths %}
                                {% if hit.operational_state == "Decommissioned" %}
                                    <tr class="decommissioned">
                                {% elif hit.operational_state == "Reserved" %}
                                    <tr class="reserved">
                                {% elif hit.operational_state == "Testing" %}
                                    <tr class="testing">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                    <td>{{ hit.node_type }}</td>
                                    <td>{{ hit.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if all_dependent.oms %}
                    <div class="tab-pane" id="omsTabIn">
                        <table id="omsIn" class="tablesorter" cellspacing="1">
                            <thead>
                                <tr>
                                    <th>Name</th><th>Type</th><th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hit in all_dependent.oms %}
                                {% if hit.operational_state == "Decommissioned" %}
                                    <tr class="decommissioned">
                                {% elif hit.operational_state == "Reserved" %}
                                    <tr class="reserved">
                                {% elif hit.operational_state == "Testing" %}
                                    <tr class="testing">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                    <td>{{ hit.node_type }}</td>
                                    <td>{{ hit.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if all_dependent.links %}
                    <div class="tab-pane" id="linksTabIn">
                        <table id="linksIn" class="tablesorter" cellspacing="1">
                            <thead>
                                <tr>
                                    <th>Name</th><th>Type</th><th>Description</th><th>Ports</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hit in all_dependent.links %}
                                {% if hit.operational_state == "Decommissioned" %}
                                    <tr class="decommissioned">
                                {% elif hit.operational_state == "Reserved" %}
                                    <tr class="reserved">
                                {% elif hit.operational_state == "Testing" %}
                                    <tr class="testing">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                    <td>{{ hit.node_type }}</td>
                                    <td>{{ hit.description }}</td>
                                    <td>
                                        {% noclook_get_ports hit as ports %}
                                        {% for hit in ports %}
                                            <a href="{% noclook_node_to_url hit.port %}">{{ hit.parent.name }} {{ hit.port.name }}</a>{% if not forloop.last %},<br>{% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <p>Nothing dependent found.</p>
        {% endif %}
    </div>

    <div class="section">
        {% load noclook_tags %}
        <h3>This optical path depend on</h3>
        {% if depend_out %}
            <div class="pull-right">
                <span class="badge badge-info">Testing</span>
                <span class="badge badge-warning">Reserved</span>
                <span class="badge badge-important">Decommissioned</span>
            </div>
            <ul class="nav nav-tabs" id="depTabsOut">
                <li class="active"><a href="#directTabOut" data-toggle="tab">Direct</a></li>
                {% if all_dependencies.services %}
                    <li><a href="#servicesTabOut" data-toggle="tab">Services</a></li>
                {% endif %}
                {% if all_dependencies.paths %}
                    <li><a href="#pathsTabOut" data-toggle="tab">Optical Paths</a></li>
                {% endif %}
                {% if all_dependencies.oms %}
                    <li><a href="#omsTabOut" data-toggle="tab">Optical Muliplex Sections</a></li>
                {% endif %}
                {% if all_dependencies.links %}
                    <li><a href="#linksTabOut" data-toggle="tab">Optical Links</a></li>
                {% endif %}
                {% if all_dependencies.cables %}
                    <li><a href="#cablesTabOut" data-toggle="tab">Cables</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="directTabOut">
                    <table id="dependOut" class="tablesorter" cellspacing="1">
                        <thead>
                            <tr>
                                <th>Name</th><th>Type</th><th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hit in depend_out %}
                            {% if hit.dep.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif hit.dep.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif hit.dep.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url hit.dep %}">{{ hit.grand_parent.name }} {% if hit.grand_parent %}{{ hit.parent.name }}.{{ hit.dep.name }}{% else %}{{ hit.parent.name }} {{ hit.dep.name }}{% endif %}</a></td>
                                <td>{{ hit.dep.node_type }}</td>
                                <td>{{ hit.dep.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if all_dependencies.services %}
                    <div class="tab-pane" id="servicesTabOut">
                        <table id="servicesOut" class="tablesorter" cellspacing="1">
                            <thead>
                                <tr>
                                    <th>Name</th><th>Type</th><th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hit in all_dependencies.services %}
                                {% if hit.operational_state == "Decommissioned" %}
                                    <tr class="decommissioned">
                                {% elif hit.operational_state == "Reserved" %}
                                    <tr class="reserved">
                                {% elif hit.operational_state == "Testing" %}
                                    <tr class="testing">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                    <td>{{ hit.service_class }} - {{ hit.service_type }}</td>
                                    <td>{{ hit.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if all_dependencies.paths %}
                    <div class="tab-pane" id="pathsTabOut">
                        <table id="pathsOut" class="tablesorter" cellspacing="1">
                            <thead>
                                <tr>
                                    <th>Name</th><th>Type</th><th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hit in all_dependencies.paths %}
                                {% if hit.operational_state == "Decommissioned" %}
                                    <tr class="decommissioned">
                                {% elif hit.operational_state == "Reserved" %}
                                    <tr class="reserved">
                                {% elif hit.operational_state == "Testing" %}
                                    <tr class="testing">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                    <td>{{ hit.node_type }}</td>
                                    <td>{{ hit.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if all_dependencies.oms %}
                    <div class="tab-pane" id="omsTabOut">
                        <table id="omsOut" class="tablesorter" cellspacing="1">
                            <thead>
                                <tr>
                                    <th>Name</th><th>Type</th><th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hit in all_dependencies.oms %}
                                {% if hit.operational_state == "Decommissioned" %}
                                    <tr class="decommissioned">
                                {% elif hit.operational_state == "Reserved" %}
                                    <tr class="reserved">
                                {% elif hit.operational_state == "Testing" %}
                                    <tr class="testing">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                    <td>{{ hit.node_type }}</td>
                                    <td>{{ hit.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if all_dependencies.links %}
                    <div class="tab-pane" id="linksTabOut">
                        <table id="linksOut" class="tablesorter" cellspacing="1">
                            <thead>
                                <tr>
                                    <th>Name</th><th>Type</th><th>Description</th><th>Ports</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hit in all_dependencies.links %}
                                {% if hit.operational_state == "Decommissioned" %}
                                    <tr class="decommissioned">
                                {% elif hit.operational_state == "Reserved" %}
                                    <tr class="reserved">
                                {% elif hit.operational_state == "Testing" %}
                                    <tr class="testing">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                    <td>{{ hit.node_type }}</td>
                                    <td>{{ hit.description }}</td>
                                    <td>
                                    {% noclook_get_ports hit as ports %}
                                    {% for hit in ports %}
                                        <a href="{% noclook_node_to_url hit.port %}">{{ hit.parent.name }} {{ hit.port.name }}</a>{% if not forloop.last %},<br>{% endif %}
                                    {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if all_dependencies.cables %}
                    <div class="tab-pane" id="cablesTabOut">
                        <table id="cablesOut" class="tablesorter" cellspacing="1">
                            <thead>
                                <tr>
                                    <th>Name</th><th>Type</th><th>Ports</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for hit in all_dependencies.cables %}
                                {% if hit.operational_state == "Decommissioned" %}
                                    <tr class="decommissioned">
                                {% elif hit.operational_state == "Reserved" %}
                                    <tr class="reserved">
                                {% elif hit.operational_state == "Testing" %}
                                    <tr class="testing">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                    <td>{{ hit.cable_type }}</td>
                                    <td>
                                    {% noclook_get_ports hit as ports %}
                                    {% for hit in ports %}
                                        <a href="{% noclook_node_to_url hit.port %}">{{ hit.parent.name }} {{ hit.port.name }}</a>{% if not forloop.last %},<br>{% endif %}
                                    {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <p>No dependencies found.</p>
        {% endif %}
    </div>
{% endblock %}