{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} Detail{% endblock %}

{% block content %}
    {{ block.super }}
    {% load noclook_tags %}
    <div class="row">
        <div class="span4">
            <table class="table">
                <tr>
                    <th>Name:</th><td>{{ node.data.name }}</td>
                </tr>
                <tr>
                    <th>Framing:</th><td>{{ node.data.framing }}</td>
                </tr>
                <tr>
                    <th>Capacity:</th><td>{{ node.data.capacity }}</td>
                </tr>
                <tr>
                    <th>Wavelength:</th>
                    <td>
                      {% if node.data.wavelength %}
                        {{ node.data.wavelength }} GHz
                      {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Operational State:</th><td>{{ node.data.operational_state }}</td>
                </tr>
                <tr>
                    <th>ENRs:</th><td>{% for enr in node.data.enrs %}{{ enr }}{% if not forloop.last %},<br>{% endif %}{% endfor %}</td>
                </tr>
                <tr>
                    <th>Provider:</th>
                    <td>
                        {% for provider in relations.Provides %}
                            <a href="{% noclook_node_to_url provider.node.data.handle_id %}">{{ provider.node.data.name }}</a><br>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            {% if node.data.description %}
                <div>
                    <table class="table">
                        <tr>
                            <th>Description:</th><td>{{ node.data.description }}</td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        </div>
        <div class="span3">
            {% include "noclook/detail/includes/last_changed.html" %}
        </div>
    </div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
{% include "noclook/detail/includes/depend_include.html" %}
{% endblock %}
