{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} | Detail{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#services").tablesorter(
        {
            sortList: [[1,0]],
            headers:
            {
                0 : { sorter: "ipAddress"  },
                2 : { sorter: "ipAddress"  }
            },
            widthFixed: true,
            widgets: ['zebra']
        });
        // IP address lookup
        $(".ip-address").click(function() {
            var ip_address = $(this).text();
            var elem = $(this)
            elem.css('cursor','wait');
            $.post('/ajax/hostname/', {ip_address: ip_address},
                    function(data) {
                        elem.tooltip({title: data});
                        elem.tooltip('toggle');
                        elem.css('cursor','pointer');
                    });
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node.data.name }}</td>
            </tr>
            <tr>
		    <th>AS Number:</th><td>{{ node.data.as_number }}</td>
            </tr>
            <tr>
		    <th>PeeringDB:</th><td><a href="http://www.peeringdb.com/view.php?asn={{ node.data.as_number }}" target="_blank">{{ node.data.as_number }}</a></td>
            </tr>
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.data.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    <h3>Services used</h3>
    {% load noclook_tags %}
    {% if user_dependencies %}
        <div class="pull-right">
            <span class="badge badge-important">Expired</span>
        </div>
        <table id="services" class="tablesorter" cellspacing="1">
            <thead>
                <tr>
                    <th>{{ node.data.name }} IP Address</th><th>Service</th><th>Interface Network</th><th>Unit</th><th>PIC</th><th>Router</th>
                </tr>
            </thead>
            <tbody>
                {% for item in user_dependencies %}
                    {% noclook_has_expired item.relationship as expired %}
                    {% if expired %}
                        <tr class="expired">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td><span class="ip-address">{{ item.user_address }}</span></td>
                    <td><a href="/peering-group/{{ item.peering_group.handle_id }}">{{ item.peering_group.data.name }}</a></td>
                    <td>{{ item.network_address }}</td>
                    <td>{{ item.unit.data.name }}</td>
                    {% for place in item.unit.get_placement_path.placement_path reversed %}
                            <td>
                              {% if forloop.last %}
                              <a href="/router/{{ place.handle_id }}">{{ place.name }}</a>
                              {% else %}
                              <a href="/port/{{ place.handle_id }}">{{ place.name }}</a>
                              {% endif %}
                            </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No services used.
    {% endif %}
</div>
{% endblock %}
