{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        // IP address lookup
        $(".ip-address").click(function() {
            var ip_address = $(this).text();
            var elem = $(this)
            elem.css('cursor','wait');
            $.post('/ajax/hostname/', {ip_address: ip_address},
                    function(data) {
                        elem.tooltip({title: data});
                        elem.tooltip('toggle');
                        elem.css('cursor','pointer');
                    });
        });
    }
);
</script>

{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node.data.name }}</td>
            </tr>
        </table>
    </div>
    <div class="span3">
        {% include "noclook/detail/includes/last_changed.html" %}
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    {% load noclook_tags %}
        <div class="pull-right">
            <span class="badge badge-important">Expired</span>
            {% table_search "resources" %}
        </div>
    <h3>Resources used</h3>
    {% blockvar th %}
        <th>Router</th><th>PIC</th><th>Unit</th><th>Interface Address</th><th>VLAN</th><th>User Address<th>User</th>
    {% endblockvar %}
    {% blockvar tbody %}
                {% for item in user_dependencies %}
                    {% if item.users %}
                        {% for relation in item.users %}
                            {% noclook_has_expired relation.relationship as expired %}
                            {% if expired %}
                                <tr class="expired">
                            {% else %}
                                <tr>
                            {% endif %}
                            {% if item.placement.placement_path %}
                                {% for place in item.placement.placement_path %}
                                    {% if forloop.first %}
                                        <td><a href="{% noclook_node_to_url place.handle_id %}">{{ place.name }}</a></td>
                                        <td>
                                    {% elif forloop.last %}
                                        <a href="{% noclook_node_to_url place.handle_id %}">{{ place.name }}</a></td>
                                    {% else %}
                                        <a href="{% noclook_node_to_url place.handle_id %}">{{ place.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                                <td>{{ item.unit.data.name }}</td>
                                <td>{{ item.network_address }}</td>
                                <td>{{ item.unit.data.vlan }}</td>
                                <td><span class="ip-address">{{ relation.user_address }}</span></td>
                                <td><a href="{% noclook_node_to_url relation.user.handle_id %}">{{ relation.user.data.name }} (AS{{ relation.user.data.as_number }})</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            {% for place in item.unit.get_placement_path.placement_path %}
                            {% if forloop.first %}
                                <td><a href="{% noclook_node_to_url place.handle_id %}">{{ place.name }}</a></td>
                                <td>
                            {% elif forloop.last %}
                                <a href="{% noclook_node_to_url place.handle_id %}">{{ place.name }}</a></td>
                            {% else %}
                                <a href="{% noclook_node_to_url place.handle_id %}">{{ place.name }}</a>
                            {% endif %}
                            {% endfor %}
                            <td>{{ item.unit.data.name }}</td>
                            <td>{{ item.network_address }}</td>
                            <td>{{ item.unit.data.vlan }}</td>
                            <td>None</td>
                            <td>None</td>
                        </tr>
                    {% endif %}
                {% endfor %}
    {% endblockvar %}
    {% table th tbody id="resources" %}
</div>
{% endblock %}
