{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#units").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {
                1 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
        $("#services").tablesorter(
        {
            sortList: [[0,0], [5,0]],
            headers:
            {
                2 : { sorter: "ipAddress"  },
                4 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node.name }}</td>
            </tr>
            <tr>
                <th>Description:</th><td>{{ node.description }}</td>
            </tr>
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
            </tr>
        </table>
    </div>
</div>
<!--
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
-->
<div class="section">
    <h3>Units</h3>
    {% if units %}
        <table id="units" class="tablesorter" cellspacing="1">
            <thead>
                <th>Unit</th><th>Address</th><th>VLAN</th><th>Description</th>
            </thead>
            <tbody>
                {% for item in units %}
                    {% for address in item.ip_addresses %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ address }}<br /></td>
                            <td>{{ item.vlanid }}</td>
                            <td>{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No units found.
    {% endif %}
</div>
<!--
{% if user.is_staff %}
    <a href="edit" class="btn info">Edit</a>
{% endif %}
<br><br><br>
-->
<div class="section">
    {% load noclook_tags %}
    <h3>Depends on this PIC</h3>
    {% if depending_services %}
        <table id="services" class="tablesorter" cellspacing="1">
        <thead>
            <th>Service</th><th>Unit</th><th>Interface Address</th><th>VLAN</th><th>User Address</th><th>User</th>
        </thead>
        <tbody>
            {% for service in depending_services %}
                {% if service.relations %}
                    {% for relation in service.relations %}
                        <tr>
                            <td><a href="{% noclook_node_to_url service.service %}">{{ service.service.name }}</a></td>
                            <td>{{ service.unit.name }}</td>
                            <td>{{ service.if_address }}</td>
                            <td>{{ service.unit.vlanid }}</td>
                            <td>{{ relation.rel_address }}</td>
                            <td><a href="{% noclook_node_to_url relation.relation %}">{{ relation.relation.name }}</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td><a href="{% noclook_node_to_url service.service %}">{{ service.service.name }}</a></td>
                        <td>{{ service.unit.name }}</td>
                        <td>{{ service.if_address }}</td>
                        <td>{{ service.unit.vlanid }}</td>
                        <td>None</td>
                        <td>None</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        No services depending on this PIC found.
    {% endif %}
</div>
{% endblock %}

