{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}

<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Port Type:</th><td>{{ node.data.port_type }}</td>
            </tr>
        </table>
        {% if node.data.description %}
            <div>
                <table class="table">
                    <tr>
                        <th>Description:</th><td>{{ node.data.description }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
    </div>
    <div class="span3">
        {% include "noclook/detail/includes/last_changed.html" %}
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
{% include "noclook/detail/includes/depend_include.html" %}
{% include "noclook/detail/includes/connections.html" with connections=connections urls=urls only %}
{% include "noclook/detail/includes/connection_path.html" %}
{% endblock %}
