{% extends "noclook/detail/base_detail.html" %}

{% block content %}
    {{ block.super }}
    {% load noclook_tags %}
    <div class="row">
        <div class="span4">
            <table class="table">
                <tr>
                    {% if node.data.url %}
                        <th>More information:</th><td><a href="{{ node.data.url }}">Information link</a></td>
                    {% else %}
                        <th>More information:</th><td><a href="https://portal.nordu.net/display/nordunetops/{{ node.data.name }}">To Portal</a></td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <div class="span3">
            <table class="table">
                {% if node.data.noclook_automanage %}
                    <tr>
                        <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
                </tr>
                <tr>
                    <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
                </tr>
            </table>
        </div>
    </div>
    {% if user.is_staff %}
        <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
    {% endif %}
    {% if provides_relationships %}
    <div class="section">
        <div class="pull-right">
            <span class="badge badge-info">Testing</span>
            <span class="badge badge-warning">Reserved</span>
            <span class="badge badge-important">Decommissioned</span>
            {% table_search "services" %}
        </div>
        <h3>Provides</h3>
        {% blockvar th %}
            <th>ID</th><th>Type</th><th>Description</th>
        {% endblockvar %}
        {% blockvar tbody %}
            {% for item in provides_relationships.Provides %}
                {% if item.node.data.operational_state == "Decommissioned" %}
                    <tr class="decommissioned">
                {% elif item.node.data.operational_state == "Reserved" %}
                    <tr class="reserved">
                {% elif item.node.data.operational_state == "Testing" %}
                    <tr class="testing">
                {% else %}
                    <tr>
                {% endif %}
                    <td><a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a></td>
                    {% noclook_get_type item.node.handle_id as node_type %}
                    <td>{{ node_type }}</td>
                    <td>{{ item.node.data.description }}</td>
                </tr>
            {% endfor %}
        {% endblockvar %}
        {% table th tbody id="services" %}
    </div>
    {% endif %}
{% endblock %}

