{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            {% if node.data.height %}
                <tr>
                    <th>Height:</th><td>{{ node.data.height }} mm</td>
                </tr>
            {% endif %}
            {% if node.data.depth %}
                <tr>
                    <th>Depth:</th><td>{{ node.data.depth }} mm</td>
                </tr>
            {% endif %}
            {% if node.data.width %}
                <tr>
                    <th>Width:</th><td>{{ node.data.width }} mm</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        {% include "noclook/detail/includes/last_changed.html" %}
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
{% include "noclook/detail/includes/equipment.html" with equipment=physical_relationships.Located_in title="Equipment in rack" %}
{% endblock %}

