{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}

{% block content %}
{% load noclook_tags %}
{{ block.super }}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node.data.name }}</td>
            </tr>
            <tr>
                <th>Operational State:</th><td>{{ node.data.operational_state }}</td>
            </tr>
            <tr>
                <th>Model:</th><td>{{ node.data.model }}</td>
            </tr>
            <tr>
                <th>JUNOS Version:</th><td>{{ node.data.version }}</td>
            </tr>
        </table>
    </div>
    <div class="span3">
        {% include "noclook/detail/includes/last_changed.html" %}
    </div>
</div>

{% if user.is_staff %}
    <p><a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a></p>
{% endif %}
{% include "noclook/detail/includes/depend_include.html" %}
<div class="section">
    {% load noclook_tags %}
    <div class="pull-right">
        {% table_search "connections" %}
    </div>
    <h3>Interfaces</h3>
    {% blockvar th %}
        <th>Port</th><th>Description</th><th>Cable</th><th>End equipment</th><th>End port</th><th>Units</th><th>Depends on port</th>
    {% endblockvar %}
    {% blockvar tbody %}
        {% for con in connections %}
            <tr>
                <td><a href="{% noclook_node_to_url con.porta.handle_id %}">{{ con.porta.name }}</a></td>
                <td>{{ con.porta.description }}</td>
                <td><a href="{% noclook_node_to_url con.cable.handle_id %}">{{ con.cable.name }}</a></td>
                <td><a href="{% noclook_node_to_url con.end.handle_id %}">{{ con.end.name }}</a></td>
                <td><a href="{% noclook_node_to_url con.portb.handle_id %}">{{ con.portb.name }}</a></td>
                <td>
                    {% noclook_get_model con.porta.handle_id as port %}
                    {% for unit in port.get_units.Part_of|dictsort:"node.data.name" %}
                        <a href="{% noclook_node_to_url unit.node.handle_id %}">{{ unit.node.data.name }}</a>{% if forloop.last %}{% else %},<br>{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for item in port.get_dependents.Depends_on|dictsort:"node.data.name" %}
                        {% noclook_get_type item.handle_id as node_type %}
                        <a href="{% noclook_node_to_url item.node.handle_id %}">{{ node_type }} {{ item.node.data.name }}</a>{% if item.node.data.service_type %} ({{ item.node.data.service_type }}){% endif %}{% if port.get_units.Part_of %},<br>{% endif %}
                    {% endfor %}
                    {% for unit in port.get_units.Part_of|dictsort:"node.data.name" %}
                        {% for item in unit.node.get_dependents.Depends_on|dictsort:"node.data.name" %}
                            {% noclook_get_type item.handle_id as node_type %}
                            <a href="{% noclook_node_to_url item.node.handle_id %}">{{ node_type }} {{ item.node.data.name }}</a> (Unit {{ unit.node.data.name }}){% if forloop.parentloop.last and forloop.last %}{% else %},<br>{% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    {% endblockvar %}
    {% table th tbody id="connections" %}
</div>
{% if hardware_modules %}
{% load attachments_tags %}
<div class="accordion" id="hardware">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#hardware" href="#showHardware">
                Hardware information
            </a>
        </div>
        <div id="showHardware" class="accordion-body collapse">
            <div class="accordion-inner">
                <dl>
                    <dt>Model: </dt><dd>{{node.data.model}}</dd>
                    <dt>Serial number: </dt><dd>{{node.data.serial_number}}</dd>
                    <dt>Download: </dt>
                      {% get_attachments_for node_handle as attachments %}
                      {% for attachment in attachments %}
                        {% if attachment.attachment_file %}
                        <dd><a href="{{ attachment.attachment_file.url }}">{{ attachment.filename }}</a></dd>
                      {% endif %}
                    {% endfor %}
                </dl>
                <pre>{% for module in  hardware_modules %}
{% hardware_module module %}
{% endfor %}</pre>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

