{% extends "noclook/detail/base_detail.html" %}
{% load table_tags %}

{% block title %}{{ block.super }} Detail{% endblock %}

{% block content %}
    {{ block.super }}
    {% load noclook_tags %}
    <div class="row">
        <div class="span4">
            <table class="table">
                {% info_row 'Name:' node.data.name %}
                {% info_row 'Operational State:' node.data.operational_state %}
                {% if node.operational_state == "Decommissioned" %}
                    <tr>
                        <th>Decommissioned:</th><td>{{ node.data.decommissioned_date }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Type:</th><td>{{ node.data.service_class }} - {{ node.data.service_type }}</td>
                </tr>
                {% if node.data.service_type == "Project" %}
                    <tr>
                        <th>Project end date:</th><td>{{ node.data.project_end_date }}</td>
                    </tr>
                {% endif %}
                {% info_row 'NCS Service Name:' node.data.ncs_service_name %}
                {% info_row 'VPN Type:' node.data.vpn_type %}
                {% info_row 'VLAN:' node.data.vlan %}
                {% info_row 'VRF Target:' node.data.vrf_target %}
                {% info_row 'Route Distinguisher:' node.data.route_distinguisher %}
                <tr>
                    <th>Provider:</th>
                    <td>
                        {% for provider in relations.Provides %}
                            <a href="{% noclook_node_to_url provider.node.handle_id %}">{{ provider.node.data.name }}</a><br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Customers:</th>
                    <td>
                        {% for user in relations.Uses %}
                            {% noclook_get_type user.node.handle_id as node_type %}
                            {% if node_type == "Customer" %}
                                <a href="{% noclook_node_to_url user.node.handle_id %}">{{ user.node.data.name }}</a><br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>End Users:</th>
                    <td>
                        {% for user in relations.Uses %}
                            {% noclook_get_type user.node.handle_id as node_type %}
                            {% if node_type == "End User" %}
                                <a href="{% noclook_node_to_url user.node.handle_id %}">{{ user.node.data.name }}</a><br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% info_row 'Contract number:' node.data.contract_number %}
            </table>
        </div>
        <div class="span3">
            <table class="table">
                {% info_row 'NetApp storage use:' node.data.netapp_storage_sum postfix=" GB" %}
                {% if node.data.url %}
                  <tr>
                      <th>More information:</th>
                      <td>
                        <a href="{{ node.data.url }}" target="_blank">Link</a>
                      </td>
                  </tr>
                {% endif %}
                {% include "noclook/detail/includes/last_changed.html" with inline=True %}
            </table>
        </div>
        {% if node.data.description or node.data.responsible_group or node.data.support_group %}
            <div class="span7">
                <table class="table">
                    {% info_row 'Description:' node.data.description %}
                    {% info_row 'Responsible group:' node.data.responsible_group %}
                    {% info_row 'Support group:' node.data.support_group %}
                </table>
            </div>
        {% endif %}
    </div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
{% if node.data.description == "NSI circuit" %}
    {% include "noclook/detail/includes/nsi_information.html" %}
{% endif %}
{% include "noclook/detail/includes/depend_include.html" %}
{% endblock %}

