{% extends "noclook/detail/base_detail.html" %}
{% load table_tags %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                {% if node.data.url %}
                    <th>More information:</th><td><a href="{{ node.data.url }}">Information link</a></td>
                {% else %}
                    <th>More information:</th><td><a href="{% more_info_url node.data.name %}">To Portal</a></td>
                {% endif %}
            </tr>
            {% info_row 'Description:' node.data.description %}
        </table>
    </div>
    <div class="span3">
        {% include "noclook/detail/includes/last_changed.html" %}
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<div class="section">
    <div class="pull-right">
        {% table_search "services" %}
    </div>
    <h3>Sites</h3>

    {% blockvar th %}
                <th>Country</th><th>Name</th>
    {% endblockvar %}
    {% blockvar tbody %}
        {% for item in responsible_relations.Responsible_for %}
            <tr>
                <td><a href="/findin/site/country_code/{{ item.node.data.country_code }}/">{{ item.node.data.country }}</a></td>
                <td><a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a></td>
            </tr>
        {% endfor %}
    {% endblockvar %}
    {% table th tbody id="services" %}
</div>
{% endblock %}

