{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            {% if node.data.site_type %}
                <tr>
                    <th>Type:</th><td>{{ node.data.site_type|capfirst }}</td>
                </tr>
            {% endif %}
            {% if node.data.owner_id %}
                <tr>
                    <th>Owner Site ID:</th><td>{{ node.data.owner_id }}</td>
                </tr>
            {% endif %}
            {% if node.data.owner_site_name %}
                <tr>
                    <th>Owner Site Name:</th><td>{{ node.data.owner_site_name }}</td>
                </tr>
            {% endif %}
            {% if node.data.telenor_subscription_id %}
                <tr>
                    <th>Telenor Subscription ID:</th><td>{{ node.data.telenor_subscription_id }}</td>
                </tr>
            {% endif %}
            {% if node.data.address %}
                <tr>
                    <th>Address:</th><td>{{ node.data.address }}</td>
                </tr>
            {% endif %}
            {% if node.data.postarea %}
                <tr>
                    <th></th><td>{{ node.data.postcode }} {{ node.data.postarea }}</td>
                </tr>
            {% endif %}
            {% if node.data.area %}
                <tr>
                    <th>Area:</th><td>{{ node.data.area }}</td>
                </tr>
            {% endif %}
            {% if node.data.country %}
                <tr>
                    <th>Country:</th><td>{{ node.data.country }}</td>
                </tr>
            {% endif %}
            {% if node.data.latitude and node.data.longitude %}
                <tr>
                    <th>Latitude:</th><td>{{ node.data.latitude }}</td>
                </tr>
                <tr>
                    <th>Longitude:</th><td>{{ node.data.longitude }}</td>
                </tr>
                <tr>
                    <th>Google Maps:</th><td><a href="https://maps.google.com/?q={{ node.data.latitude }},{{ node.data.longitude }}" target="_blank">Link</a></td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.data.floor %}
                <tr>
                    <th>Floor:</th><td>{{ node.data.floor }}</td>
                </tr>
            {% endif %}
            {% if node.data.room %}
                <tr>
                    <th>Room:</th><td>{{ node.data.room }}</td>
                </tr>
            {% endif %}
            {% for item in relations.Responsible_for %}
                {% if forloop.first %}
                    <tr>
                        <th>Site owner:</th><td><a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td><td><a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <th>More information:</th>
                <td>
                    {% if node.data.url %}
                        <a href="{{ node.data.url }}" target="_blank">Link</a>
                    {% else %}
                        <a href="{% more_info_url node.data.name %}" target="_blank">To Portal</a>
                    {% endif %}
                </td>
            </tr>
            {% include "noclook/detail/includes/last_changed.html" with inline=True %}
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
    <a href="import" class="btn btn-warning"><i class="icon-white icon-upload"></i> Import</a>
    <a href="export" class="btn"><i class="icon icon-download"></i> Export</a>
{% endif %}
<div class="section">
    <div class="pull-right">
        {% table_search "locations" %}
    </div>
    <h3>Racks and equipment</h3>
    {% blockvar th %}
      {% for header in racks_table.headers %}
        <th>{{header}}</th>
      {% endfor %}
    {% endblockvar %}
    {% load table_tags %}
    {% blockvar tbody %}
            {% for row in racks_table.rows %}
              <tr{% if row.classes %} class="{{row.classes}}"{% endif %}>
                {% for col in row.cols %}
                  <td>{% table_column col %}</td>
                {% endfor %}
              </tr>
            {% endfor %}
    {% endblockvar %}
    {% table th tbody id="locations" %}
</div>
{% include "noclook/detail/includes/equipment.html" with equipment=equipment_relationships title="Unracked equipment" %}
{% endblock %}

