{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node.data.name }}</td>
            </tr>
            {% if node.data.hostnames %}
                <tr>
                    <th>Hostnames:</th>
                    <td>
                        {% for item in node.data.hostnames %}
                            {{ item }}{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Operational State:</th><td>{{ node.data.operational_state|default:'Unknown' }}</td>
            </tr>
            {% if node.data.model %}
                <tr>
                    <th>Model:</th><td>{{node.data.model}}</td>
                </tr>
            {% endif %}
            {% if node.data.version %}
            <tr>
                <th>JUNOS Version:</th><td>{{ node.data.version }}</td>
            </tr>
            {% endif %}
            {% if node.data.ip_addresses %}
                <tr>
                    <th>Addresses:</th>
                    <td>
                        {% for item in node.data.ip_addresses %}
                            {{ item }}{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if relations.Owns %}
                <tr>
                    <th>Owner:</th>
                    <td>
                        {% for item in relations.Owns %}
                            <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if node.data.service_tag %}
                <tr>
                    <th>Service tag:</th><td>{{ node.data.service_tag }}</td>
                </tr>
            {% endif %}
            {% if node.data.serial_number %}
                <tr>
                    <th>Serial number:</th><td>{{ node.data.serial_number }}</td>
                </tr>
            {% endif %}
            {% if node.data.end_support %}
                <tr>
                    <th>Support ends:</th><td>{{ node.data.end_support }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.data.vendor or node.data.max_number_of_ports %}
                {% if node.data.vendor %}
                    <tr>
                        <th>Vendor:</th><td>{{node.data.vendor}}</td>
                    </tr>
                {% endif %}
                {% if node.data.max_number_of_ports %}
                    <tr>
                        <th>Max ports:</th><td>{{ node.data.max_number_of_ports }}</td>
                    </tr>
                {% endif %}
            {% endif %}
            {% include "noclook/detail/includes/last_changed.html" with inline=True %}
        </table>
    </div>
    {% if node.data.description or node.data.responsible_group or node.data.support_group %}
        <div class="span7">
            <table class="table">
                {% if node.data.description %}
                    <tr>
                        <th>Description:</th><td>{{ node.data.description }}</td>
                    </tr>
                {% endif %}
                {% if node.data.responsible_group %}
                    <tr>
                        <th>Responsible group:</th>
                        <td>
                            {{ node.data.responsible_group }}
                        </td>
                    </tr>
                {% endif %}
                {% if node.data.support_group %}
                    <tr>
                        <th>Support group:</th>
                        <td>
                            {{ node.data.support_group }}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endif %}
</div>

{% if user.is_staff %}
        <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
{% include "noclook/detail/includes/depend_include.html" %}
<div class="section">
    {% load noclook_tags %}
    <div class="pull-right">
        {% table_search "connections" %}
    </div>
    <h3>Interfaces</h3>
    {% blockvar th %}
        <th>Port</th><th>Description</th><th>Cable</th><th>End equipment</th><th>End port</th><th>Units</th><th>Depends on port</th>
    {% endblockvar %}
    {% blockvar tbody %}
        {% for con in connections %}
            <tr>
                <td><a href="{% noclook_node_to_url con.porta.handle_id %}">{{ con.porta.name }}</a></td>
                <td>{{ con.porta.description }}</td>
                <td><a href="{% noclook_node_to_url con.cable.handle_id %}">{{ con.cable.name }}</a></td>
                <td><a href="{% noclook_node_to_url con.end.handle_id %}">{{ con.end.name }}</a></td>
                <td><a href="{% noclook_node_to_url con.portb.handle_id %}">{{ con.portb.name }}</a></td>
                <td>
                    {% noclook_get_model con.porta.handle_id as port %}
                    {% for unit in port.get_units.Part_of|dictsort:"node.data.name" %}
                        <a href="{% noclook_node_to_url unit.node.handle_id %}">{{ unit.node.data.name }}</a>{% if forloop.last %}{% else %},<br>{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for item in port.get_dependents.Depends_on|dictsort:"node.data.name" %}
                        {% noclook_get_type item.handle_id as node_type %}
                        <a href="{% noclook_node_to_url item.node.handle_id %}">{{ node_type }} {{ item.node.data.name }}</a>{% if item.node.data.service_type %} ({{ item.node.data.service_type }}){% endif %}{% if port.get_units.Part_of %},<br>{% endif %}
                    {% endfor %}
                    {% for unit in port.get_units.Part_of|dictsort:"node.data.name" %}
                        {% for item in unit.node.get_dependents.Depends_on|dictsort:"node.data.name" %}
                            {% noclook_get_type item.handle_id as node_type %}
                            <a href="{% noclook_node_to_url item.node.handle_id %}">{{ node_type }} {{ item.node.data.name }}</a> (Unit {{ unit.node.data.name }}){% if forloop.parentloop.last and forloop.last %}{% else %},<br>{% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    {% endblockvar %}
    {% table th tbody id="connections" %}
</div>
{% include "noclook/detail/includes/host_services.html" %}
{% if hardware_modules %}
<div class="accordion" id="hardware">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#hardware" href="#showHardware">
                Hardware information
            </a>
        </div>
        <div id="showHardware" class="accordion-body collapse">
            <div class="accordion-inner">
                <dl>
                    <dt>Model: </dt><dd>{{node.data.model}}</dd>
                    <dt>Serial number: </dt><dd>{{node.data.serial_number}}</dd>
                </dl>
                <pre>{% for module in  hardware_modules %}
{% hardware_module module %}
{% endfor %}</pre>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
