{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} Detail{% endblock %}

{% block content %}
    {{ block.super }}
    {% load noclook_tags %}
    <div class="row">
        <div class="span4">
            <table class="table">
                <tr>
                    <th>Name:</th><td>{{ node.data.name }}</td>
                </tr>
                <tr>
                    <th>IP Addresses:</th><td class="break-word">{% for address in node.data.ip_addresses %}{{ address }}<br>{% endfor %}</td>
                </tr>
                {% if node.data.vlan %}
                    <tr>
                        <th>VLAN:</th><td>{{ node.data.vlan }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <div class="span3">
            {% include "noclook/detail/includes/last_changed.html" %}
        </div>
        {% if node.data.description %}
            <div class="span7">
                <table class="table">
                    {% if node.data.description %}
                        <tr>
                            <th>Description:</th><td>{{ node.data.description }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        {% endif %}
    </div>
{% if user.is_staff %}
    <a href="#dialog-object-confirm" class="btn btn-danger" data-toggle="modal"><i class="icon-edit icon-white"></i> Delete</a>
{% endif %}
<br><br><br>
{% include "noclook/detail/includes/depend_include.html" %}
  <!-- Modal -->
  <div id="dialog-object-confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Delete {{ node_handle.node_type }} {{ node_handle.node_name }}?</h3>
    </div>
    <div class="modal-body">
      <p><i class="icon-warning-sign"></i> The {{ node_handle.node_type|lower }} will be permanently deleted and cannot be recovered. It Are you sure?</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <a href="delete" rel="nofollow" class="btn btn-primary">Confirm</a>
    </div>
  </div>
{% endblock %}

