{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} Detail{% endblock %}

{% block content %}
    {{ block.super }}
    {% load noclook_tags %}
    <div class="row">
        <div class="span4">
            <table class="table">
                <tr>
                    <th>Name:</th><td>{{ node.data.name }}</td>
                </tr>
                <tr>
                    <th>IP Addresses:</th><td class="break-word">{% for address in node.data.ip_addresses %}{{ address }}<br>{% endfor %}</td>
                </tr>
                {% if node.data.vlan %}
                    <tr>
                        <th>VLAN:</th><td>{{ node.data.vlan }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <div class="span3">
            {% include "noclook/detail/includes/last_changed.html" %}
        </div>
        {% if node.data.description %}
            <div class="span7">
                <table class="table">
                    {% if node.data.description %}
                        <tr>
                            <th>Description:</th><td>{{ node.data.description }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        {% endif %}
    </div>
<!--
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
-->
{% include "noclook/depend_include.html" %}
{% endblock %}

