{% extends "base.html" %}

{% block content %}
    <h1>Create new site owner</h1>
    {% if form.errors %}
         <div class="alert alert-error">
            <h4 class="alert-heading">The operation could not be performed because one or more error(s) occurred.</h4>
            Please resubmit the form after making the following changes:
            {{ form.errors }}
        </div>
    {% endif %}
    <div class="well">
        <form action="." method="post">{% csrf_token %}
            <h3>Name</h3>
            {{ form.name }}
            <br><br>
            <h3>Information URL (optional)</h3>
            {{ form.url }}
            <span class="help-block">{{ form.url.help_text }}</span>
            <br />
            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/new/" class="btn">Cancel</a>
        </form>
    </div>
{% endblock %}

