{% extends "base.html" %}

{% block title %}{{ block.super }} | Detail{% endblock %}

{% block content %}
    <div class="content">
        <h3>Edit relationship {{ rel.start.name }} {{ rel.type }} {{ rel.end.name }}</h3>
        <form action="/save/{{ rel.start.type|slugify }}/{{ rel.start.handle_id }}/relationship/{{ rel.id }}/" method="post">
            {% csrf_token %}
            <table>
                {% for key, value in rel_properties.items %}
                <tr>
                    <th>{{ key}}:</th><td><input type="text" name="{{ key }}" value="{{ value }}" /></td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Save">
            <a href='{{ node_handle.get_absolute_url }}'><input type="button" value="Done"></a>
        </form>

        <h3>Add a new property</h3>
        <form action="/save/{{ rel.start.type|slugify }}/{{ rel.start.handle_id }}/relationship/{{ rel.id }}/" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>New key</th><th>New value</th>
                </tr>
                <tr>
                    <td><input type="text" name="new_key0" value="" /></td><td><input type="text" name="new_value0" value="" /></td>
                </tr>
            </table>
            <input type="submit" value="Save">
            <a href='{{ node_handle.get_absolute_url }}'><input type="button" value="Done"></a>
        </form>

<p><a id="toggle_debug" href="javascript:toggle_debug()">Toggle debug information</a></p>
    <div id="debug">
        <h3>Debug</h3>
        <h4>Relationship properties</h4>
        <table>
        {% for key,value in rel.properties.items %}
            <tr>
                <td><b>{{key}}</b></td><td>{{value}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
