{% extends "base.html" %}

{% block title %}{{ block.super }} | All nodes{% endblock %}

{% block content %}
    <div class="content">
            <table>
            <tr><td>Node type</td><td>Node name</td></tr>
            {% for handle in node_handle_list %}
                <tr>
                    <td><a class="type" href="{{ handle.get_absolute_url }}">{{ handle.node_type }}</a></td>
                    <td><a class="handle" href="{{ handle.get_absolute_url }}">{{ handle.node_name }}</a></td>
                </tr>

            {% endfor %}
            </table>
     </div>
{% endblock %}
