{% extends "base.html" %}

{% block title %}{{ block.super }} Visualize {{ node_handle }}{% endblock %}

{% block js %}
<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/site_media/js/jit/jit-yc.js"></script>
<!-- JIT Force-Direction Graph -->
<script language="javascript" type="text/javascript" src="/site_media/js/jit/visualize.js"></script>
<!-- First initialize -->
<script type="text/javascript">
window.onload = function(){
    $.getJSON('/visualize/{{ node_handle.node_type|slugify }}/{{ node_handle.handle_id }}.json', function(json) {
        init(json);
    });
};
</script>
{% endblock %}

{% block content %}
<div class="content">
    <h2><a href="{{ node_handle.get_absolute_url }}">{{ node_handle }}</a></h2>
    <div id="infovis_section">
        <div id="infovis"></div>
    </div>
    <p><a id="toggle_debug" href="javascript:toggle_debug()">Toggle debug information</a></p>
    <div id="debug">
        <h4>Log</h4>
        <div class="section">
            <div id="log"></div>
        </div>
        <h4>Debug</h4>
        <div class="section">
            <div id="id-list"></div>
            <div id="inner-details"></div>
        </div>
    </div>
</div>
{% endblock %}
