{% extends "base.html" %}

{% block title %}{{ block.super }} Visualize {{ node_handle }}{% endblock %}

{% block head %}
<!--[if IE]><script language="javascript" type="text/javascript" src="/site_media/js/jit/Extras/excanvas.js"></script><![endif]-->
<!-- JQuery Library File -->
<script language="javascript" type="text/javascript" src="/site_media/js/jquery/jquery-1.4.4.min.js"></script>
<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/site_media/js/jit/jit-yc.js"></script>
<!-- JIT Force-Direction Graph -->
<script language="javascript" type="text/javascript" src="/site_media/js/jit/visualize.js"></script>
<!-- First initialize -->
<script type="text/javascript">
window.onload = function(){
    $.getJSON('/visualize/{{ node_handle.node_type|slugify }}/{{ node_handle.handle_id }}.json', function(json) {
        init(json);
    });
};
</script>
{% endblock %}

{% block content %}
<div class="content">
    <h2><a href="{{ node_handle.get_absolute_url }}">{{ node_handle }}</a></h2>
    <div class="infovis_section">
        <div id="infovis"></div>
    </div>

    <h4>Log</h4>
    <div class="section">
        <div id="log"></div>
    </div>

    <h4>Debug</h4>
    <div class="section">
        <div id="id-list"></div>
        <div id="inner-details"></div>
    </div>
</div>
{% endblock %}
