{% extends "base.html" %}

{% block title %}{{ block.super }} | Welcome{% endblock %}

{% block js %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span7">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h1 class="text-centered">
                Welcome to NOCLook - seamless-test-3<br />
                <small>{{ noclook.brand }} Network Inventory</small>
            </h1>
            <br />
            <br />
            <br />
            {% if user.is_authenticated %}
                <form action="/search/" method="post" class="form-search text-centered">{% csrf_token %}
                    <input class="xlarge search-query" type="search" id="index" name="q" /> <button class="btn primary" type="submit">Search</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
