*~
*.pyc
logs
*.log
db
dependencies
settings.py
env
.cache
.idea
*.conf
*.pem
*.crt
*.key
*.sqlite3
*.swp
src/niweb/sitestatic
src/niweb/niweb/static
src/niweb/media
tools/nerds
docker/data
.DS_Store
