{% load noclook_tags %}
<div class="section">
    <h3>Connection path</h3>
    {% for item in connection_path %}
        <div class="text-center">
            {% if node.handle_id == item.part.handle_id %}
                <strong style="font-size: 20px;">
            {% endif %}
            {% if item.parent %}
                <a href="{% noclook_node_to_url item.parent.handle_id %}">{{ item.parent.name }}</a>
            {% endif %}
            <a href="{% noclook_node_to_url item.part.handle_id %}">{{ item.part.name }}</a>
            {% if item.part.cable_type %}
                ({{ item.part.cable_type }})
            {% endif %}
            {% if item.part.port_type %}
                ({{ item.part.port_type }})
            {% endif %}
            {% if node.handle_id == item.part.handle_id %}
                </strong>
            {% endif %}
        </div>
        {% if not forloop.last %}
            <div class="text-center">
                <i class="icon-arrow-up"></i><i class="icon-arrow-down"></i>
            </div>
        {% endif %}
    {% empty %}
        No connection path found.
    {% endfor %}
</div>
