{% load userprofile_tags %}
{% if not inline %}
<table class="table">
{% endif %}
    {% if node.data.noclook_auto_manage %}
        <tr>
            <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
        </tr>
    {% endif %}
    <tr>
      <th>Modified:</th><td>{{ node_handle.modified }} by {% userprofile_link node_handle.modifier %}</td>
    </tr>
    <tr>
      <th>Created:</th><td>{{ node_handle.created }} by {% userprofile_link node_handle.creator %}</td>
    </tr>
{% if not inline %}
</table>
{% endif %}
