{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} | Detail{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        // IP address lookup
        $(".ip-address").click(function() {
            var ip_address = $(this).text();
            var elem = $(this)
            elem.css('cursor','wait');
            $.post('/ajax/hostname/', {ip_address: ip_address},
                    function(data) {
                        elem.tooltip({title: data});
                        elem.tooltip('toggle');
                        elem.css('cursor','pointer');
                    });
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node.data.name }}</td>
            </tr>
            <tr>
		    <th>AS Number:</th><td>{{ node.data.as_number }}</td>
            </tr>
            <tr>
		    <th>PeeringDB:</th><td><a href="http://www.peeringdb.com/view.php?asn={{ node.data.as_number }}" target="_blank">{{ node.data.as_number }}</a></td>
            </tr>
        </table>
    </div>
    <div class="span3">
        {% include "noclook/detail/includes/last_changed.html" %}
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    {% load noclook_tags %}
        <div class="pull-right">
            <span class="badge badge-important">Expired</span>
            {% table_search "services" %}
        </div>
    <h3>Services used</h3>
    {% blockvar th %}
                    <th>{{ node.data.name }} IP Address</th><th>Service</th><th>Interface Network</th><th>Unit</th><th>PIC</th><th>Router</th>
    {% endblockvar %}
    {% blockvar tbody %}
                {% for item in user_dependencies %}
                    {% noclook_has_expired item.relationship as expired %}
                    {% if expired %}
                        <tr class="expired">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td><span class="ip-address">{{ item.user_address }}</span></td>
                    <td><a href="{% noclook_node_to_url item.peering_group.handle_id %}">{{ item.peering_group.data.name }}</a></td>
                    <td>{{ item.network_address }}</td>
                    <td>{{ item.unit.data.name }}</td>
                    {% with placement_path=item.unit.get_placement_path.placement_path %}
                    <td>
                      {% if placement_path.1 %}
                        <a href="{% noclook_node_to_url placement_path.1.handle_id %}">{{ placement_path.1.name }}</a></td>
                      {% endif %}
                    </td>
                    <td>
                      {% if placement_path.0 %}
                        <a href="{% noclook_node_to_url placement_path.0.handle_id %}">{{ placement_path.0.name }}</a></td>
                      {% endif %}
                    </td>
                    {% endwith %}
                </tr>
            {% endfor %}
    {% endblockvar %}
    {% table th tbody id="services" %}
</div>
{% endblock %}
