{% extends "noclook/detail/base_detail.html" %}

{% block content %}
    {{ block.super }}
    {% load noclook_tags %}
    <div class="row">
        <div class="span4">
            <table class="table">
                <tr>
                    {% if node.data.url %}
                        <th>More information:</th><td><a href="{{ node.data.url }}">Information link</a></td>
                    {% else %}
                        <th>More information:</th><td><a href="{% more_info_url node.data.name %}">To Portal</a></td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <div class="span3">
            {% include "noclook/detail/includes/last_changed.html" %}
        </div>
    </div>
    {% if user.is_staff %}
        <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
    {% endif %}
    {% if provides_relationships %}
    <div class="section">
        <div class="pull-right">
            <span class="badge badge-info">Testing</span>
            <span class="badge badge-warning">Reserved</span>
            <span class="badge badge-important">Decommissioned</span>
            {% table_search "services" %}
        </div>
        <h3>Provides</h3>
        {% blockvar th %}
            <th>ID</th><th>Type</th><th>Description</th>
        {% endblockvar %}
        {% blockvar tbody %}
            {% for item in provides_relationships.Provides %}
                {% if item.node.data.operational_state == "Decommissioned" %}
                    <tr class="decommissioned">
                {% elif item.node.data.operational_state == "Reserved" %}
                    <tr class="reserved">
                {% elif item.node.data.operational_state == "Testing" %}
                    <tr class="testing">
                {% else %}
                    <tr>
                {% endif %}
                    <td><a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a></td>
                    {% noclook_get_type item.node.handle_id as node_type %}
                    <td>{{ node_type }}</td>
                    <td>{{ item.node.data.description }}</td>
                </tr>
            {% endfor %}
        {% endblockvar %}
        {% table th tbody id="services" %}
    </div>
    {% endif %}
    {% include "noclook/detail/includes/equipment.html" with equipment=owned_equipment.Owns title='Owned Equipment' %}
{% endblock %}

