{% extends "base.html" %}

{% block content %}
    <h1>Create new ODF</h1>
    {% if form.errors %}
        <div class="alert alert-error">
            <h4 class="alert-heading">The operation could not be performed because one or more error(s) occurred.</h4>
            Please resubmit the form after making the following changes:
            {{ form.errors }}
        </div>
    {% endif %}
    <div class="well">
        <form action="." method="post">{% csrf_token %}
            <h3>Name</h3>
            {{ form.name }}
            <br><br>
            <h3>Number of ports</h3>
            {{ form.max_number_of_ports }}
            <br />
            <br />
            <input type="hidden" name="meta_type" value="physical" />
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/new/" class="btn">Cancel</a>
        </form>
    </div>
{% endblock %}

