{% extends "noclook/edit/base_edit.html" %}

{% block js %}
{{ block.super }}
{% load niweb_tags %}
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jCombo.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jeditable.mini.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.json-2.4.min.js"></script>
<script type="text/javascript">
$(document).ready(
    function(){
        // Modal delete object confirm
        $("#dialog-object-confirm").dialog({
          modal: true,
                bgiframe: true,
                width: 500,
                height: 200,
          autoOpen: false
          });

        $("#object-confirm").click(function(e) {
            e.preventDefault();
            var theHREF = $(this).attr("href");

            $("#dialog-object-confirm").dialog('option', 'buttons', {
                    "Confirm" : function() {
                        window.location.href = theHREF;
                        },
                    "Cancel" : function() {
                        $(this).dialog("close");
                        }
                    });

            $("#dialog-object-confirm").dialog("open");
        });
        // Populate first level combo box
        $.getJSON('/formdata/site/', function(data) {
            $('#level0').append($('<option>').val("0").text("-- Please Select --"));
            $.each(data, function(key, tuple) {
                $('#level0').append($('<option>').val(tuple[0]).text(tuple[1]));
            });
        });
        $('#level0').click(function() {
            $("#id_relationship_location").val($(this).val());
        });
        // Hook lower level combo boxes up to their parent
        $("#level1").jCombo("/formdata/{id}/children/rack/", {
                        parent: "#level0",
                        end_value_field: "#id_relationship_location"
                    });
        // Modal delete connection confirm
        $("#dialog-user-confirm").dialog({
            modal: true,
            bgiframe: true,
            width: 500,
            height: 200,
            autoOpen: false
        });

        $("a.user-confirm").click(function(e) {
            e.preventDefault();
            var theHREF = $(this).attr("href");


            $("#dialog-user-confirm").dialog('option', 'buttons', {
                "Confirm" : function() {
                    window.location.href = theHREF;
                },
                "Cancel" : function() {
                    $(this).dialog("close");
                }
            });

            $("#dialog-user-confirm").dialog("open");

        });
        // Accordion
        $(".edit-accordion").collapse()
        // Editable list
        function makeEditable()
        {
            $('.editable').editable(function(value, settings)
            {
                /* Debug

                 console.log(this);
                 console.log(value);
                 console.log(settings);
                 */
                return(value);
            });
        }
        function makeDelable()
        {
            $('a.delete').click(function(e)
            {
                e.preventDefault();
                $(this).parent().parent().remove();
                saveList();
            });
        }
        function loadList()
        {
            var list = $.parseJSON($('#id_responsible_persons').val());
            $(list).each(function(i, item) {
                addItem(item);
            });
        }
        function saveList()
        {
            var list = [];
            $('.editable').each(function(i, item) {
                list.push($(item).html());
            });
            $('#id_responsible_persons').val($.toJSON(list));

        }
        function addItem(itemName)
        {
            $("#responsible").append('<div class="row"><div class="span2"><span class="editable">' + itemName + '</span></div><div class="span1"><a href="" class="delete label label-important">Delete</a></div></div>');
            makeEditable();
            makeDelable();
        }
        loadList();
        makeEditable();
        makeDelable();
        // Disable Enter key in the text input so to now submit form when trying to add item
        $('input[name=addresp]').keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code === 13) {
                var item = $('input[name=addresp]');
                addItem(item.val());
                item.val('');
                saveList();
            }
            return (code != 13);
        });
        $('a#add').click(function(e)
        {
            e.preventDefault();
            var item = $('input[name=addresp]');
            addItem(item.val());
            item.val('');
            saveList();
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
    <div id="dialog-user-confirm" title="Remove relationship?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>The relationship will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>
    <div id="operation-section">
        <h3>Operational information</h3>
        <div class="well">
            <label>Description</label>
            {{ form.description }}
            <span class="help-block">{{ form.description.help_text }}</span>
            <label>Responsible</label>
            {{ form.responsible_persons }}
            <div id="responsible"></div>
            <div class="row">
                <div class="span2">
                    <input class="span2" type="text" name="addresp" />
                </div>
                <div class="span1">
                    <a id="add" class="label label-success" href="">Add</a>
                </div>
            </div>
            <span class="help-block">{{ form.responsible_person.help_text }}</span>
            <label>Backup</label>
            {{ form.backup }}
            <span class="help-block">{{ form.backup.help_text }}</span>
            <label>Syslog</label>
            {{ form.syslog }}
            <span class="help-block">{{ form.syslog.help_text }}</span>
            <label>In operation</label>
            {{ form.in_operation }}
            <span class="help-block">{{ form.in_operation.help_text }}</span>
        </div>
    </div>

    <div class="accordion" id="edit-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseOne">
                    Operational information (optional)
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <label>Operating system</label>
                    {{ form.os }}
                    <span class="help-block">{{ form.os.help_text }}</span>
                    <label>Operating system version</label>
                    {{ form.os_version }}
                    <span class="help-block">{{ form.os_version.help_text }}</span>
                    {% if node_handle.node_meta_type == 'physical' %}
                        <label>Vendor</label>
                        {{ form.vendor }}
                        <span class="help-block">{{ form.vendor.help_text }}</span>
                        <label>Hardware model</label>
                        {{ form.model }}
                        <span class="help-block">{{ form.model.help_text }}</span>
                        <label>Service tag</label>
                        {{ form.service_tag }}
                        <span class="help-block">{{ form.service_tag.help_text }}</span>
                        <label>End of support</label>
                        {{ form.end_support }}
                        <span class="help-block">{{ form.end_support.help_text }}</span>
                        <script>
                            $(function() {
                                $( "#id_end_support" ).datepicker({ dateFormat: "yy-mm-dd" });
                            });
                        </script>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseTwo">
                    Location (optional)
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    {% if location %}
                        <label>Current location</label>
                        {% load noclook_tags %}
                        {% for hit in location %}
                            <div class="row">
                                <div class="span3">
                                    <a href="{% noclook_node_to_url hit.loc %}">{{ hit.parent.name }} {{ hit.loc.name }}</a>
                                </div>
                                <div class="span1">
                                    <a href="relationship/{{ hit.loc_rel.id }}/delete" class="label label-important user-confirm">Delete</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <label>Set location</label>
                    {{ form.relationship_location }}
                    <select class="stacked" name="level0" id="level0"></select>
                    <select class="stacked" name="level1" id="level1"></select>
                    <!--
                    <hr>
                    <h3>Dimensions</h3>
                    <label>Rack units</label>
                    {{ form.units }}
                    <span class="help-block">{{ form.units.help_text }}</span>
                    <label>Start unit</label>
                    {{ form.start_unit }}
                    <span class="help-block">{{ form.start_unit.help_text }}</span>
                    -->
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseThree">
                    {% if node_handle.node_meta_type == 'logical' %}Host users (optional){% else %}Host owners (optional){% endif %}
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    {% if node_handle.node_meta_type == 'logical' %}
                        {% if user_relationships %}
                            {% load noclook_tags %}
                            <h4>Remove user</h4>
                            {% for rel in user_relationships %}
                                <div class="row">
                                    <div class="span5">
                                        <a href="{% noclook_node_to_url rel.start %}">{{ rel.start.name }}</a>
                                    </div>
                                    <div class="span1">
                                        <a href="relationship/{{ rel.id }}/delete" class="label label-important user-confirm">Delete</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <hr />
                        <h4>Add user</h4>
                        {{ form.relationship_user }}
                    {% else %}
                        {% if owner_relationships %}
                            {% load noclook_tags %}
                            <h4>Remove owner</h4>
                            {% for rel in owner_relationships %}
                                <div class="row">
                                    <div class="span5">
                                        <a href="{% noclook_node_to_url rel.start %}">{{ rel.start.name }}</a>
                                    </div>
                                    <div class="span1">
                                        <a href="relationship/{{ rel.id }}/delete" class="label label-important user-confirm">Delete</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <hr />
                        <h4>Add owner</h4>
                        {{ form.relationship_owner }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}