{% extends "noclook/edit/base_edit.html" %}

{% block js %}
{{ block.super }}
{% load niweb_tags %}
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jCombo.js"></script>
<script type="text/javascript">
$(document).ready(
    function(){
        // Modal delete object confirm
        $("#dialog-object-confirm").dialog({
          modal: true,
                bgiframe: true,
                width: 500,
                height: 200,
          autoOpen: false
          });

        $("#object-confirm").click(function(e) {
            e.preventDefault();
            var theHREF = $(this).attr("href");

            $("#dialog-object-confirm").dialog('option', 'buttons', {
                    "Confirm" : function() {
                        window.location.href = theHREF;
                        },
                    "Cancel" : function() {
                        $(this).dialog("close");
                        }
                    });

            $("#dialog-object-confirm").dialog("open");
        });
        // Populate first level combo box
        $.getJSON('/formdata/site/', function(data) {
            $('#level0').append($('<option>').val("0").text("-- Please Select --"));
            $('#level0').append($('<option>').val("-1").text("-- Remove current --"));
            $.each(data, function(key, tuple) {
                $('#level0').append($('<option>').val(tuple[0]).text(tuple[1]));
            });
        });
        $('#level0').click(function() {
            $("#id_relationship_location").val($(this).val());
        });
        // Accordion
        $(".edit-accordion").collapse()
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
    <div class="well">
        <h3>Name</h3>
        {{ form.name }}
    </div>

    <div class="accordion" id="edit-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseOne">
                    Dimensions (optional)
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <label>Height</label>
                    {{ form.height }}
                    <span class="help-block">{{ form.height.help_text }}</span>
                    <label>Depth</label>
                    {{ form.depth }}
                    <span class="help-block">{{ form.depth.help_text }}</span>
                    <label>Width</label>
                    {{ form.width }}
                    <span class="help-block">{{ form.width.help_text }}</span>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseTwo">
                    Location (optional)
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <label>Current</label></td>
                    <span class="input-large uneditable-input">
                    {% if location %}
                        {% for loc in location %}
                            {{ loc.name }}
                        {% endfor %}
                    {% endif %}
                    </span>
                    <label>Change</label>
                    {{ form.relationship_location }}
                    <select class="stacked" name="level0" id="level0"></select>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

