{% extends "noclook/edit/base_edit.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        // Modal delete object confirm
        $("#dialog-object-confirm").dialog({
          modal: true,
                bgiframe: true,
                width: 500,
                height: 200,
          autoOpen: false
          });

        $("#object-confirm").click(function(e) {
            e.preventDefault();
            var theHREF = $(this).attr("href");

            $("#dialog-object-confirm").dialog('option', 'buttons', {
                    "Confirm" : function() {
                        window.location.href = theHREF;
                        },
                    "Cancel" : function() {
                        $(this).dialog("close");
                        }
                    });

            $("#dialog-object-confirm").dialog("open");
        });
        // Populate first level combo box
        $.getJSON('/formdata/site-owner/', function(data) {
            $('#level0').append($('<option>').val("0").text("-- Please Select --"));
            $.each(data, function(key, tuple) {
                $('#level0').append($('<option>').val(tuple[0]).text(tuple[1]));
            });
        });
        $('#level0').click(function() {
            $("#id_relationship_site_owner").val($(this).val());
        });
        // Accordion
        $(".edit-accordion").collapse()
    }
);
</script>
{% endblock %}
{% block content %}
{{ block.super }}
    <div class="well">
        <h3>Name</h3>
        {{ form.name }}
        <h3>Site Type (optional)</h3>
        {{ form.site_type }}
    </div>

    <div class="accordion" id="edit-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseOne">
                    Address (optional)
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <label>Street</label>
                    {{ form.address }}
                    <label>Floor</label>
                    {{ form.floor }}
                    <span class="help-inline">{{ form.floor.help_text }}</span>
                    <label>Room</label>
                    {{ form.room }}
                    <span class="help-inline">{{ form.room.help_text }}</span>
                    <label>Postcode</label>
                    {{ form.postcode }}
                    <label>Postarea</label>
                    {{ form.postarea }}
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseTwo">
                    Location (optional)
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <label>Country</label>
                    <span class="input-large">{{ form.country }}</span>
                    <label>Area</label>
                    {{ form.area }}
                    <span class="help-inline">{{ form.area.help_text }}</span>
                    <label>Longitude</label>
                    {{ form.longitude }}
                    <span class="help-inline">{{ form.longitude.help_text }}</span>
                    <label>Latitude</label>
                    {{ form.latitude }}
                    <span class="help-inline">{{ form.longitude.help_text }}</span>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseThree">
                    Site Owner (optional)
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <label>Current</label></td>
                    <span class="input-large uneditable-input">
                    {% if site_owner %}
                        {% for owner in site_owner %}
                            {{ owner.start.name }}
                        {% endfor %}
                    {% endif %}
                    </span>
                    <label>Change</label>
                    {{ form.relationship_site_owner }}
                    <select class="stacked" name="level0" id="level0"></select>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseFour">
                    Other IDs and information (optional)
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <label>Owner Site ID</label>
                    {{ form.owner_id }}
                    <label>Owner Site Name</label>
                    {{ form.owner_site_name }}
                    <label>Telenor Subscription ID</label>
                    {{ form.telenor_subscription_id }}
                    <label>Information URL</label>
                    {{ form.url }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

