{% extends "noclook/edit/base_edit.html" %}

{% block js %}
    {{ block.super }}
    {% load niweb_tags %}
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jCombo.js"></script>
    <script type="text/javascript">
        $(document).ready(
                function(){
                    // Modal delete object confirm
                    $("#dialog-object-confirm").dialog({
                        modal: true,
                        bgiframe: true,
                        width: 500,
                        height: 200,
                        autoOpen: false
                    });

                    $("#object-confirm").click(function(e) {
                        e.preventDefault();
                        var theHREF = $(this).attr("href");


                        $("#dialog-object-confirm").dialog('option', 'buttons', {
                            "Confirm" : function() {
                                window.location.href = theHREF;
                            },
                            "Cancel" : function() {
                                $(this).dialog("close");
                            }
                        });

                        $("#dialog-object-confirm").dialog("open");
                    });
                    // Parent //
                    // Populate first level combo box
                    $.getJSON('/formdata/site/', function(data) {
                        $('#level0').append($('<option>').val("0").text("-- Please Select --"));
                        $.each(data, function(key, tuple) {
                            $('#level0').append($('<option>').val(tuple[0]).text(tuple[1]));
                        });
                    });
                    // Hook lower level combo boxes up to their parent
                    $("#level1").jCombo("/formdata/{id}/children/", {
                        parent: "#level0",
                        end_value_field: "#id_relationship_parent"
                    });
                    $("#level2").jCombo("/formdata/{id}/children/", {
                        parent: "#level1",
                        end_value_field: "#id_relationship_parent"
                    });
                    $("#level3").jCombo("/formdata/{id}/children/", {
                        parent: "#level2",
                        end_value_field: "#id_relationship_parent"
                    });
                    $("#level4").jCombo("/formdata/{id}/children/", {
                        parent: "#level3",
                        end_value_field: "#id_relationship_parent"
                    });
                    // Modal delete connection confirm
                    $("#dialog-user-confirm").dialog({
                        modal: true,
                        bgiframe: true,
                        width: 500,
                        height: 200,
                        autoOpen: false
                    });

                    $("a.user-confirm").click(function(e) {
                        e.preventDefault();
                        var theHREF = $(this).attr("href");


                        $("#dialog-user-confirm").dialog('option', 'buttons', {
                            "Confirm" : function() {
                                window.location.href = theHREF;
                            },
                            "Cancel" : function() {
                                $(this).dialog("close");
                            }
                        });

                        $("#dialog-user-confirm").dialog("open");

                    });
                }
        );
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="dialog-user-confirm" title="Remove relationship?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>The relationship will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>
    <div class="well">
        <h3>Name</h3>
        {{ form.name }}
        <div class="alert alert-info">
            <strong>Naming of ports</strong><br>
            Juniper port: aeX, ge-X/X/X, so-X/X/X and so on.<br>
            Alcatel-Lucent optical node: rXsrXslX/port#X.<br>
            ODF: 1, 2, or 1+2, 3+4 or use part of Alcatel Lucent naming scheme if applicable, eg. slX/port#X.<br>
        </div>
        <h3>Port Type</h3>
        {{ form.port_type }}
    </div>
    <div id="parent-section">
        <h3>Port location (optional)</h3>
        <div class="well">
            {% if location %}
                <label>Current location</label>
                {% load noclook_tags %}
                {% for hit in location %}
                    <div class="row">
                        <div class="span3">
                            <a href="{% noclook_node_to_url hit.loc %}">{{ hit.parent.name }} {{ hit.loc.name }}</a>
                        </div>
                        <div class="span1">
                            <a href="relationship/{{ hit.loc_rel.id }}/delete" class="label label-important user-confirm">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <label>Set location</label>
            {{ form.relationship_parent }}
            <select class="stacked" name="level0" id="level0"></select>
            <select class="stacked" name="level1" id="level1"></select>
            <select class="stacked" name="level2" id="level2"></select>
            <select class="stacked" name="level3" id="level3"></select>
            <select class="stacked" name="level4" id="level4"></select>
            <span class="help-block">Choose port location</span>
        </div>
    </div>
{% endblock %}

