{% extends "noclook/edit/base_edit.html" %}

{% block js %}
    {{ block.super }}
    {% load niweb_tags %}
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jCombo.js"></script>
    <script type="text/javascript">
        $(document).ready(
            function(){
                // Modal delete object confirm
                $("#dialog-object-confirm").dialog({
                    modal: true,
                    bgiframe: true,
                    width: 500,
                    height: 200,
                    autoOpen: false
                });

                $("#object-confirm").click(function(e) {
                    e.preventDefault();
                    var theHREF = $(this).attr("href");

                    $("#dialog-object-confirm").dialog('option', 'buttons', {
                        "Confirm" : function() {
                            window.location.href = theHREF;
                        },
                        "Cancel" : function() {
                            $(this).dialog("close");
                        }
                    });

                    $("#dialog-object-confirm").dialog("open");
                });
                // Modal delete connection confirm
                $("#dialog-user-confirm").dialog({
                    modal: true,
                    bgiframe: true,
                    width: 500,
                    height: 200,
                    autoOpen: false
                });

                $("a.user-confirm").click(function(e) {
                    e.preventDefault();
                    var theHREF = $(this).attr("href");


                    $("#dialog-user-confirm").dialog('option', 'buttons', {
                        "Confirm" : function() {
                            window.location.href = theHREF;
                        },
                        "Cancel" : function() {
                            $(this).dialog("close");
                        }
                    });

                    $("#dialog-user-confirm").dialog("open");

                });
{#                // End Point //#}
{#                // Populate first level combo box#}
{#                $.getJSON('/formdata/site/', function(data) {#}
{#                    $('#level0A').append($('<option>').val("0").text("-- Please Select --"));#}
{#                    $.each(data, function(key, tuple) {#}
{#                        $('#level0A').append($('<option>').val(tuple[0]).text(tuple[1]));#}
{#                    });#}
{#                });#}
{#                // Hook lower level combo boxes up to their parent#}
{#                $("#level1A").jCombo("/formdata/{id}/children/", {#}
{#                    parent: "#level0A",#}
{#                    end_value_field: "#id_relationship_end_point"#}
{#                });#}
{#                $("#level2A").jCombo("/formdata/{id}/children/", {#}
{#                    parent: "#level1A",#}
{#                    end_value_field: "#id_relationship_end_point"#}
{#                });#}
{#                $("#level3A").jCombo("/formdata/{id}/children/", {#}
{#                    parent: "#level2A",#}
{#                    end_value_field: "#id_relationship_end_point"#}
{#                });#}
{#                $("#level4A").jCombo("/formdata/{id}/children/", {#}
{#                    parent: "#level3A",#}
{#                    end_value_field: "#id_relationship_end_point"#}
{#                });#}
                // Depends on //
                // Populate first level combo box
                var categories = [
                    ['optical-path', 'Optical Paths'],
                    ['site', 'Sites'],
                    ['service', 'Services'],
                ];
                $('#categoryA').append($('<option>').val("0").text("-- Please Select --"));
                $.each(categories, function(key, tuple) {
                    $('#categoryA').append($('<option>').val(tuple[0]).text(tuple[1]));
                });
                // Hook lower level combo boxes up to their parent
                $("#level0A").jCombo("/formdata/{id}/", {
                    parent: "#categoryA",
                    end_value_field: "#id_relationship_depends_on"
                });
                $("#level1A").jCombo("/formdata/{id}/children/", {
                    parent: "#level0A",
                    end_value_field: "#id_relationship_depends_on"
                });
                $("#level2A").jCombo("/formdata/{id}/children/", {
                    parent: "#level1A",
                    end_value_field: "#id_relationship_depends_on"
                });
                $("#level3A").jCombo("/formdata/{id}/children/", {
                    parent: "#level2A",
                    end_value_field: "#id_relationship_depends_on"
                });
                $("#level4A").jCombo("/formdata/{id}/children/", {
                    parent: "#level3A",
                    end_value_field: "#id_relationship_depends_on"
                });
                // Accordion
                $(".edit-accordion").collapse();
                // Service specific
                var name_field = $('#id_name');
                var project_end_date = $('#project_end_date');
                var service_type = $("#id_service_type");
                if (service_type.val()!="External") {
                    name_field.prop("disabled", true);
                }
                if (service_type.val()=="Project") {
                    project_end_date.show();
                }
                service_type.change(function(e){
                    if ($(this).val()!="External") {
                        name_field.prop("disabled", true);
                        name_field.val("");
                    } else {
                        name_field.prop("disabled", false);
                    }
                    if ($(this).val()=="Project") {
                        project_end_date.show();
                    } else {
                        project_end_date.hide();
                        $('#id_project_end_date').val("");
                    }
                });
                $("#id_project_end_date").datepicker({ dateFormat: "yy-mm-dd" });
            }
        );
    </script>
    <script type="text/javascript">
        function add_depends_on_port() {
            var parent_id = $('#id_relationship_depends_on').val();
            window.open("/new/port/parent/" + parent_id + "/");
        }
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="dialog-user-confirm" title="Remove relationship?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>The relationship will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>

    <div class="well">
        <h3>Name</h3>
        {{ form.name }}
        <span class="help-block">{{ form.name.help_text }}</span>
        <div class="row">
            <div class="span3">
                <h3>Service Type</h3>
                {{ form.service_type }}
            </div>
            <div class="span3" id="project_end_date" style="display: none;">
                <h3>Project End Date</h3>
                {{ form.project_end_date }}
                <span class="help-block">{{ form.project_end_date.help_text }}</span>
            </div>
        </div>
        <h3>Operational State</h3>
        {{ form.operational_state }}
        <br><br>
        <h3>Description (optional)</h3>
        {{ form.description }}
        <span class="help-block">{{ form.description.help_text }}</span>
    </div>
    <div class="accordion" id="edit-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseOne">
                    Provider (optional)
                </a>
            </div>
            <div id="collapseOne" class="accordion-body in collapse">
                <div class="accordion-inner">
                    {% if providers %}
                        {% load noclook_tags %}
                        <h4>Remove Provider</h4>
                        {% for provider in providers %}
                            <div class="row">
                                <div class="span5">
                                    <a href="{% noclook_node_to_url provider.start %}">{{ provider.start.name }}</a>
                                </div>
                                <div class="span1">
                                    <a href="relationship/{{ provider.id }}/delete" class="label label-important user-confirm">Delete</a>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endif %}
                    <h4>Add Provider</h4>
                    {{ form.relationship_provider }}
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseTwo">
                    Customer (optional)
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% if customers %}
                        {% load noclook_tags %}
                        <h4>Remove Customer</h4>
                        {% for customer in customers %}
                            <div class="row">
                                <div class="span5">
                                    <a href="{% noclook_node_to_url customer.start %}">{{ customer.start.name }}</a>
                                </div>
                                <div class="span1">
                                    <a href="relationship/{{ customer.id }}/delete" class="label label-important user-confirm">Delete</a>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endif %}
                    <h4>Add Customer</h4>
                    {{ form.relationship_customer }}
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseThree">
                    End User (optional)
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% if end_users %}
                        {% load noclook_tags %}
                        <h4>Remove End User</h4>
                        {% for end_user in end_users %}
                            <div class="row">
                                <div class="span5">
                                    <a href="{% noclook_node_to_url end_user.start %}">{{ end_user.start.name }}</a>
                                </div>
                                <div class="span1">
                                    <a href="relationship/{{ end_user.id }}/delete" class="label label-important user-confirm">Delete</a>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endif %}
                    <h4>Add End User</h4>
                    {{ form.relationship_end_user }}
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseFour">
                    Service depends on (optional)
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% if depends_on %}
                        {% load noclook_tags %}
                        <h4>Remove depends on relationship</h4>
                        {% for depend_on in depends_on %}
                            <div class="row">
                                <div class="span5">
                                    Depends on <a href="{% noclook_node_to_url depend_on.dep %}">{{ depend_on.dep.name }} {{ depend_on.parent.name }}</a>
                                </div>
                                <div class="span1">
                                    <a href="relationship/{{ depend_on.dep_rel.id }}/delete" class="label label-important user-confirm">Delete</a>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                    {% endif %}
                    <h4>Add depends on relationship</h4>
                    <div class="span4">
                        {{ form.relationship_depends_on }}
                        <select class="stacked" name="categoryA" id="categoryA"></select>
                        <select class="stacked" name="level0A" id="level0A"></select>
                        <select class="stacked" name="level1A" id="level1A"></select>
                        <select class="stacked" name="level2A" id="level2A"></select>
                        <select class="stacked" name="level3A" id="level3A"></select>
                        <select class="stacked" name="level4A" id="level4A"></select>
                        <span class="help-block">Choose a thing to depend service on</span>
                        <a class="btn btn-mini" href="javascript:add_depends_on_port()">Add port</a>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}