{% extends "noclook/edit/base_edit.html" %}

{% block content %}
{{ block.super }}
    <h3>Name</h3>
    {{ form.name }}
    <br><br>
    <h3>Type (optional)</h3>
    {{ form.cable_type }}
    <br><br>
    <h3>Telenor Information (optional)</h3>
    <table>
        <tr>
            <td width="50px"><label>TN1 Number</label></td>
            <td>{{ form.telenor_tn1_number }}<span class="help-block">{{ form.telenor_tn1_number.help_text }}</span></td>
        </tr>
        <tr>
            <td width="50px"><label>Trunk ID</label></td>
            <td>{{ form.telenor_trunk_id }}<span class="help-block">{{ form.telenor_trunk_id.help_text }}</span></td>
        </tr>
    </table>
    <h3>Global Crossing Information (optional)</h3>
    <table>
        <tr>
            <td width="50px"><label>Circuit ID</label></td>
            <td>{{ form.global_crossing_circuit_id }}<span class="help-block">{{ form.global_crossing_circuit_id.help_text }}</span></td>
        </tr>
    </table>
{% endblock %}

