{% extends "noclook/edit/base_edit.html" %}

{% block content %}
{{ block.super }}
    <h3>Name</h3>
    {{ form.name }}
    <br><br>
    <h3>Location (optional)</h3>
    <table>
        <tr>
            <td width="50px"><label>Current</label></td>
            <td>{% for item in locations %}
                    {% if forloop.first %}
                        {{item.end.country_code}}-{{item.end.name}}
                    {% else %}
                        , {{item.end.country_code}}-{{item.end.name}}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td width="50px"><label>Change</label></td>
            <td>{{ form.relationship_location }}</td>
        </tr>
    </table>
    <br><br>
{% endblock %}

