{% extends "noclook/edit/base_edit.html" %}

{% block js %}
{{ block.super }}
{% load niweb_tags %}
<script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/jquery/jquery.jCombo.js"></script>
<script type="text/javascript">
$(document).ready(
    function(){
        // Modal delete object confirm
        $("#dialog-object-confirm").dialog({
          modal: true,
                bgiframe: true,
                width: 500,
                height: 200,
          autoOpen: false
          });

        $("#object-confirm").click(function(e) {
            e.preventDefault();
            var theHREF = $(this).attr("href");

            $("#dialog-object-confirm").dialog('option', 'buttons', {
                    "Confirm" : function() {
                        window.location.href = theHREF;
                        },
                    "Cancel" : function() {
                        $(this).dialog("close");
                        }
                    });

            $("#dialog-object-confirm").dialog("open");
        });
        // Populate first level combo box
        $.getJSON('/formdata/site/', function(data) {
            $('#level0').append($('<option>').val("0").text("-- Please Select --"));
            $('#level0').append($('<option>').val("-1").text("-- Remove current --"));
            $.each(data, function(key, tuple) {
                $('#level0').append($('<option>').val(tuple[0]).text(tuple[1]));
            });
        });
        $('#level0').click(function() {
            $("#id_relationship_location").val($(this).val());
        });
        // Hook lower level combo boxes up to their parent
        $("#level1").jCombo("/formdata/{id}/children/rack", {
                        parent: "#level0",
                        end_value_field: "#id_relationship_location",
                    });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
<!--
    <h3>Dimensions</h3>
    <label>Rack units</label></td>
    {{ form.units }}
    <span class="help-block">{{ form.units.help_text }}</span>
    <label>Start unit</label>
    {{ form.start_unit }}
     <span class="help-block">{{ form.start_unit.help_text }}</span>
-->
    <div id="location-section">
        <h3>Location (optional)</h3>
        <div class="well">
            <label>Current</label></td>
            <span class="input-large uneditable-input">
                {% if location %}
                    {% for loc in location %}
                        {{ loc.name }}
                    {% endfor %}
                {% endif %}
            </span>
            <label>Change</label>
            {{ form.relationship_location }}
            <select class="stacked" name="level0" id="level0"></select><br />
            <select class="stacked" name="level1" id="level1"></select>
        </div>
    </div>
{% endblock %}

