{% extends "base.html" %}

{% block title %}{{ block.super }} Create new node{% endblock %}

{% block content %}
    <h1>Create new</h1>
    <ul class="menu">
        <li><a href="customer">Customer</a></li>
        <li><a href="cable">External Cable</a></li>
        <li><a href="external-equipment">External Equipment</a></li>
        <li><a href="end-user">End User</a></li>
        <li><a href="nordunet-cable">NORDUnet Cable</a></li>
        <li><a href="nordunet-optical-link">NORDUnet Optical Link</a></li>
        <li><a href="nordunet-optical-path">NORDUnet Optical Path</a></li>
        <li><a href="nordunet-service">NORDUnet Service</a></li>
        <li><a href="odf">ODF</a></li>
        <li><a href="port">Port</a></li>
        <li><a href="provider">Provider</a></li>
        <li><a href="rack">Rack</a></li>
        <li><a href="site">Site</a></li>
        <li><a href="site-owner">Site Owner</a></li>
    </ul>
{% endblock %}
