{% extends "base.html" %}

{% block title %}{{ block.super }} Create new node{% endblock %}

{% block content %}
    <h1>Create new</h1>
    <ul class='parent-menu'>
        <li>Choose type to create:</li>
        <ul class='menu'>
            <li><a href="cable">Cable</a></li>
            <li><a href="odf">ODF</a></li>
            <li><a href="port">Port</a></li>
            <li><a href="rack">Rack</a></li>
            <li><a href="site">Site</a></li>
            <li><a href="site-owner">Site Owner</a></li>
        </ul>
    </ul>
{% endblock %}
