/* NOCLook CSS */
img.logo {
 display: block;
 border: 0px;
 width: 100%;
}

ul.parent-menu {
 list-style-type: none;
 margin-top: 20px;
}

ul.menu {
 list-style-type: none;
}

.text-centered {
 text-align: center;
}

.break-word {
  word-wrap: break-word;
}

.section {
 width: 100%;
}

.top-space {
    margin-top: 40px;
}

.no-border {
    border: 0;
}

.clear-float {
 width: 100%;
 height: 1px;
 margin: 0 0 -1px;
 clear: both;
}

h3.hidden-section {
 display: inline;
}

a.section-open {
 font-size: 12px;
 padding-right: 13px;
 background-image: url(/site_media/img/spindown-open.gif);
 background-position: right center;
 background-repeat: no-repeat;
}

a.section-closed {
 font-size: 12px;
 padding-right: 13px;
 background-image: url(/site_media/img/spindown-closed.gif);
 background-position: right center;
 background-repeat: no-repeat;
}

h5.site {
 margin-top: -5px;
}

select.stacked {
 display: block;
 margin-top: 10px;
 margin-bottom: 5px;
}

#toggle_debug:link, #toggle_debug:visited {
    display: block;
    color: #000000;
    background-color: #D3D3D3;
    text-align: center;
    text-decoration:none;
    width: 150px;
    padding: 2px;
}
#toggle_debug:hover, #toggle_debug:active {
    background-color: #808080;
}

.hidden {
    display: none;
}

#section {
    width: auto;
    margin: 10px 50px 50px 0px;
    padding: 5px 5px 5px 5px;
}

#search {
    margin: 0px 0px 0px 200px;
}

#expired {
    width: auto;
    background-color: red;
    text-align: center;
}

/* Visualization */
#infovis_section {
    position:relative;
    margin: 10px 50px 50px 0px;
    padding: 5px 5px 5px 5px;
}

#infovis {
    position: relative;
    height: 600px;
    left:0px;
    top:0px;
}

#inner-details {
    position:absolute;
    right:0px;
    top:0px;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

/* Comments */
#id_honeypot {
    visibility:hidden;
}
/*
div.comment{
    width: 400px;
    white-space: normal;
    background:#f4f4f4;
    padding:10px;
    margin:10px;
}

div.comment_noborder{
    width: 400px;
    white-space: normal;
    padding:10px;
    margin:10px;
}
*/
/* Autocomplete */
.autocomplete-suggestions { background:url('/static/img/shadow.png') no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete-suggestions { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete-selected { background:#F0F0F0; }
.autocomplete-suggestions div { padding:2px 5px; white-space:nowrap; }
.autocomplete-suggestions strong { font-weight:normal; color:#3399FF; }

li.autocomplete {
    list-style: none;
}

.dataTables_wrapper {
    padding-top: 2px;
} 

td.date {
  min-width: 140px;
}

.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th {
    background-color: #CAEDFC;
}

/* List color coding */
tr.decommissioned {
    border-left: 3px #B94A48 solid;
}

tr.expired {
    border-left: 3px #B94A48 solid;
}

tr.reserved {
    border-left: 3px #F89406 solid;
}

tr.testing {
    border-left: 3px #3A87AD solid;
}

tr.report-very-old {
    border-left: 3px #B94A48 solid;
}

tr.report-old {
    border-left: 3px #F89406 solid;
}

/* Django form errorlist */
ul.errorlist {
 list-style: none;
}

.ip-address:hover {
    cursor: pointer;
}

/*
.table-to-csv {
    cursor: pointer;
}

.table-to-xls {
    cursor: pointer;
}
*/

/* Do not print link urls */
@media print {
    a[href]:after {
        content: "";
    }
}

.form-horizontal-flex, .form-horizontal-flex .control-group {
    display: flex;
    flex-flow: row wrap;
}

.form-horizontal-flex .control-label {
    flex: 0 1 20%;
    margin: 0 0 .5rem;
    padding: .5rem;
    text-align: right;
    display: initial;
}
.form-horizontal-flex input, .form-horizontal-flex select{
    flex: 1 1 70%;
    margin: 0 0 .5rem;
    width: initial;
}

.form-horizontal-flex .title, .form-horizontal-flex div{
    flex: 1 1 100%;
}

.form-horizontal-flex .errorlist {
    float: right;
}
.form-horizontal-flex .help-inline {
    text-align: right;
}

.well-transparent {
    background-color: transparent;
}
.well-opaque {
    background-color: rgba(200,200,200,0.1);
}
h3.compact {
  margin: 0;
}

/* Remove button */
[data-removable] {
  position: relative;
}

[data-removable] .removeBtn {
  position: absolute;
  top: 5px
}

.typeahead,
.tt-query,
.tt-hint {
  max-width: 100%;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: -10px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 200;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.rack {
  width: 235px;
  background-color: #efefef;
  padding: 2px;
  display: flex;
  flex-direction: column-reverse;
}

.equipment {
  margin-top: 2px;
  background-color: #cccccc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 4px;
  position: relative;
  border-right: 2px solid transparent;
}

.sub-equipment {
  max-width: 200px;
  position: absolute;
  left: 245px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 0 4px;
  background: #f8f8f8;
  white-space: nowrap;
  z-index: 2;
}

.sub-equipment .handle {
  display: inline-block;
}

.equipment:hover .sub-equipment {
  opacity: 1;
}

.equipment.spacer {
  background-color: transparent;
  border: 1px dashed #cccccc;
  box-sizing: border-box;
}

.equipment .note {
  position: absolute;
  font-size: 10px;
}

.equipment .size {
  top: 0;
  right: 3px;
}

.equipment > .handle {
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.equipment .position {
  bottom: 0;
  right: 237px;
  text-align: right;
}

.equipment .position-end {
  top: 0;
  right: 237px;
  text-align: right;
}

.has-subequipment {
  border-color: #08c;
}

.has-subequipment::after {
  position: absolute;
  left: 100%;
  content: '';

  border-left: 8px solid #08c;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.row-flex {
  display: flex;
  flex-flow: row wrap;
}

.row-flex .rack {
  margin-right: 194px;
}

.flex-adjust {
  flex: 1 2;
}
