{% extends "base.html" %}

{% block title %}{{ block.super }} {{ service_class }} Service list{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(
                function(){
                    $("#services").tablesorter(
                            {
                                sortList: [[0,0]],
                                headers:
                                {},
                                widthFixed: true,
                                widgets: ['zebra']
                            });
                }
        );
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>{% if service_class %}{{ service_class }}{% endif %} Services</h1>
    <div class="pull-right">
        <span class="badge badge-info">Testing</span>
        <span class="badge badge-warning">Reserved</span>
        <span class="badge badge-important">Decommissioned</span>
    </div>
    <table id="services" class="tablesorter" cellspacing="1">
        <thead>
        <tr>
            <th>Service</th><th>Service Class</th><th>Service Type</th><th>Description</th><th>Customers</th><th>End Users</th>
        </tr>
        </thead>
        <tbody>
        {% load noclook_tags %}
        {% for service in service_list %}
            {% if service.node.operational_state == "Decommissioned" %}
                <tr class="decommissioned">
            {% elif service.node.operational_state == "Reserved" %}
                <tr class="reserved">
            {% elif service.node.operational_state == "Testing" %}
                <tr class="testing">
            {% else %}
                <tr>
            {% endif %}
                <td><a href="{% noclook_node_to_url service.node %}">{{ service.node.name }}</a></td>
                <td>{{ service.service_class }}</td>
                <td>{{ service.service_type }}</td>
                <td>{{ service.description }}</td>
                <td>
                    {% for customer in service.users %}
                        {% if customer.node_type == "Customer" %}
                            <a href="{% noclook_node_to_url customer %}">{{ customer.name }}</a><br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for end_user in service.users %}
                        {% if end_user.node_type == "End User" %}
                            <a href="{% noclook_node_to_url end_user %}">{{ end_user.name }}</a><br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
