<script type="text/javascript">
    $(document).ready(
        function(){
            $('#inServiceCopy').popover();
            $('#outServiceCopy').popover();
            // Search functions
            var search = function(tables){
                return function(){
                    var str = this.value;
                    $(tables).each(function(){
                        $(this).DataTable().search(str).draw();
                    })
                }};
            var getTable = function(idx,elm){return $("table", elm.getAttribute("href"));};
            
            // Incoming dependencies table
            var depTabsIn = $('#depTabsIn');
            var depsTabInLink = depTabsIn.find('a:first');
            depsTabInLink.tab('show');
            
            // Incomming search
            var $depTablesIn = depTabsIn.find("a").map(getTable); 
            $("#usedBySearch").on('keyup', search($depTablesIn));
            
            // Outgoing dependencies table
            var depTabsOut = $('#depTabsOut');
            var depsTabOutLink = depTabsOut.find('a:first');
            depsTabOutLink.tab('show');

            // Incomming search
            var $depTablesOut = depTabsOut.find("a").map(getTable);
            $("#dependsOnSearch").on('keyup', search($depTablesOut));
        }
    );
</script>

{% load noclook_tags %}

{% if dependent %}
    <div class="section">
        <h3>{{ node_handle.node_type }} is used by</h3>
        <div class="pull-right">
            <span class="badge badge-info">Testing</span>
            <span class="badge badge-warning">Reserved</span>
            <span class="badge badge-important">Decommissioned</span>
            {% table_search field_id="usedBySearch" %}
        </div>
        <ul class="nav nav-tabs" id="depTabsIn">
            {% if dependent.direct %}
                <li><a href="#directTabIn" data-toggle="tab">Direct</a></li>
            {% endif %}
            {% if dependent.services %}
                <li><a href="#servicesTabIn" data-toggle="tab">Services</a></li>
            {% endif %}
            {% if dependent.paths %}
                <li><a href="#pathsTabIn" data-toggle="tab">Optical Paths</a></li>
            {% endif %}
            {% if dependent.oms %}
                <li><a href="#omsTabIn" data-toggle="tab">Optical Muliplex Sections</a></li>
            {% endif %}
            {% if dependent.links %}
                <li><a href="#linksTabIn" data-toggle="tab">Optical Links</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            {% if dependent.direct %}
                {% blockvar th %}
                    <th>Name</th><th>Type</th><th>Description</th>
                {% endblockvar %}
                {% blockvar tbody %}
                    {% for item in dependent.direct %}
                        {% if item.operational_state == "Decommissioned" %}
                            <tr class="decommissioned">
                        {% elif item.operational_state == "Reserved" %}
                            <tr class="reserved">
                        {% elif item.operational_state == "Testing" %}
                            <tr class="testing">
                        {% else %}
                            <tr>
                        {% endif %}
                                <td><a href="{% noclook_node_to_url item.handle_id %}">{{ item.name }}</a></td>
                                {% noclook_get_type item.handle_id as node_type %}
                                <td>{{ node_type }}</td>
                                <td>{{ item.description }}</td>
                            </tr>
                    {% endfor %}
                {% endblockvar %}
                <div class="tab-pane active" id="directTabIn">
                    {% table th tbody id="dependIn" %}
                </div>
            {% endif %}
            {% if dependent.services %}
                {% blockvar th %}
                    <th>Name</th><th>Type</th><th>Description</th><th>Users</th>
                {% endblockvar %}
                {% blockvar tbody %}
                        {% for item in dependent.services %}
                            {% if item.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif item.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif item.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url item.handle_id %}">{{ item.name }}</a></td>
                                <td>{{ item.service_class }} - {{ item.service_type }}</td>
                                <td>{{ item.description }}</td>
                                {% noclook_get_model item.handle_id as model %}
                                <td>
                                    {% for user in model.get_relations.Uses %}
                                        <a href="{% noclook_node_to_url user.node.handle_id %}">{{ user.node.data.name }}</a>{% if forloop.last %}{% else %},<br>{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                {% endblockvar %}
                <div class="tab-pane" id="servicesTabIn">
                    {% table th tbody id="servicesIn" %}
                    <a id="inServiceCopy" class="btn btn-mini pull-right" rel="popover" data-placement="top" data-content="{% for item in dependent.services %}{{ item.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}" data-original-title="Copy and paste"><i class="icon-share-alt"></i> Copy</a>
                </div>
            {% endif %}
            {% if dependent.paths %}
                {% blockvar th %}
                        <th>Name</th><th>Type</th><th>Description</th>
                {% endblockvar %}
                {% blockvar tbody %}
                    {% for item in dependent.paths %}
                        {% if item.operational_state == "Decommissioned" %}
                            <tr class="decommissioned">
                        {% elif item.operational_state == "Reserved" %}
                            <tr class="reserved">
                        {% elif item.operational_state == "Testing" %}
                            <tr class="testing">
                        {% else %}
                            <tr>
                        {% endif %}
                                <td><a href="{% noclook_node_to_url item.handle_id %}">{{ item.name }}</a></td>
                                {% noclook_get_type item.handle_id as node_type %}
                                <td>{{ node_type }}</td>
                                <td>{{ item.description }}</td>
                            </tr>
                    {% endfor %}
                {% endblockvar %}
                <div class="tab-pane" id="pathsTabIn">
                    {% table th tbody id="pathsIn" %}
                </div>
            {% endif %}
            {% if dependent.oms %}
                {% blockvar th %}
                    <th>Name</th><th>Type</th><th>Description</th>
                {% endblockvar %}
                {% blockvar tbody %}
                    {% for item in dependent.oms %}
                        {% if item.operational_state == "Decommissioned" %}
                            <tr class="decommissioned">
                        {% elif item.operational_state == "Reserved" %}
                            <tr class="reserved">
                        {% elif item.operational_state == "Testing" %}
                            <tr class="testing">
                        {% else %}
                            <tr>
                        {% endif %}
                                <td><a href="{% noclook_node_to_url item.handle_id %}">{{ item.name }}</a></td>
                                {% noclook_get_type item.handle_id as node_type %}
                                <td>{{ node_type }}</td>
                                <td>{{ item.description }}</td>
                            </tr>
                    {% endfor %}
                {% endblockvar %}
                <div class="tab-pane" id="omsTabIn">
                    {% table th tbody id="omsIn" %}
                </div>
            {% endif %}
            {% if dependent.links %}
                {% blockvar th %}
                    <th>Name</th><th>Type</th><th>Description</th><th>Ports</th>
                {% endblockvar %}
                {% blockvar tbody %}
                        {% for item in dependent.links %}
                            {% if item.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif item.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif item.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url item.handle_id %}">{{ item.name }}</a></td>
                                {% noclook_get_type item.handle_id as node_type %}
                                <td>{{ node_type }}</td>
                                <td>{{ item.description }}</td>
                                <td>
                                    {% noclook_get_model item.handle_id as model %}
                                    {% for item in model.get_ports %}
                                        <a href="{% noclook_node_to_url item.port.handle_id %}">{{ item.parent.name }} {{ item.port.name }}</a>{% if not forloop.last %},<br>{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                {% endblockvar %}
                <div class="tab-pane" id="linksTabIn">
                    {% table th tbody id="linksIn" %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
{% if dependencies %}
    <div class="section">
        <h3>{{ node_handle.node_type }} depend on</h3>

        <div class="pull-right">
            <span class="badge badge-info">Testing</span>
            <span class="badge badge-warning">Reserved</span>
            <span class="badge badge-important">Decommissioned</span>
            {% table_search field_id="dependsOnSearch" %}
        </div>
        <ul class="nav nav-tabs" id="depTabsOut">
            {% if dependencies.direct %}
                <li><a href="#directTabOut" data-toggle="tab">Direct</a></li>
            {% endif %}
            {% if dependencies.services %}
                <li><a href="#servicesTabOut" data-toggle="tab">Services</a></li>
            {% endif %}
            {% if dependencies.paths %}
                <li><a href="#pathsTabOut" data-toggle="tab">Optical Paths</a></li>
            {% endif %}
            {% if dependencies.oms %}
                <li><a href="#omsTabOut" data-toggle="tab">OMS</a></li>
            {% endif %}
            {% if dependencies.links %}
                <li><a href="#linksTabOut" data-toggle="tab">Optical Links</a></li>
            {% endif %}
            {% if dependencies.cables %}
                <li><a href="#cablesTabOut" data-toggle="tab">Cables</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
            {% if dependencies.direct %}
                {% blockvar th %}
                                <th>Name</th><th>Type</th><th>Description</th>
                {% endblockvar %}
                {% blockvar tbody %}
                        {% for item in dependencies.direct %}
                            {% if item.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif item.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif item.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                    {% noclook_get_model item.handle_id as model %}
                                    <td>
                                        <a href="{% noclook_node_to_url item.handle_id %}">
                                            {% for loc in model.get_placement_path.placement_path %}{{ loc.name }} {% endfor %}{{ item.name }}
                                        </a>
                                    </td>
                                    {% noclook_get_type item.handle_id as node_type %}
                                    <td>{{ node_type }}</td>
                                    <td>{{ item.description }}</td>
                                </tr>
                        {% endfor %}
                {% endblockvar %}

                <div class="tab-pane active" id="directTabOut">
                    {% table th tbody id="dependOut" %}
                </div>
            {% endif %}
            {% if dependencies.services %}
                {% blockvar th %}
                                <th>Name</th><th>Type</th><th>Description</th>
                {% endblockvar %}
                {% blockvar tbody %}
                        {% for item in dependencies.services %}
                            {% if item.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif item.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif item.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url item.handle_id %}">{{ item.name }}</a></td>
                                <td>{{ item.service_class }} - {{ item.service_type }}</td>
                                <td>{{ item.description }}</td>
                            </tr>
                        {% endfor %}
                {% endblockvar %}
                <div class="tab-pane" id="servicesTabOut">
                    {% table th tbody id="servicesOut" %}
                    <a id="outServiceCopy" class="btn btn-mini pull-right" rel="popover" data-placement="top" data-content="{% for item in dependencies.services %}{{ item.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}" data-original-title="Copy and paste"><i class="icon-share-alt"></i> Copy</a>
                </div>
            {% endif %}
            {% if dependencies.paths %}
                {% blockvar th %}
                                <th>Name</th><th>Type</th><th>Description</th>
                {% endblockvar %}
                {% blockvar tbody %}
                        {% for item in dependencies.paths %}
                            {% if item.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif item.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif item.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                    <td><a href="{% noclook_node_to_url item.handle_id %}">{{ item.name }}</a></td>
                                    {% noclook_get_type item.handle_id as node_type %}
                                    <td>{{ node_type }}</td>
                                    <td>{{ item.description }}</td>
                                </tr>
                        {% endfor %}
                {% endblockvar %}
                <div class="tab-pane" id="pathsTabOut">
                    {% table th tbody id="pathsOut" %}
                </div>
            {% endif %}
            {% if dependencies.oms %}
                {% blockvar th %}
                                <th>Name</th><th>Type</th><th>Description</th>
                {% endblockvar %}
                {% blockvar tbody %}
                        {% for item in dependencies.oms %}
                            {% if item.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif item.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif item.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                    <td><a href="{% noclook_node_to_url item.handle_id %}">{{ item.name }}</a></td>
                                    {% noclook_get_type item.handle_id as node_type %}
                                    <td>{{ node_type }}</td>
                                    <td>{{ item.description }}</td>
                                </tr>
                        {% endfor %}
                {% endblockvar %}
                <div class="tab-pane" id="omsTabOut">
                    {% table th tbody id="omsOut" %}
                </div>
            {% endif %}
            {% if dependencies.links %}
                {% blockvar th %}
                                <th>Name</th><th>Type</th><th>Description</th><th>Ports</th>
                {% endblockvar %}
                {% blockvar tbody %}
                        {% for item in dependencies.links %}
                            {% if item.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif item.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif item.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url item.handle_id %}">{{ item.name }}</a></td>
                                {% noclook_get_type item.handle_id as node_type %}
                                <td>{{ node_type }}</td>
                                <td>{{ item.description }}</td>
                                <td>
                                    {% noclook_get_model item.handle_id as model %}
                                    {% for item in model.get_ports %}
                                        <a href="{% noclook_node_to_url item.port.handle_id %}">{{ item.parent.name }} {{ item.port.name }}</a>{% if not forloop.last %},<br>{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                {% endblockvar %}
                <div class="tab-pane" id="linksTabOut">
                    {% table th tbody id="linksOut" %}
                </div>
            {% endif %}
            {% if dependencies.cables %}
                {% blockvar th %}
                                <th>Name</th><th>Type</th><th>Ports</th>
                {% endblockvar %}
                {% blockvar tbody %}
                        {% for item in dependencies.cables %}
                            {% if item.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif item.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif item.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url item.handle_id %}">{{ item.name }}</a></td>
                                <td>{{ item.cable_type }}</td>
                                <td>
                                    {% noclook_get_model item.handle_id as model %}
                                    {% for item in model.get_ports %}
                                        <a href="{% noclook_node_to_url item.port.handle_id %}">{{ item.parent.name }} {{ item.port.name }}</a>{% if not forloop.last %},<br>{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                {% endblockvar %}
                <div class="tab-pane" id="cablesTabOut">
                    {% table th tbody id="cablesOut" %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
