{% extends "base.html" %}

{% block content %}
    <h1>Create new organization</h1>
    {% if form.errors %}
         <div class="alert alert-error">
            <h4 class="alert-heading">The operation could not be performed because one or more error(s) occurred.</h4>
            Please resubmit the form after making the following changes:
            {{ form.errors }}
        </div>
    {% endif %}
    <div class="well">
        <form action="" method="post">{% csrf_token %}
            <h3>Main information</h3>
            <label>Name</label>
            {{ form.name }}
            <br />
            <label>Description</label>
            {{ form.description }}
            <br />
            <h3>Additional info (optional)</h3>
            <label>Phone</label>
            {{ form.phone }}
            <br />
            <label>Website</label>
            {{ form.website }}
            <br />
            <label>Customer Id</label>
            {{ form.customer_id }}
            <br />
            <label>Type</label>
            {{ form.type }}
            <br />
            <label>Additional info for Incident Mgmt</label>
            {{ form.additional_info }}
            <h3>Contacts (optional)</h3>
            <label>Abuse</label>
            {{ form.abuse_contact }}
            <br />
            <label>Primary contact at incidents</label>
            {{ form.primary_contact }}
            <br />
            <label>Secondary contact at incidents</label>
            {{ form.secondary_contact }}
            <br />
            <label>IT-technical</label>
            {{ form.it_technical_contact }}
            <br />
            <label>IT-security</label>
            {{ form.it_security_contact }}
            <br />
            <label>IT-manager</label>
            {{ form.it_manager_contact }}
            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/new/" class="btn">Cancel</a>
        </form>
    </div>
{% endblock %}
