{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Create new Optical Link</h1>
    <div class="well">
        <form action="" method="post">{% csrf_token %}
            {% if not form.name in form.hidden_fields %}
                {{ form.name | as_crispy_field }}
            {% endif %}
            {{ form.link_type | as_crispy_field }}
            {{ form.interface_type | as_crispy_field}}
            {{ form.operational_state | as_crispy_field }}
            {{ form.description | as_crispy_field}}
            {{ form.relationship_provider | as_crispy_field }}
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="{% url 'new_node' %}" class="btn">Cancel</a>
        </form>
    </div>
{% endblock %}
