{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load noclook_tags %}
{% load static %}

{% block js %}
  {{ block.super }}
<script type="text/javascript" src="{% static 'js/jquery/typeahead.bundle.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Create new External Equipment</h1>
    <form action="" method="post">{% csrf_token %}
      <div class="well">
              {{ form.name | as_crispy_field}}
              {{ form.description | as_crispy_field }}
      </div>
      <div class="accordion" id="create-accordion">
        {% accordion 'Owner (optional)' 'owner' '#create-accordion' %}
              {% json_combo form.relationship_owner '/formdata/{id}/' 'customer,end-user,host,provider' %}
        {% endaccordion %}
        {% accordion 'Location (optional)' 'location' '#create-accordion' %}
              {% typeahead form.relationship_location '/search/typeahead/locations' placeholder='Ex: rack' min_length=2 %}
              {{ form.rack_units | as_crispy_field }}
              {{ form.rack_position | as_crispy_field }}
        {% endaccordion %}
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" value="Save" class="btn btn-primary" />
          <a href="/new/" class="btn">Cancel</a>
        </div>
      </div>
    </form>
{% endblock %}

