{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Create new port</h1>
    <div class="alert alert-info">
        <strong>Naming of ports</strong><br>
        Juniper port: aeX, ge-X/X/X, so-X/X/X and so on.<br>
        Alcatel-Lucent optical node: rXsrXslX/port#X.<br>
        ODF: 1, 2, or 1+2, 3+4 or use part of Alcatel Lucent naming scheme if applicable, eg. slX/port#X.<br>
    </div>
    <form action="" method="post">{% csrf_token %}
      <div class="well">
              {{ form.name | as_crispy_field }}
              {{ form.port_type | as_crispy_field }}
      </div>
      <input type="submit" value="Save" class="btn btn-primary" />
      <a href="/new/" class="btn">Cancel</a>
    </form>
{% endblock %}
