{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Create new room</h1>
    {% if form.errors %}
         <div class="alert alert-error">
            <h4 class="alert-heading">The operation could not be performed because one or more error(s) occurred.</h4>
            Please resubmit the form after making the following changes:
            {{ form.errors }}
        </div>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        <div class="well">
            {{ form.name | as_crispy_field}}
            {{ form.description | as_crispy_field }}
            {{ form.floor | as_crispy_field}}
            {{ form.relationship_location | as_crispy_field}}
        </div>
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/new/" class="btn">Cancel</a>
     </form>
{% endblock %}

