{% extends "base.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        var name_field = $('#id_name');
        var project_end_date = $('#project_end_date');
        var service_type = $("#id_service_type");
        if (service_type.val()!="External") {
            name_field.prop("disabled", true);
        }
        if (service_type.val()=="Project") {
            project_end_date.show();
        }
        service_type.change(function(e){
            if ($(this).val()!="External") {
                name_field.prop("disabled", true);
                name_field.val("");
            } else {
                name_field.prop("disabled", false);
            }
            if ($(this).val()=="Project") {
                project_end_date.show();
            } else {
                project_end_date.hide();
                project_end_date.val("");
            }
        });
        $("#id_project_end_date").datepicker({ dateFormat: "yy-mm-dd" });
    }
);
</script>
{% endblock %}

{% block content %}
    <h1>Create new NORDUnet service</h1>
    {% if form.errors %}
         <div class="alert alert-error">
            <h4 class="alert-heading">The operation could not be performed because one or more error(s) occurred.</h4>
            Please resubmit the form after making the following changes:
            {{ form.errors }}
        </div>
    {% endif %}
    <div class="well">
        <form action="" method="post">{% csrf_token %}
            <div class="row">
                <div class="span3">
                    <h3>Service Type</h3>
                    {{ form.service_type }}
                </div>
                <div class="span3" id="project_end_date" style="display: none;">
                    <h3>Project End Date</h3>
                    {{ form.project_end_date }}
                    <span class="help-block">{{ form.project_end_date.help_text }}</span>
                </div>
            </div>
            <h3>Name</h3>
            {{ form.name }}
            <span class="help-block">{{ form.name.help_text }}</span>
            <h3>Operational State</h3>
            {{ form.operational_state }}
            <h3>Description (optional)</h3>
            {{ form.description }}
            <span class="help-block">{{ form.description.help_text }}</span>
            <h3>Provider (optional)</h3>
            {{ form.relationship_provider }}
            <br />
            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/new/" class="btn">Cancel</a>
        </form>
    </div>
{% endblock %}

