{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load noclook_tags %}
{% load static %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/jquery/jquery.jCombo.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Create new Optical Node</h1>

    <form action="" method="post">
      <div class="well">
            {% csrf_token %}
            {{ form.name | as_crispy_field }}
            {{ form.type | as_crispy_field }}
            {{ form.operational_state | as_crispy_field }}
            {{ form.description | as_crispy_field }}

      </div>
      <div class="accordion" id="create-accordion">
          {% accordion 'Location' 'location' '#create-accordion' %}
            {% json_combo form.relationship_location '/formdata/site/,/formdata/{id}/children/rack/' %}
            {{ form.rack_units | as_crispy_field }}
            {{ form.rack_position | as_crispy_field }}
          {% endaccordion %}
          {% accordion 'Ports' 'ports' '#create-accordion' %}
            {{ bulk_ports | crispy }}
          {% endaccordion %}
      </div>
      <input type="submit" value="Save" class="btn btn-primary" />
      <a href="{% url 'new_node' %}" class="btn">Cancel</a>
    </form>

{% endblock %}
