{% extends "base.html" %}
{% load noclook_tags %}
{% load static %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/jquery/jquery.jCombo.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Create new Optical Multiplex Section</h1>
    {% if form.errors %}
        <div class="alert alert-error">
            <h4 class="alert-heading">The operation could not be performed because one or more error(s) occurred.</h4>
            Please resubmit the form after making the following changes:
            {{ form.errors }}
        </div>
    {% endif %}
    <div class="well">
        <form action="" method="post">{% csrf_token %}
            <h3>Name</h3>
            {{ form.name }}
            <span class="help-block">{{ form.name.help_text }}</span>
            <h3>Operational State</h3>
            {{ form.operational_state }}
            <h3>Description (optional)</h3>
            {{ form.description }}
            <span class="help-block">{{ form.description.help_text }}</span>
            <h3>Provider (optional)</h3>
            {% json_combo form.relationship_provider '/formdata/{id}/' 'provider' %}
            <br />
            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/new/" class="btn">Cancel</a>
        </form>
    </div>
{% endblock %}
