{% extends "base.html" %}
{% load noclook_tags %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Create new Optical Multiplex Section</h1>
    <div class="well">
        <form action="" method="post">{% csrf_token %}
            {{ form.name | as_crispy_field}}
            {{ form.operational_state | as_crispy_field }}
            {{ form.description | as_crispy_field }}
            {{ form.relationship_provider | as_crispy_field }}
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/new/" class="btn">Cancel</a>
        </form>
    </div>
{% endblock %}
