{% extends "base.html" %}

{% block content %}
    <h1>Create new contact</h1>
    {% if form.errors %}
         <div class="alert alert-error">
            <h4 class="alert-heading">The operation could not be performed because one or more error(s) occurred.</h4>
            Please resubmit the form after making the following changes:
            {{ form.errors }}
        </div>
    {% endif %}
    <div class="well">
        <form action="" method="post">{% csrf_token %}
            <h3>Main information</h3>
            <label>First Name</label>
            {{ form.first_name }}
            <br />
            <label>Last Name</label>
            {{ form.last_name }}
            <br />
            <h3>Additional info (optional)</h3>
            <label>Title</label>
            {{ form.title }}
            <br />
            <label>Type</label>
            {{ form.contact_type }}
            <br />
            <label>PGP fingerprint</label>
            {{ form.pgp_fingerprint }}
            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="{% url 'new_node' %}" class="btn">Cancel</a>
        </form>
    </div>
{% endblock %}
