{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/jquery/bootstrap-datepicker.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(
    function(){
        var name_field = $('#id_name');
        var project_end_date = $('#project_end_date');
        var service_type = $("#id_service_type");
        var service_text = service_type.find("option:selected").text();
        if (service_type.val()!="External" && service_text.indexOf("External") == -1) {
            name_field.prop("disabled", true);
        }
        if (service_type.val()=="Project") {
            project_end_date.show();
        }
        service_type.change(function(e){
            var text = this.options[this.selectedIndex].text;
            if ($(this).val() =="External" || text.indexOf("External") != -1 ) {
                name_field.prop("disabled", false);
            } else {
                name_field.prop("disabled", true);
                name_field.val("");
            }
            if ($(this).val()=="Project") {
                project_end_date.show();
            } else {
                project_end_date.hide();
                project_end_date.val("");
            }
        });
    }
);
</script>
{% endblock %}

{% block content %}
    <h1>Create new service</h1>
    <div class="well">
        <form action="" method="post">{% csrf_token %}
            <div class="row">
                <div class="span3">
                    {{ form.service_type | as_crispy_field }}
                </div>
                <div class="span3" id="project_end_date" style="display: none;">
                  {% if form.project_end_date %}
                    {{ form.project_end_date | as_crispy_field }}
                  {% endif %}
                </div>
            </div>
            {{ form.name | as_crispy_field }}
            {{ form.operational_state | as_crispy_field }}
            {{ form.description | as_crispy_field }}
            {{ form.url | as_crispy_field}}
            {{ form.relationship_provider | as_crispy_field }}
            <br />
            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/new/" class="btn">Cancel</a>
        </form>
    </div>
{% endblock %}

