{% extends "base.html" %}
{% load noclook_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static 'js/jquery/typeahead.bundle.js' %}"></script>
    <h1>Create new rack</h1>
    <form action="" method="post">{% csrf_token %}
      <div class="well">
            {{ form.name | as_crispy_field}}
            {{ form.label | as_crispy_field}}
            {% if location_nh %}
            Location <br>
            {% noclook_node_to_link location_nh %} <a class="label label-important" title="Switch to location chooser" href="{% url "create_node" "rack" %}"">X</a>
            {% else %}
            {% typeahead form.relationship_location '/search/typeahead/locations' placeholder='Ex: dk-ore H0.08' min_length=2 %}
            {% endif %}
      </div>
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/new/" class="btn">Cancel</a>
    </form>
{% endblock %}

