{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load noclook_tags %}

{% block content %}
    <h1>Create new Optical Filter</h1>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
      <div class="well">
            {{ form | crispy }}
      </div>
      <div class="accordion" id="create-accordion">
          {% accordion 'Ports' 'ports' '#create-accordion' %}
            {{ ports_form | crispy }}
          {% endaccordion %}
      </div>
      <input type="submit" value="Save" class="btn btn-primary" />
      <a href="{% url 'new_node' %}" class="btn">Cancel</a>
    </form>
{% endblock %}
