/* NOCLook CSS */
img.logo {
 display: block;
 border: 0px;
 width: 100%;
}

ul.parent-menu {
 list-style-type: none;
 margin-top: 20px;
}

ul.menu {
 list-style-type: none;
}

.text-centered {
 text-align: center;
}

.break-word {
  word-wrap: break-word;
}

.section {
 width: 100%;
}

.top-space {
    margin-top: 40px;
}

.no-border {
    border: 0;
}

.clear-float {
 width: 100%;
 height: 1px;
 margin: 0 0 -1px;
 clear: both;
}

h3.hidden-section {
 display: inline;
}

a.section-open {
 font-size: 12px;
 padding-right: 13px;
 background-image: url(/site_media/img/spindown-open.gif);
 background-position: right center;
 background-repeat: no-repeat;
}

a.section-closed {
 font-size: 12px;
 padding-right: 13px;
 background-image: url(/site_media/img/spindown-closed.gif);
 background-position: right center;
 background-repeat: no-repeat;
}

h5.site {
 margin-top: -5px;
}

select.stacked {
 display: block;
 margin-top: 10px;
 margin-bottom: 5px;
}

#toggle_debug:link, #toggle_debug:visited {
    display: block;
    color: #000000;
    background-color: #D3D3D3;
    text-align: center;
    text-decoration:none;
    width: 150px;
    padding: 2px;
}
#toggle_debug:hover, #toggle_debug:active {
    background-color: #808080;
}

.hidden {
    display: none;
}

#section {
    width: auto;
    margin: 10px 50px 50px 0px;
    padding: 5px 5px 5px 5px;
}

#search {
    margin: 0px 0px 0px 200px;
}

#expired {
    width: auto;
    background-color: red;
    text-align: center;
}

/* Visualization */
#infovis_section {
    position:relative;
    margin: 10px 50px 50px 0px;
    padding: 5px 5px 5px 5px;
}

#infovis {
    position: relative;
    height: 600px;
    left:0px;
    top:0px;
}

#inner-details {
    position:absolute;
    right:0px;
    top:0px;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

/* Comments */
#id_honeypot {
    visibility:hidden;
}
/*
div.comment{
    width: 400px;
    white-space: normal;
    background:#f4f4f4;
    padding:10px;
    margin:10px;
}

div.comment_noborder{
    width: 400px;
    white-space: normal;
    padding:10px;
    margin:10px;
}
*/
/* Autocomplete */
.autocomplete-w1 { background:url('/static/img/shadow.png') no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

li.autocomplete {
    list-style: none;
}

/* Tablesorter tweeks */
table.tablesorter thead .header {
 padding-right: 15px;
}

/* Django form errorlist */
ul.errorlist {
 list-style: none;
}

.ip-address {
    cursor: pointer;
}