html {

}

body {
    margin: 0;
    padding: 0;

}

img {
    border: none;
}

#container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    background: #fff url('../img/pipes_back.jpg') repeat-y top left;
}

#top {
    display: block;
    width: 100%;
    background: #00B2E4 url('../img/top_back.gif') repeat-x bottom left;
    overflow: hidden;

}
#top_table {
    margin:0;
    padding:0;
    margin-top: 33px;
    width: 900px;
    border-collapse: collapse;
    margin-bottom: -1px;


}

#top_table td {
    vertical-align:bottom;
}

#top_table td img {
    margin-bottom: 20px;
    display: block;
    padding-right:10px;

}

#main_nav {
    margin:0;
    padding:0;
    list-style:none;
    color: #fff;
    height: 40px;
    display: block;

}

#main_nav li {
    display: block;
    float: left;
    background: url('../img/main_nav_left.gif') no-repeat bottom left;
    padding: 0 0 0 11px;

}
#main_nav li#selectedPage {
    background: url('../img/main_nav_left_selected.gif') no-repeat bottom left;
}
#main_nav li a {
    display: block;
    float: left;
    padding: 0 11px 0 0;
    height: 40px;
    color: #fff;
    text-decoration: none;
    outline: 0;
    background: url('../img/main_nav_back.gif') no-repeat bottom right;
}

#main_nav li#selectedPage a {
    background: url('../img/main_nav_back_selected.jpg') no-repeat bottom right;
    color: #000;

}
#main_nav li a span {
     vertical-align: middle;
     display: block;
     padding-top: 10px;

}

#left {
    clear: both;
    background: #fff url('../img/left_back.gif') repeat-y top left;
    width: 200px;
    float: left;
}

#search_form  {
    padding-left: 8px;
    width: 200px;
    margin: 10px 0 20px 0;
}

#search_form .input_image {

    vertical-align: middle;
}

#nav {

    width: 200px;
    font-size: 12px;
    clear: both;
}

#nav #intro {
    width: 179px;
    background: #fff url('../img/intro_top.jpg') no-repeat top left;
    padding: 15px 10px 1px 10px;
}

#nav #intro_footer {
    width: 199px;
    height:27px;
    background: #fff url('../img/intro_bottom.jpg') no-repeat top left;
}


#nav ul.site_tree,
#nav ul.site_tree ul,
#nav ul.site_tree li {
    margin: 0;
    padding: 0;
    list-style: none;

}
#nav ul.site_tree {
    background: transparent url('../img/subnavback.gif') no-repeat bottom left;
    padding-bottom:2px;
}

#nav ul.site_tree a {
    color: #4F4E4E;
    text-decoration: none;
    display: block;
}

#nav ul.site_tree a:hover {
    text-decoration: none;
}

#nav ul.site_tree strong.level1 {
    color: #000;
    display: block;
    background-color: #59BAE7;
}

#nav ul.site_tree li.level2 {
    background: transparent url('../img/subnavback.gif') no-repeat top left;
}


#nav ul.site_tree a.level1,
#nav ul.site_tree strong.level1  {
    padding:5px 0 5px 10px;

}

#nav ul.site_tree li.level2 {
    display:block;
    padding: 5px 0 2px 15px;
}

#nav ul.site_tree a.level2 {

}

#nav #nav_pic {
    display: block;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 20px;
    color: #004788;
}

h2 {
    font-size: 18px;
    color: #004788;
}

h3 {
    font-size: 16px;
    color: #004788;
}

h4 {
    font-size: 14px;
    color: #004788;
}

h5  {
    font-size: 12px;
    color: #004788;
}

p   {
        font-size: 12px;
        color: #004788;

}

ul  {
        font-size: 12px;
        color: #004788;

}

#content {
    margin-left: 200px;
    padding: 20px;
    width: auto;
    line-height: 1.5em;
}

#content table {
    border-collapse: collapse;
}

#content th {
    background-color: #f0f0f0;
    padding: 5px;
    color: #036;
}

#content td {
    vertical-align: middle;
    padding: 5px;
}

*html #content table { width:99%; }

#footer {
    clear: both;
    width: 100%;
    height: 35px;
    background-color: #D8D8D8;
    border-top: 1px solid #989898;
    border-bottom: 1px solid #989898;
}

#footer p {
    vertical-align: middle;
    margin: 12px 10px 10px 200px;
    font-size: 10px;
    color: #848484;
}

#footer img {
    float: left;
    margin: 0px 0px 0px 2px;
}

hr {
  border: 0;
  color: #696969;
  background-color:#696969;
  height: 1px;
}


#intro img{
    padding-top: 5px;
    border: none;
}

/* Open trouble tickets */
#opentickets {
    margin-left: 200px;
    padding: 0 20px 20px 20px;
    width: auto;
}

.blue {
background:#004788 none repeat scroll 0 0;
}

.text {
  font-size: 12px;
  color: #004788;
}

.group_heading {
color:#004788;
font-size:12px;
font-weight:bolder;
}

.list_info {
background-color:#D9EFFA;
color:#004788;
padding:0.6em;
}

.whitebold {
color:#FFFFFF;
font-size:12px;
font-weight:bold;
}

/* NOCLook CSS */
ul.menu {
 list-style-type: none;
 font-size: 15px;
 margin-top: 20px;
}

.break-word {
  word-wrap: break-word;
}

.section {
 width: 100%;
}

.clear-float {
 width: 100%;
 height: 1px;
 margin: 0 0 -1px;
 clear: both;
}

/* Detailed views */
.info-container {
 width: auto;
 vertical-align: top;
}

.info {
 float: left;
}

.info table {
 table-layout:fixed;
 width:300px;
}
.info th {
 text-align: left;
 vertical-align: top;
}

.info td {
 text-align: left;
 vertical-align: top;
}

.comment-cell {
 width: 200px;
}

/*#content td.align_top {
 vertical-align: top;
}

#content td.align_top_grey {
 vertical-align: top;
 background-color: #F0F0F0;
}
*/
#toggle_debug:link, #toggle_debug:visited {
    display: block;
    color: #000000;
    background-color: #D3D3D3;
    text-align: center;
    text-decoration:none;
    width: 150px;
    padding: 2px;
}
#toggle_debug:hover, #toggle_debug:active {
    background-color: #808080;
}

#debug {
    display: none;
}

#section {
    width: auto;
    margin: 10px 50px 50px 0px;
    padding: 5px 5px 5px 5px;
}

#search {
    margin: 0px 0px 0px 200px;
}

/* Visualization */
#infovis_section {
    position:relative;
    margin: 10px 50px 50px 0px;
    padding: 5px 5px 5px 5px;
}

#infovis {
    position: relative;
    height: 600px;
    left:0px;
    top:0px;
}

#inner-details {
    position:absolute;
    right:0px;
    top:0px;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

/* Comments */
#id_honeypot {
    visibility:hidden;
}

div.comment{
    width: 400px;
    white-space: normal;
    background:#f4f4f4;
    padding:10px;
    margin:10px;
}

div.comment_noborder{
    width: 400px;
    white-space: normal;
    padding:10px;
    margin:10px;
}

/* Autocomplete */
.autocomplete-w1 { background:url('/site_media/img/shadow.png') no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
