<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Load the template tags before referencing them -->
    {% load niweb_tags %}
    <link rel="stylesheet" href="{% niweb_media_url %}css/style.css" type="text/css" media="screen" title="NORDUnet" charset="utf-8" />
    <link rel="stylesheet" href="{% niweb_media_url %}css/jquery.tablesorter.blue.css" type="text/css" media="screen" title="NORDUnet" charset="utf-8" />
    <link rel="stylesheet" href="{% niweb_media_url %}css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="screen" title="NORDUnet" charset="utf-8" />
    <title>NOCLook {% block title %}{% endblock %}</title>
    <!--[if IE]><script language="javascript" type="text/javascript" src="/site_media/js/jit/Extras/excanvas.js"></script><![endif]-->
    <!-- JQuery Library File -->
    <script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/jquery/jquery-1.6.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/jquery/jquery.autocomplete-min.js"></script>
    <script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var options, a;
        jQuery(function(){
          options = { serviceUrl:'/search/autocomplete' };
          a = $('#autoc').autocomplete(options);
        });
    });
    </script>
    <!-- Remove toggle_debug after development -->
    <script type="text/javascript">
    function toggle_debug() {
        $('#debug').toggle('slow', function() {
        });
    }
    </script>
    {% block js %}{% endblock %}
</head>
<body>
    <div id="container">
        <div id="top">
            <table id="top_table">
                <tr>
                    <td><a href="{% niweb_url %}"><img src="{% niweb_media_url %}img/noclook_trans.png" width="202" height="46" alt="NOCLook" /></a></td>
                </tr>
            </table>
            <div id="search">
                <form action="/search/" method="post" class="search">
                    {% csrf_token %}
                    <input type="search" id="autoc" name="query" /><button type="submit">Search</button>
                </form>
            </div>
        </div>
        <div id="left">
            {% block menu %}
            {% load noclook_tags %}
            {% type_menu %}

            {% if node_handle %}
                <ul class="menu">
                    <li><a href="/visualize{{ node_handle.get_absolute_url }}">Visualize</a></li>
                {% if user.is_staff %}
                    <li><a href="/edit{{ node_handle.get_absolute_url }}">Edit</a></li>
                {% endif %}
                </ul>
            {% endif %}
            {% if user.is_staff %}
            <ul class="menu">
                <li><a href="/new/node/">Create new node</a></li>
            </ul>
            {% endif %}
            {% if user.is_authenticated %}
            <ul class="menu">
                <li><a href="/logout/">Log out</a></li>
            </ul>
            {% endif %}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
            {% if node_handle %}
                <!-- Comments -->
                <div class="section">
                    {% load comments %}
                    <h2>Add user information:</h2>
                    {% get_comment_form for node_handle as form %}
                    <form action="{% comment_form_target %}" method="POST">
                        {% csrf_token %}
                        {{ form.comment }}
                        {{ form.honeypot }}
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        <input type="hidden" name="next" value="{{ node_handle.get_absolute_url }}" />
                        <br />
                        <input type="submit" value="Submit" id="id_submit" />
                    </form>
                </div>
                <!-- End comments -->
            {% endif %}
        </div>
        <div id="footer">
            <p>Development version. Questions, comments or bug reports? Send an e-mail to <a href="mailto:lundberg@nordu.net">lundberg@nordu.net</a>.</p>
        </div>
    </div>
</body>
</html>
