<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load the template tags before referencing them -->
    {% load niweb_tags %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.tablesorter.blue.css" type="text/css" media="screen" title="NORDUnet" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/cupertino/jquery-ui-1.8.18.custom.css" type="text/css" media="screen" title="NORDUnet" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" title="NORDUnet" charset="utf-8" />
    <title>NOCLook{% block title %}{% endblock %}</title>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.7.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-ui-1.8.18.custom.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.autocomplete-min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.tablesorter.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var options, a, b, c;
        jQuery(function(){
          options = {
                serviceUrl:'/search/autocomplete',
                minChars:2,
          };
          a = $("#main").autocomplete(options);
          b = $("#index").autocomplete(options);
          c = $("#mobile").autocomplete(options);
        });
        $(".dropdown-toggle").dropdown()
        $(".debug-toggle").collapse()
        $(".nav-collapse").collapse()
    });
    </script>
    {% block js %}{% endblock %}
</head>
<body>
    <br>
    {% load noclook_tags %}
    <div class="container-fluid">
        <div class="navbar navbar-static hidden-desktop">
            <div class="navbar-inner">
                <div class="container">

                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <!-- Be sure to leave the brand out there if you want it shown -->
                    <a class="brand" href="/">NOCLook</a>

                    <!-- Everything you want hidden at 940px or less, place within here -->
                    <div class="nav-collapse in collapse">
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% type_menu %}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/reports/hosts/">Host reports</a></li>
                                    <li><a href="/reports/unique-ids/">Unique IDs</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maps <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/gmaps/sites/">Site map</a></li>
                                    <li><a href="/gmaps/optical-nodes/">Optical node map</a></li>
                                </ul>
                            </li>
                            {% if user.is_staff %}
                                <li>
                                    <a href="/new/">Create new</a>
                                    <li><a href="/reserve-id/">Reserve IDs</a></li>
                                </li>
                            {% endif %}
                            <li class="divider-vertical"></li>
                            {% if user.is_authenticated %}
                                <form action="/search/" method="post" class="navbar-search pull-left">{% csrf_token %}
                                    <input class="xlarge search-query" type="search" id="mobile" name="q" placeholder="Search" />
                                </form>
                            {% endif %}
                        </ul>
                        {% if user.is_authenticated %}
                            <ul class="nav pull-right">
                                <li>
                                    <a href="/logout/"><i class="icon-user icon-white"></i> Log out</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2 well visible-desktop">
                <a href="{% niweb_url %}"><img class="logo" src="{{ STATIC_URL }}img/noclook_logo.png"></a>
                {% block menu %}
                    {% load noclook_tags %}
                    <ul class="nav nav-list">
                        <li class="divider"></li>
                        <li class="nav-header"><i class="icon-list"></i> Browse types</li>
                        {% type_menu %}
                        <li class="divider"></li>
                        <li class="nav-header"><i class="icon-briefcase"></i> Reports</li>
                        <li><a href="/reports/hosts/">Host reports</a></li>
                        <li><a href="/reports/unique-ids/">Unique IDs</a></li>
                        <li class="divider"></li>
                        <li class="nav-header"><i class="icon-map-marker"></i> Maps</li>
                        <li><a href="/gmaps/sites/">Site map</a></li>
                        <li><a href="/gmaps/optical-nodes/">Optical node map</a></li>
                        {% if user.is_authenticated %}
                            <li class="divider"></li>
                            <li class="nav-header"><i class="icon-wrench"></i> Admin</li>
                            {% if user.is_staff %}
                                <li><a href="/new/">Create new</a></li>
                                <li><a href="/reserve-id/">Reserve IDs</a></li>
                            {% endif %}
                            <li><a href="/logout/">Log out</a></li>
                        {% endif %}
                    </ul>
                {% endblock %}
            </div>
            <div class="span9 content">
                <div class="row visible-desktop">
                    <div class="span5">
                        {% if user.is_authenticated %}
                            <form id="test" action="/search/" method="post" class="form-search">{% csrf_token %}
                                <input class="xlarge search-query" type="search" id="main" name="q" /> <button class="btn primary" type="submit">Search</button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="span4">
                        {% if user.is_authenticated %}
                            <div class="pull-right">Logged in as <a href="{{ user.get_profile.get_absolute_url }}">{{ user }}</a> <a href="/logout/" class="btn btn-small btn-info"><i class="icon-user icon-white"></i> Log out</a></div>
                        {% endif %}
                    </div>
                </div>
                {% block content %}{% endblock %}

                {% block content_footer %}{% endblock %}

                {% if node %}
                    <!-- DEBUG START -->
                    <div class="section visible-desktop">
                        <br><br><br>
                        <div class="accordion" id="debug-accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle btn" data-toggle="collapse" data-parent="#debug-accordion" href="#collapseDebug">
                                        Debug
                                    </a>
                                </div>
                                <div id="collapseDebug" class="accordion-body collapse" style="height: 0px; ">
                                    <div class="accordion-inner">
                                        <h2>Debug</h2>
                                        <h3>Node properties</h3>
                                        <table class="table">
                                            {% for key,value in node.items %}
                                                <tr>
                                                    <td><strong>{{key}}</strong></td><td>{{value}}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                        <h3>Relationships</h3>
                                        <table class="table">
                                            {% for rel in node.getRelationships %}
                                                <tr>
                                                    <td><a href="/{{rel.start.node_type|slugify}}/{{rel.start.handle_id}}/">{{rel.start.name}}</a></td><td>{{rel.type}}</td><td><a href="/{{rel.end.node_type|slugify}}/{{rel.end.handle_id}}/">{{rel.end.name}}</a></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <table>
                                                            {% for key, value in rel.items %}
                                                                <tr>
                                                                    <td><strong>{{ key }}</strong></td><td>{{ value }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </table>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                        <h3>Meta information</h3>
                                        <table class="table">
                                            <tr>
                                                <td><b>handle_id:</b> </td><td>{{ node_handle.handle_id }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>node_id:</b> </td><td>{{ node_handle.node_id }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>node_name:</b> </td><td>{{ node_handle.node_name }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>node_type:</b> </td><td>{{ node_handle.node_type }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>node_meta_type:</b> </td><td>{{ node_handle.get_node_meta_type_display }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>creator:</b> </td><td>{{ node_handle.creator }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>created:</b> </td><td>{{ node_handle.created }}</td>
                                            </tr>
                                            <tr>
                                                <td><b>modified:</b> </td><td>{{ node_handle.modified }} by {{ node_handle.modifier|title}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.nordu.net/" : "http://analytics.nordu.net/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://analytics.nordu.net/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>
