<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Load the template tags before referencing them -->
    {% load niweb_tags %}
    <link rel="stylesheet" href="{% niweb_media_url %}css/jquery.tablesorter.blue.css" type="text/css" media="screen" title="NORDUnet" charset="utf-8" />
    <link rel="stylesheet" href="{% niweb_media_url %}css/cupertino/jquery-ui-1.8.18.custom.css" type="text/css" media="screen" title="NORDUnet" charset="utf-8" />
    <link rel="stylesheet" href="{% niweb_media_url %}css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{% niweb_media_url %}css/style.css" type="text/css" media="screen" title="NORDUnet" charset="utf-8" />
    <title>NOCLook{% block title %}{% endblock %}</title>
    <script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/jquery/jquery-1.7.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/jquery/jquery-ui-1.8.18.custom.min.js"></script>
    <script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/jquery/jquery.autocomplete-min.js"></script>
    <script language="javascript" type="text/javascript" src="{% niweb_media_url %}js/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var options, a;
        jQuery(function(){
          options = { serviceUrl:'/search/autocomplete' };
          a = $('#autoc').autocomplete(options);
        });
    });
    </script>
    <!-- Remove toggle_debug after development -->
    <script type="text/javascript">
    function toggle_debug() {
        $('#debug').toggle('slow', function() {
        });
    }
    </script>
    {% block js %}{% endblock %}
</head>
<body>
    <br>
    <div class="container-fluid">
        <div class="sidebar">
            <div class="well">
                <a href="{% niweb_url %}"><img src="{% niweb_media_url %}/img/noclook_logo.png" width="170px"></a>
                {% block menu %}
                    {% load noclook_tags %}
                    {% type_menu %}
                    <ul class="menu">
                        <li><a href="/gmaps/sites/">Site map</a></li>
                        <li><a href="/gmaps/optical-nodes/">Optical node map</a></li>
                    </ul>

                    {% if node_handle %}
                        <ul class="menu">
                            <li><a href="/visualize{{ node_handle.get_absolute_url }}">Visualize</a></li>
                        </ul>
                    {% endif %}
                    {% if user.is_staff %}
                        <ul class="menu">
                            <li><a href="/new/">Create new node</a></li>
                        </ul>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <ul class="menu">
                            <li><a href="/logout/">Log out</a></li>
                        </ul>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        <div class="content">
            {% block content %}
            <div class="row">
                <div class="span7">
                    <form action="/search/" method="post" class="form-search">{% csrf_token %}
                        <input class="xlarge search-query" type="search" id="autoc" name="query" /> <button class="btn primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
            {% endblock %}
            {% block content_footer %}{% endblock %}

            <!-- DEBUG START -->
            <br><br><br>
            {% if node %}
                <p><a href="javascript:toggle_debug()" class="btn">Toggle debug information</a></p>
                <div id="debug" class="hidden">
                    <h3>Debug</h3>
                    <h4>Node properties</h4>
                    <table>
                    {% for key,value in node.items %}
                        <tr>
                            <td><strong>{{key}}</strong></td><td>{{value}}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <h4>Relationships</h4>
                    <table>
                    {% for rel in node.getRelationships %}
                        <tr>
                            <td><a href="/{{rel.start.node_type|slugify}}/{{rel.start.handle_id}}/">{{rel.start.name}}</a></td><td>{{rel.type}}</td><td><a href="/{{rel.end.node_type|slugify}}/{{rel.end.handle_id}}/">{{rel.end.name}}</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <table>
                                {% for key, value in rel.items %}
                                    <tr>
                                        <td><strong>{{ key }}</strong></td><td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </table>
                    <h4>Meta information</h4>
                    <table>
                        <tr>
                            <td><b>handle_id:</b> </td><td>{{ node_handle.handle_id }}</td>
                        </tr>
                        <tr>
                            <td><b>node_id:</b> </td><td>{{ node_handle.node_id }}</td>
                        </tr>
                        <tr>
                            <td><b>node_name:</b> </td><td>{{ node_handle.node_name }}</td>
                        </tr>
                        <tr>
                            <td><b>node_type:</b> </td><td>{{ node_handle.node_type }}</td>
                        </tr>
                        <tr>
                            <td><b>node_meta_type:</b> </td><td>{{ node_handle.get_node_meta_type_display }}</td>
                        </tr>
                        <tr>
                            <td><b>creator:</b> </td><td>{{ node_handle.creator }}</td>
                        </tr>
                        <tr>
                            <td><b>created:</b> </td><td>{{ node_handle.created }}</td>
                        </tr>
                        <tr>
                            <td><b>modified:</b> </td><td>{{ node_handle.modified }} by {{ node_handle.modifier|title}}</td>
                        </tr>
                    </table>
                </div>
            {% endif %}
            <!-- DEBUG END -->
        </div>
    </div>
</body>
</html>
