{% for type in types|dictsort:"type" %}
    {% if type.slug == 'switch' %}
        <li class="menu_item"><a href="{{ type.get_absolute_url }}">{{ type }}es</a></li>
    {% else %}
        <li class="menu_item"><a href="{{ type.get_absolute_url }}">{{ type }}s</a></li>
    {% endif %}
    {% if type.slug == 'service' %}
        <ul class="nav nav-list">
            <li class="menu_item"><a href="{{ type.get_absolute_url }}DWDM/">DWDM</a></li>
            <li class="menu_item"><a href="{{ type.get_absolute_url }}External/">External</a></li>
            <li class="menu_item"><a href="{{ type.get_absolute_url }}Hosting/">Hosting</a></li>
            <li class="menu_item"><a href="{{ type.get_absolute_url }}IAAS/">IAAS</a></li>
            <li class="menu_item"><a href="{{ type.get_absolute_url }}Internal/">Internal</a></li>
            <li class="menu_item"><a href="{{ type.get_absolute_url }}IP/">IP</a></li>
            <li class="menu_item"><a href="{{ type.get_absolute_url }}MPLS/">MPLS</a></li>
            <li class="menu_item"><a href="{{ type.get_absolute_url }}SAAS/">SAAS</a></li>
        </ul>
    {% endif %}
{% endfor %}
