{% extends "base.html" %}

{% block title %}{{ block.super }} | Profile for {{ profile.user.username }}{% endblock %}

{% block js %}{% endblock %}

{% block content %}
    {{ block.super }}
    <h1><a href="..">User</a> {{ profile.user.username }}</h1>
    <div class="section top-space">
        <div class="row">
            <div class="span4">
                <table class="table">
                    <tr>
                        <th>Username:</th><td>{{ profile.user.username }}</td>
                    </tr>
                    <tr>
                        <th>First name:</th><td>{{ profile.user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Last name:</th><td>{{ profile.user.last_name }}</td>
                    </tr>
                </table>
            </div>
            <div class="span3">
                <table class="table">
                    <tr>
                        <th>Last login:</th><td>{{ profile.user.last_login|timesince }}</td>
                    </tr>
                    <tr>
                        <th>Created:</th><td>{{ profile.user.date_joined }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="section">
        <h2>Activities</h2>
        {% if activities %}
            <table class="table">
                {% for entry in activities %}
                    <tr>
                        <td>
                            <span class="label label-info">{{ entry.verb }}</span><strong class="pull-right">{{ entry.timestamp|timesince }} ago</strong><br>
                            {% if entry.data.noclook.action_type == 'node_property' %}
                                <strong>{{ entry.actor }} updated <a href="{{ entry.action_object.get_absolute_url }}">{{ entry.action_object }}</a></strong>
                                <p>{{ entry.data.noclook.property }}: {{ entry.data.noclook.value_before }} <i class="icon-arrow-right"></i> {{ entry.data.noclook.value_after }}</p>
                            {% else %}
                                {{ entry.data.noclook }}
                            {% endif %}
                        <td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No activities recorded.</p>
        {% endif %}

    </div>
{% endblock %}
