{% load noclook_tags %}
{% load static %}

<div class="row-flex">
{% include "noclook/tags/_rack.html" with racked_equipment=racked_equipment title='Front' %}
{% include "noclook/tags/_rack.html" with racked_equipment=racked_equipment_back title='Rear' %}

{% if unracked_equipment %}
<div class="unracked flex-adjust">
  <h4>Equipment without specific placement</h4>
  {% blockvar th %}
              <th>Type</th><th>Name</th>
  {% endblockvar %}
  {% blockvar tbody %}
      {% for item in unracked_equipment %}
          <tr>
              {% noclook_get_type item.node.handle_id as node_type %}
              <td>{{ node_type }}</td>
              <td><a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a></td>
          </tr>
      {% endfor %}
  {% endblockvar %}
  {% table th tbody id="equipment" %}
</div>
{% endif %}
</div>
