<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Visualize {{ node_handle }}</title>
        <!-- Load the template tags before referencing them -->
        {% load noclook_tags %}
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen" title="NORDUnet" charset="utf-8" />
        <script type="text/javascript" src="{% static "js/jquery/jquery-3.3.1.min.js" %}"></script>
        <!-- Arbor Library File -->
        <script language="javascript" type="text/javascript" src="{% static "js/arbor/arbor.js" %}"></script>
        <script language="javascript" type="text/javascript" src="{% static "js/arbor/arbor-graphics.js" %}"></script>
        <script language="javascript" type="text/javascript" src="{% static "js/arbor/arbor-tween.js" %}"></script>
        <script language="javascript" type="text/javascript" src="{% static "js/arbor/renderer.js" %}"></script>
        <!-- First initialize -->
        <script type="text/javascript">
        window.onload = function(){
            var sys = arbor.ParticleSystem({repulsion:1000, stiffness:100, friction:0.5, gravity: true, dt:0.02});
            sys.screenPadding(20, 200, 20, 200)
            sys.renderer = Renderer("#viewport");
            $.getJSON('/visualize/{{ node_handle.handle_id }}.json', function(json) {
                sys.graft(json);
            });
            $('a#undo').click(function(e)
            {
                e.preventDefault();
                sys.renderer.undo();
            });
            $('a#cleanup').click(function(e)
            {
                e.preventDefault();
                sys.renderer.cleanup();
            });
        };
        </script>
        <script type="text/css">
            html, body {
              width:  100%;
              height: 100%;
              margin: 0px;
            }
        </script>
    </head>
    <body>
        <a id="undo" class="btn btn-danger"><i class="icon-backward icon-white"></i> Undo</a>
        <a id="cleanup" class="btn btn-warning"><i class="icon-trash icon-white"></i> Cleanup</a>
        <canvas id="viewport">(Your browser doesn't support canvas)</canvas>
    </body>
</html>
