<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <title>NOCLook Google Maps</title>
{% load noclook_tags %}
<script type="text/javascript" src="{% static "js/jquery/jquery-3.3.1.min.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&key={{ maps_api_key }}" type="text/javascript"></script>
<script type="text/javascript">
    function initialize() {
        var latlng = new google.maps.LatLng(59, 5);
        var myOptions = {
            zoom: 5,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        load_content(map)
    }
    function load_content(map) {
        $.getJSON('/gmaps/{{ slug }}.json', function(json) {
            json.nodes.forEach(function(node) {
                addMarker(
                        node.lat,
                        node.lng,
                        node.name,
                        node.url
                );
            });
            json.edges.forEach(function(edge) {
                if (edge.end_points && edge.end_points.length == 2) {
                  addLine(
                        edge.end_points[0].lat,
                        edge.end_points[0].lng,
                        edge.end_points[1].lat,
                        edge.end_points[1].lng,
                        edge.name,
                        edge.url
                  );
                }else{
                  console.log('Edge', edge.name, 'does not have two endpoints', edge)
                }
            });

            function addMarker(lat,lng,label,url){
                var latlng = new google.maps.LatLng(lat,lng);

                var infowindow = new google.maps.InfoWindow({
                    content: "<a href=\"" + url + "\">" + label + "</a>"
                });

                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map
                });

                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map, marker);
                });
            }

            function addLine(start_lat, start_lng, end_lat, end_lng, label, url){
                var infowindow = new google.maps.InfoWindow({
                    content: "Cable:<br /><a href=\"" + url + "\">" + label + "</a>"
                });

                var path = [
                    new google.maps.LatLng(start_lat, start_lng),
                    new google.maps.LatLng(end_lat, end_lng)
                ];
                var line = new google.maps.Polyline({
                    path: path,
                    title: label,
                    strokeWeight: 2,
                    strokeColor: "#FF0000",
                    strokeOpacity: 0.5,
                    map: map
                });

                google.maps.event.addListener(line, 'mouseover', function(event) {
                    line.setOptions({strokeWeight: 4, strokeOpacity: 0.8})
                });

                google.maps.event.addListener(line, 'click', function(event) {
                    infowindow.open(map);
                    infowindow.setPosition(event.latLng)
                });

                google.maps.event.addListener(line, 'mouseout', function() {
                    line.setOptions({strokeWeight: 2, strokeOpacity: 0.5})
                });
            }
        });
    }
</script>
</head>
<body onload="initialize()">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>
