{% load noclook_tags %}
{% blockvar connections_title %}
   {{ node_handle.node_type }} connections (optional)
{% endblockvar %}
{% accordion connections_title 'connections-edit' '#edit-accordion' %}
  {% if connected_to.Connected_to %}
      {% load noclook_tags %}
      <h4>Remove Connection</h4>
      {% for item in connected_to.Connected_to %}
          <div class="row">
              <div class="span5">
                  Connected to <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>
              </div>
              <div class="span1">
                  <a href="relationship/{{ item.relationship_id }}/delete" class="label label-important relationship-confirm">Delete</a>
              </div>
          </div>
      {% endfor %}
  <hr>
  {% endif %}
  <h4>Add connected to relationship</h4>
  <div class="span4">
      {% json_combo form.relationship_connected_to '/formdata/cable/cable_type/{id}/,/formdata/{id}/children/' connections_categories %}
  </div>
{% endaccordion %}
