{% load noclook_tags %}
{% blockvar owner_title %}
  {{ node_handle.node_type }} Owner (optional)
{% endblockvar %}
{% accordion owner_title 'owner_choose' '#edit-accordion' %}
  {% if relations.Owns %}
      {% load noclook_tags %}
      <h4>Remove owner</h4>
      {% for item in relations.Owns %}
          <div class="row">
              <div class="span5">
                  Owner <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>
              </div>
              <div class="span1">
                  <a href="relationship/{{ item.relationship_id }}/delete" class="label label-important relationship-confirm">Delete</a>
              </div>
          </div>
      {% endfor %}
      <hr>
  {% endif %}
  <h4>Add owner</h4>
  <div class="span4">
    {% json_combo form.relationship_owner '/formdata/{id}/' 'customer,end-user,host-user,provider' %}
   </div>
{% endaccordion %}
