{% extends "base.html" %}
{% load import_tags %}
{% block content %}
    {{ block.super }}
    <h2>Import into {{parent.node_type}}: {{parent.node_name}}</h2>

    {% if errors %}
      <div class="alert alert-block alert-error">
        {% if errors|length == 1 %}
          There is one error please fix it.
        {% else %}
          There are {{errors|length}} errors please fix them.
        {% endif %}
        {% if errors.global %}
        <ul>
          {% for error in errors.global %}
          <li>{{error}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    {% endif %}
      <form method="POST">
        {% csrf_token %}
        {% for item in data %}
          {% type_form item forloop.counter %}
        {% endfor %}
        <input type="hidden" name="import" value="true" />
        <button class="btn btn-primary">Import</button>
        <a href="." class="btn">Cancel</a>
      </form>

{% endblock %}
