{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} Cable list{% endblock %}
{% block before_table %}
    <h1>Cables</h1>
{% endblock %}
{% block table_head %}
    <th>Name</th><th>Cable type</th>
{% endblock %}
{% block table_body %}
            {% load noclook_tags %}
            {% for item in cable_list %}
                    {% noclook_has_expired item.cable as expired %}
                    {% if expired %}
                        <tr class="expired">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td><a href="{% noclook_node_to_url item.cable.handle_id  %}">{{ item.cable.name }}</a></td><td>{{ item.cable.cable_type }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
