{% extends "base.html" %}

{% block title %}{{ block.super }} ODF list{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#nodes").tablesorter(
        {
            sortList: [[0,0],[1,0]],
            headers:
            {},
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
    <h1>ODFs</h1>
    <table id="nodes" class="tablesorter" cellspacing="1">
        <thead>
            <th>Location</th><th>Name</th>
        </thead>
        <tbody>
            {% load noclook_tags %}
            {% for item in odf_list %}
                <tr>
                    <td><a class="handle" href="/rack/{{ item.location.handle_id }}">{{ item.site.name }} {{ item.location.name }}</a></td>
                    <td><a class="handle" href="/odf/{{ item.odf.handle_id }}">{{ item.odf.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
