{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} ODF list{% endblock %}

{% block before_table %}
    <h1>ODFs</h1>
{% endblock %}
{% block table_head %}
            <th>Location</th><th>Name</th>
{% endblock %}
{% block table_body %}
            {% load noclook_tags %}
            {% for item in odf_list %}
                <tr>
                    <td><a class="handle" href="{% noclook_node_to_url item.location.handle_id %}">{{ item.site.name }} {{ item.location.name }}</a></td>
                    <td><a class="handle" href="{% noclook_node_to_url item.odf.handle_id %}">{{ item.odf.name }}</a></td>
                </tr>
            {% endfor %}
{% endblock %}
