{% extends "base.html" %}

{% block title %}{{ block.super }} Optical Link list{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(
                function(){
                    $("#optical-links").tablesorter(
                            {
                                sortList: [[0,0]],
                                headers:
                                {},
                                widthFixed: true,
                                widgets: ['zebra']
                            });
                }
        );
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>Optical Links</h1>
    <div class="pull-right">
        <span class="badge badge-info">Testing</span>
        <span class="badge badge-warning">Reserved</span>
        <span class="badge badge-important">Decommissioned</span>
    </div>
    <table id="optical-links" class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>Optical Link</th><th>Type</th><th>Description</th><th>Depends on</th>
            </tr>
        </thead>
        <tbody>
        {% load noclook_tags %}
        {% for optical_link in optical_link_list %}
            {% if optical_link.data.operational_state  %}
                <tr class="{{optical_link.data.operational_state | lower }}">
                    {% else %}
                <tr>
            {% endif %}
                    <td><a href="{% noclook_node_to_url optical_link.data.handle_id %}">{{ optical_link.data.name }}</a></td>
                    <td>{{ optical_link.data.link_type }}</td>
                    <td>{{ optical_link.data.description }}</td>
                    <td>
                        {% for end_point in optical_link.dependencies %}
                            <a href="{% noclook_node_to_url end_point.handle_id %}">
                                {{ end_point.placement_path.name }}
                                {{ end_point.name }}
                            </a><br>
                        {%  endfor %}
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
