{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} Optical Path list{% endblock %}

{% block before_table %}
    <h1>Optical Paths</h1>
{% endblock %}
{% block table_labels %}
        <span class="badge badge-info">Testing</span>
        <span class="badge badge-warning">Reserved</span>
        <span class="badge badge-important">Decommissioned</span>
{% endblock %}
{% block table_head %}
    <th>Optical Path</th><th>Framing</th><th>Capacity</th><th>Description</th><th>ENRs</th>
{% endblock %}
{% block table_body %}
        {% load noclook_tags %}
        {% for optical_path in optical_path_list %}
            {% if optical_path.operational_state == "Decommissioned" %}
                <tr class="decommissioned">
                    {% elif optical_path.operational_state == "Reserved" %}
                <tr class="reserved">
                    {% elif optical_path.operational_state == "Testing" %}
                <tr class="testing">
                    {% else %}
                <tr>
            {% endif %}
                    <td><a href="{% noclook_node_to_url optical_path.path.handle_id %}">{{ optical_path.path.name }}</a></td>
                    <td>{{ optical_path.framing }}</td>
                    <td>{{ optical_path.capacity }}</td>
                    <td>{{ optical_path.description|default_if_none:"" }}</td>
                    <td>{% for enr in optical_path.enrs %}{{ enr }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
        {% endfor %}
{% endblock %}
