{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} Optical Node list{% endblock %}

{% block before_table %}
    <h1>Optical Nodes</h1>
{% endblock %}
{% block table_labels %}
        <span class="badge badge-info">Testing</span>
        <span class="badge badge-warning">Reserved</span>
        <span class="badge badge-important">Decommissioned</span>
{% endblock %}
{% block table_head %}
    <th>Name</th><th>Type</th><th>Link</th><th>OTS</th>
{% endblock %}
{% block table_body %}
        {% load noclook_tags %}
        {% for optical_node in optical_node_list %}
            {% if optical_node.node.operational_state == "Decommissioned" %}
                <tr class="decommissioned">
                    {% elif optical_node.node.operational_state == "Reserved" %}
                <tr class="reserved">
                    {% elif optical_node.node.operational_state == "Testing" %}
                <tr class="testing">
                    {% else %}
                <tr>
            {% endif %}
            <td>
                <a class="handle" href="{% noclook_node_to_url optical_node.node.handle_id %}">{{ optical_node.node.name }}</a>
            </td>
            <td>
                {{ optical_node.type|default:"Unknown" }}
            </td>
            <td>
                {{ optical_node.link|default:"Unknown" }}
            </td>
            <td>
                {{ optical_node.ots|default:"Unknown" }}
            </td>
        </tr>
        {% endfor %}
{% endblock %}
