{% extends "noclook/table_view.html" %}
{% load table_tags %}

{% block title %}{{ block.super }} {{name}} list{% endblock %}

{% block before_table %}
    <h1>{{name}}</h1>
{% endblock %}

{% block table_labels %}
  {% if table.no_badges %}
      {# Nothing to show #}
  {% elif table.badges %}
    {% for badge, name in table.badges %}
        <span class="badge {{badge}}">{{name}}</span>
    {% endfor %}
  {% elif table.filters %}
    {% for badge, name, link, active in table.filters %}
        <a href="{{link}}"><span class="badge {{badge}}">{% if active %}<i class="icon-white icon-ok"></i> {% endif %}{{name}}</span></a>
    {% endfor %}
  {% else %}
    {{block.super}}
  {% endif %}
{% endblock %}

{% block table_head %}
    {% for header in table.headers %}
      <th>{{ header }}</th>
    {% endfor %}
{% endblock %}
{% block table_body %}
            {% for row in table.rows %}
              <tr{% if row.classes %} class="{{row.classes}}"{% endif %}>
                {% for col in row.cols %}
                  <td>{% table_column col %}</td>
                {% endfor %}
              </tr>
            {% endfor %}
{% endblock %}
