{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} Peering Partner list{% endblock %}

{% block before_table %}
    <h1>Peering Partners</h1>
{% endblock %}
{% block table_head %}
    <th>Peering Partner</th><th>AS Number</th><th>Peering Groups</th>
{% endblock %}
{% block table_body %}
            {% load noclook_tags %}
            {% for item in partner_list %}
                    {% noclook_has_expired item.peer as expired %}
                    {% if expired %}
                        <tr class="expired">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td><a href="{% noclook_node_to_url item.peer.handle_id %}">{{ item.peer.name }}</a></td>
                        <td>{{ item.peer.as_number }}</td>
                        <td>
                            {% for group in item.peering_groups %}
                                <a href="{% noclook_node_to_url group.handle_id %}">{{ group.name }}</a>{% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
            {% endfor %}
{% endblock %}
