{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} {{ service_class }} Service list{% endblock %}

{% block before_table %}
    <h1>{% if service_class %}{{ service_class }}{% endif %} Services</h1>
{% endblock %}
{% block table_labels %}
        <span class="badge badge-info">Testing</span>
        <span class="badge badge-warning">Reserved</span>
        <span class="badge badge-important">Decommissioned</span>
{% endblock %}
{% block table_head %}
            <th>Service</th><th>Service Class</th><th>Service Type</th><th>Description</th><th>Customers</th><th>End Users</th>
{% endblock %}
{% block table_body %}
        {% load noclook_tags %}
        {% for item in service_list %}
            {% if item.service.operational_state == "Decommissioned" %}
                <tr class="decommissioned">
            {% elif item.service.operational_state == "Reserved" %}
                <tr class="reserved">
            {% elif item.service.operational_state == "Testing" %}
                <tr class="testing">
            {% else %}
                <tr>
            {% endif %}
                <td><a href="{% noclook_node_to_url item.service.handle_id %}">{{ item.service.name }}</a></td>
                <td>{{ item.service_class }}</td>
                <td>{{ item.service_type }}</td>
                <td>{{ item.description }}</td>
                <td>
                    {% for customer in item.customers %}
                        <a href="{% noclook_node_to_url customer.handle_id %}">{{ customer.name }}</a><br>
                    {% endfor %}
                </td>
                <td>
                    {% for end_user in item.end_users %}
                        <a href="{% noclook_node_to_url end_user.handle_id %}">{{ end_user.name }}</a><br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
{% endblock %}
