{% extends "base.html" %}

{% block title %}{{ block.super }} Cable list{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#sites").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {},
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
    <h1>Cables</h1>
    <div class="pull-right">
        <span class="badge badge-important">Expired</span>
    </div>
    <table id="sites" class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>Name</th><th>Cable type</th>
            </tr>
        </thead>
        <tbody>
            {% load noclook_tags %}
            {% for item in cable_list %}
                    {% noclook_has_expired item.cable as expired %}
                    {% if expired %}
                        <tr class="expired">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td><a href="{% noclook_node_to_url item.cable.handle_id  %}">{{ item.cable.name }}</a></td><td>{{ item.cable.cable_type }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
