{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} Optical Link list{% endblock %}

{% block before_table %}
    <h1>Optical Links</h1>
{% endblock %}
{% block table_labels %}
    <span class="badge badge-info">Testing</span>
    <span class="badge badge-warning">Reserved</span>
    <span class="badge badge-important">Decommissioned</span>
{% endblock %}
{% block table_head %}
    <th>Optical Link</th><th>Type</th><th>Description</th><th>Depends on</th>
{% endblock %}
{% block table_body %}
        {% load noclook_tags %}
        {% for optical_link in optical_link_list %}
            {% if optical_link.data.operational_state  %}
                <tr class="{{optical_link.data.operational_state | lower }}">
                    {% else %}
                <tr>
            {% endif %}
                    <td><a href="{% noclook_node_to_url optical_link.data.handle_id %}">{{ optical_link.data.name }}</a></td>
                    <td>{{ optical_link.data.link_type }}</td>
                    <td>{{ optical_link.data.description }}</td>
                    <td>
                        {% for end_point in optical_link.dependencies %}
                            <a href="{% noclook_node_to_url end_point.handle_id %}">
                                {{ end_point.placement_path.name }}
                                {{ end_point.name }}
                            </a><br>
                        {%  endfor %}
                    </td>
                </tr>
        {% endfor %}
{% endblock %}
