{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} Router list{% endblock %}

{% block before_table %}
    <h1>Routers</h1>
{% endblock %}
{% block table_head %}
     <th>Router</th><th>Model</th><th>JUNOS version</th><th>Operational state</th>
{% endblock %}
{% block table_body %}
            {% load noclook_tags %}
            {% for item in router_list %}
                {% noclook_has_expired item.router as expired %}
                {% if expired %}
                    <tr class="expired">
                {% else %}
                    <tr>
                {% endif %}
                        <td><a class="handle" href="{% noclook_node_to_url item.router.handle_id %}">{{ item.router.name }}</a></td>
                        <td>{{ item.model|default:"Unknown" }}</td>
                        <td>{{ item.version|default:"Unknown" }}</td>
                        <td>{{ item.operational_state|default:"Unknown" }}</td>
                    </tr>
            {% endfor %}
{% endblock %}
