{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} {{node_type}} list{% endblock %}

{% block before_table %}
    <h1>{{node_type}}{% if node_type.type == "Switch" %}es{% else %}s{% endif %}</h1>
{% endblock %}
{% block table_head %}
    <th>Name</th>
{% endblock %}
{% block table_body %}
            {% load noclook_tags %}
            {% for item in node_list %}
                {% noclook_has_expired item.node as expired %}
                {% if expired %}
                    <tr class="expired">
                {% else %}
                    <tr>
                {% endif %}
                    <td><a href="{% noclook_node_to_url item.node.handle_id  %}">{{ item.node.name }}</a></td>
                </tr>
            {% endfor %}
{% endblock %}
