{% extends "base.html" %}

{% block title %}{{ block.super }} Hosts{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#hosts").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {
                1 : { sorter: "ipAddress"  }
            },
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
    <h1>Hosts</h1>
    <div class="pull-right">
        <span class="badge badge-important">Expired</span>
    </div>
    <table id="hosts" class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>Host</th><th>Address</th><th>OS</th><th>OS version</th><th>User</th>
            </tr>
        </thead>
        <tbody>
            {% load noclook_tags %}
            {% for host, users in host_list %}
                {% if host.ip_addresses %}
                    {% for address in host.ip_addresses %}
                        {% noclook_has_expired host as expired %}
                        {% if expired %}
                            <tr class="expired">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td><a class="handle" href="{% noclook_node_to_url host.handle_id %}">{{ host.name }}</a></td>
                            <td>{{ address }}</td>
                            <td>{{ host.os|default:"" }}</td>
                            <td>{{ host.os_version|default:"" }}</td>
                            <td>
                                {% for user in users %}
                                    <a href="{% noclook_node_to_url user %}">{{ user.name }}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% noclook_has_expired host as expired %}
                    {% if expired %}
                        <tr class="expired">
                            {% else %}
                        <tr>
                    {% endif %}
                        <td><a class="handle" href="{% noclook_node_to_url host %}">{{ host.name }}</a></td>
                        <td>No address</td>
                        <td>{{ host.os|default:"" }}</td>
                        <td>{{ host.os_version|default:"" }}</td>
                        <td>
                            {% for user in users %}
                                <a href="{% noclook_node_to_url user %}">{{ user.name }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
