{% extends "base.html" %}

{% block title %}{{ block.super }} Optical Node list{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(
                function(){
                    $("#routers").tablesorter(
                            {
                                sortList: [[0,0]],
                                headers:
                                {},
                                widthFixed: true,
                                widgets: ['zebra']
                            });
                }
        );
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>Optical Nodes</h1>
    <div class="pull-right">
        <span class="badge badge-info">Testing</span>
        <span class="badge badge-warning">Reserved</span>
        <span class="badge badge-important">Decommissioned</span>
    </div>
    <table id="routers" class="tablesorter" cellspacing="1">
        <thead>
        <tr>
            <th>Router</th><th>Type</th><th>Link</th><th>OTS</th>
        </tr>
        </thead>
        <tbody>
        {% load noclook_tags %}
        {% for optical_node in optical_node_list %}
            {% if optical_node.node.operational_state == "Decommissioned" %}
                <tr class="decommissioned">
                    {% elif optical_node.node.operational_state == "Reserved" %}
                <tr class="reserved">
                    {% elif optical_node.node.operational_state == "Testing" %}
                <tr class="testing">
                    {% else %}
                <tr>
            {% endif %}
            <td>
                <a class="handle" href="/optical-node/{{ optical_node.node.handle_id }}">{{ optical_node.node.name }}</a>
            </td>
            <td>
                {{ optical_node.type|default:"Unknown" }}
            </td>
            <td>
                {{ optical_node.link|default:"Unknown" }}
            </td>
            <td>
                {{ optical_node.ots|default:"Unknown" }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
