{% extends "base.html" %}

{% block title %}{{ block.super }} Optical Path list{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(
                function(){
                    $("#services").tablesorter(
                            {
                                sortList: [[0,0]],
                                headers:
                                {},
                                widthFixed: true,
                                widgets: ['zebra']
                            });
                }
        );
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>Optical Paths</h1>
    <div class="pull-right">
        <span class="badge badge-info">Testing</span>
        <span class="badge badge-warning">Reserved</span>
        <span class="badge badge-important">Decommissioned</span>
    </div>
    <table id="services" class="tablesorter" cellspacing="1">
        <thead>
            <tr>
                <th>Optical Path</th><th>Framing</th><th>Capacity</th><th>Description</th><th>ENRs</th>
            </tr>
        </thead>
        <tbody>
        {% load noclook_tags %}
        {% for optical_path in optical_path_list %}
            {% if optical_path.operational_state == "Decommissioned" %}
                <tr class="decommissioned">
                    {% elif optical_path.operational_state == "Reserved" %}
                <tr class="reserved">
                    {% elif optical_path.operational_state == "Testing" %}
                <tr class="testing">
                    {% else %}
                <tr>
            {% endif %}
                    <td><a href="/optical-path/{{ optical_path.path.handle_id }}">{{ optical_path.path.name }}</a></td>
                    <td>{{ optical_path.framing }}</td>
                    <td>{{ optical_path.capacity }}</td>
                    <td>{{ optical_path.description|default_if_none:"" }}</td>
                    <td>{% for enr in optical_path.enrs %}{{ enr }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
