{% extends "noclook/table_view.html" %}
{% block title %}{{ block.super }} Site list{% endblock %}

{% block before_table %}
    <h1>Sites</h1>
{% endblock %}
{% block table_labels %}{% endblock %}
{% block table_head %}
            <th>Country</th><th>Site name</th>
{% endblock %}
{% block table_body %}
            {% load noclook_tags %}
            {% for item in site_list %}
                    <tr>
                        <td><a href="/findin/site/country_code/{{ item.site.country_code }}/">{{ item.site.country }}</a></td>
                        <td><a href="{% noclook_node_to_url item.site.handle_id %}">{{ item.site.name }}</a></td>
                    </tr>
            {% endfor %}
{% endblock %}
