{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} Optical Multiplex Section list{% endblock %}

{% block before_table %}
    <h1>Optical Multiplex Sections</h1>
{% endblock %}
{% block table_labels %}
        <span class="badge badge-info">Testing</span>
        <span class="badge badge-warning">Reserved</span>
        <span class="badge badge-important">Decommissioned</span>
{% endblock %}
{% block table_head %}
    <th>Optical Multiplex Section</th><th>Description</th><th>Depends on</th>
{% endblock %}
{% block table_body %}
        {% load noclook_tags %}
        {% for optical_multiplex_section in optical_multiplex_section_list %}
            {% if optical_multiplex_section.data.operational_state == "Decommissioned" %}
                <tr class="decommissioned">
                    {% elif optical_multiplex_section.data.operational_state == "Reserved" %}
                <tr class="reserved">
                    {% elif optical_multiplex_section.data.operational_state == "Testing" %}
                <tr class="testing">
                    {% else %}
                <tr>
            {% endif %}
                    <td><a href="{% noclook_node_to_url optical_multiplex_section.handle_id %}">{{ optical_multiplex_section.data.name }}</a></td>
                    <td>{{ optical_multiplex_section.data.description }}</td>
                    <td>
                        {% for dependency in optical_multiplex_section.get_dependencies.Depends_on %}
                            <a href="{% noclook_node_to_url dependency.node.handle_id %}">{{ dependency.node.data.name }}</a><br>
                        {%  endfor %}
                    </td>
                </tr>
        {% endfor %}
{% endblock %}
