{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} Rack list{% endblock %}

{% block before_table %}
    <h1>Racks</h1>
{% endblock %}
{% block table_labels %}{% endblock %}
{% block table_head %}
            <th>Site</th><th>Name</th>
{% endblock %}
{% block table_body %}
            {% load noclook_tags %}
            {% for item in rack_list %}
                <tr>
                    <td><a class="handle" href="{% noclook_node_to_url item.site.handle_id %}">{{ item.site.name }}</a></td>
                    <td><a class="handle" href="{% noclook_node_to_url item.rack.handle_id %}">{{ item.rack.name }}</a></td>
                </tr>
            {% endfor %}
{% endblock %}
