{% extends "noclook/table_view.html" %}

{% block title %}{{ block.super }} Hosts{% endblock %}

{% block before_tabe %}
    <h1>Hosts</h1>
{% endblock %}
{% block table_head %}
    <th>Host</th><th>Address</th><th>OS</th><th>OS version</th><th>User</th>
{% endblock %}
{% block table_body %}
            {% load noclook_tags %}
            {% for host, users in host_list %}
                {% if host.ip_addresses %}
                    {% for address in host.ip_addresses %}
                        {% noclook_has_expired host as expired %}
                        {% if expired %}
                            <tr class="expired">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td><a class="handle" href="{% noclook_node_to_url host.handle_id %}">{{ host.name }}</a></td>
                            <td>{{ address }}</td>
                            <td>{{ host.os|default:"" }}</td>
                            <td>{{ host.os_version|default:"" }}</td>
                            <td>
                                {% for user in users %}
                                    <a href="{% noclook_node_to_url user.handle_id %}">{{ user.name }}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% noclook_has_expired host as expired %}
                    {% if expired %}
                        <tr class="expired">
                            {% else %}
                        <tr>
                    {% endif %}
                        <td><a class="handle" href="{% noclook_node_to_url host.handle_id  %}">{{ host.name }}</a></td>
                        <td>No address</td>
                        <td>{{ host.os|default:"" }}</td>
                        <td>{{ host.os_version|default:"" }}</td>
                        <td>
                            {% for user in users %}
                                <a href="{% noclook_node_to_url user.handle_id %}">{{ user.name }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
{% endblock %}
