<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jCombo.js"></script>
<script type="text/javascript">
$(document).ready(
    function(){
        // End A //
        // Populate first level combo box
        $.getJSON('/formdata/site/', function(data) {
            $('#connection_level0A').append($('<option>').val("0").text("-- Please Select --"));
            $.each(data, function(key, tuple) {
                $('#connection_level0A').append($('<option>').val(tuple[0]).text(tuple[1]));
            });
        });
        // Hook lower level combo boxes up to their parent
        $("#connection_level1A").jCombo("/formdata/{id}/children/", {
                        parent: "#connection_level0A",
                        end_value_field: "#id_relationship_end_a"
                    });
        $("#connection_level2A").jCombo("/formdata/{id}/children/", {
                        parent: "#connection_level1A",
                        end_value_field: "#id_relationship_end_a"
                    });
        $("#connection_level3A").jCombo("/formdata/{id}/children/", {
                        parent: "#connection_level2A",
                        end_value_field: "#id_relationship_end_a"
                    });
        $("#connection_level4A").jCombo("/formdata/{id}/children/", {
                        parent: "#connection_level3A",
                        end_value_field: "#id_relationship_end_a"
                    });
        // End B //
        // Populate first level combo box
        $.getJSON('/formdata/site/', function(data) {
            $('#connection_level0B').append($('<option>').val("0").text("-- Please Select --"));
            $.each(data, function(key, tuple) {
                $('#connection_level0B').append($('<option>').val(tuple[0]).text(tuple[1]));
            });
        });
        // Hook lower level combo boxes up to their parent
        $("#connection_level1B").jCombo("/formdata/{id}/children/", {
                        parent: "#connection_level0B",
                        end_value_field: "#id_relationship_end_b"
                    });
        $("#connection_level2B").jCombo("/formdata/{id}/children/", {
                        parent: "#connection_level1B",
                        end_value_field: "#id_relationship_end_b"
                    });
        $("#connection_level3B").jCombo("/formdata/{id}/children/", {
                        parent: "#connection_level2B",
                        end_value_field: "#id_relationship_end_b"
                    });
        $("#connection_level4B").jCombo("/formdata/{id}/children/", {
                        parent: "#connection_level3B",
                        end_value_field: "#id_relationship_end_b"
                    });
    });
    function add_port_a() {
        var parent_id = $('#id_relationship_end_a').val();
        window.open("/new/port/parent/" + parent_id + "/");
    }
    function add_port_b() {
        var parent_id = $('#id_relationship_end_b').val();
        window.open("/new/port/parent/" + parent_id + "/");
    }
</script>

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseConnection">
            Connections (optional)
        </a>
    </div>
    <div id="collapseConnection" class="accordion-body in collapse" style="height: auto; ">
        <div class="accordion-inner">
            {% if connections %}
                {% load noclook_tags %}
                <h4>Remove Connection</h4>
                {% for item in connections %}
                    <div class="row">
                        <div class="span5">
                            Connected to <a href="{% noclook_node_to_url item.port.handle_id %}">{{ item.end.name }} {{ item.port.name }}</a>
                        </div>
                        <div class="span1">
                            <a href="relationship/{{ item.rel_id }}/delete" class="label label-important relationship-confirm">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            <hr>
            {% endif %}
            <h4>Add Connection</h4>
            <div class="row">
                <div class="span4">
                    {{ form.relationship_end_a }}
                    <select class="stacked" name="connection_level0A" id="connection_level0A"></select>
                    <select class="stacked" name="connection_level1A" id="connection_level1A"></select>
                    <select class="stacked" name="connection_level2A" id="connection_level2A"></select>
                    <select class="stacked" name="connection_level3A" id="connection_level3A"></select>
                    <select class="stacked" name="connection_level4A" id="connection_level4A"></select>
                    <span class="help-block">Choose end A</span>
                    <a class="btn btn-mini" href="javascript:add_port_a()">Add port</a>
                </div>
                <div class="span4">
                    {{ form.relationship_end_b }}
                    <select class="stacked" name="connection_level0B" id="connection_level0B"></select>
                    <select class="stacked" name="connection_level1B" id="connection_level1B"></select>
                    <select class="stacked" name="connection_level2B" id="connection_level2B"></select>
                    <select class="stacked" name="connection_level3B" id="connection_level3B"></select>
                    <select class="stacked" name="connection_level4B" id="connection_level4B"></select>
                    <span class="help-block">Choose end B</span>
                    <a class="btn btn-mini" href="javascript:add_port_b()">Add port</a>
                </div>
            </div>
        </div>
    </div>
</div>