<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.jCombo.js"></script>
<script type="text/javascript">
$(document).ready(
    function(){
        $('#depends_categoryA').append($('<option>').val("0").text("-- Please Select --"));
        $.each(cableTypes, function(key, tuple) {
            $('#depends_categoryA').append($('<option>').val(tuple[0]).text(tuple[1]));
        });
        // Hook lower level combo boxes up to their parent
        $("#depends_level0A").jCombo("/formdata/cable/cable_type/{id}/", {
            parent: "#depends_categoryA",
            end_value_field: "#id_relationship_connected_to"
        });
        $("#depends_level1A").jCombo("/formdata/{id}/children/", {
            parent: "#depends_level0A",
            end_value_field: "#id_relationship_connected_to"
        });
    }
);
</script>

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseCableGroup">
            {{ node_handle.node_type }} connections (optional)
        </a>
    </div>
    <div id="collapseCableGroup" class="accordion-body collapse" style="height: 0px; ">
        <div class="accordion-inner">
            {% if connected_to.Connected_to %}
                {% load noclook_tags %}
                <h4>Remove Connection</h4>
                {% for item in connected_to.Connected_to %}
                    <div class="row">
                        <div class="span5">
                            Connected to <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>
                        </div>
                        <div class="span1">
                            <a href="relationship/{{ item.relationship_id }}/delete" class="label label-important relationship-confirm">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            <hr>
            {% endif %}
            <h4>Add connected to relationship</h4>
            <div class="span4">
                {{ form.relationship_connected_to }}
                <select class="stacked" name="depends_categoryA" id="depends_categoryA"></select>
                <select class="stacked" name="depends_level0A" id="depends_level0A"></select>
                <select class="stacked" name="depends_level1A" id="depends_level1A"></select>
                <span class="help-block">Choose a cable</span>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>