{% load noclook_tags %}
{% blockvar dependency_title %}
  {{ node_handle.node_type }} depends on on (optional)
{% endblockvar %}
{% accordion dependency_title 'depends_on' '#edit-accordion' %}
  {% if node.meta_type == 'Physical' %}
      <div class="alert alert-danger">Setting dependencies will make this {{ node_handle.node_type }} physical and  remove any location set.</div>
  {% endif %}
  {% if depends_on.Depends_on %}
      {% load noclook_tags %}
      <h4>Remove depends on relationship</h4>
      {% for item in depends_on.Depends_on %}
          <div class="row">
              <div class="span5">
                  Depends on <a href="{% noclook_node_to_url item.node.handle_id %}">{% for place in item.node.get_placement_path.placement_path %}{{ place.name }} {% endfor %}{{ item.node.data.name }}</a>
              </div>
              <div class="span1">
                  <a href="relationship/{{ item.relationship_id }}/delete" class="label label-important relationship-confirm">Delete</a>
              </div>
          </div>
      {% endfor %}
      <hr>
  {% endif %}
  <h4>Add depends on relationship</h4>
  <div class="span4">
    {% json_combo form.relationship_depends_on '/formdata/{id}/,/formdata/{id}/children/,/formdata/{id}/children/,/formdata/{id}/children/,/formdata/{id}/children/' 'service,host' %}
    <span class="help-block">Choose a dependency</span>
  </div>
{% endaccordion %}
