{% load noclook_tags %}
{% blockvar parent_title %}
  {{ node_handle.node_type }} is located in (optional)
{% endblockvar %}
{% accordion parent_title 'parent-edit' '#edit-accordion' %}
  {% if parent.Has %}
      {% load noclook_tags %}
      <h4>Remove parent relationship</h4>
      {% for item in parent.Has %}
          <div class="row">
              <div class="span5">
                  Located in <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>
              </div>
              <div class="span1">
                  <a href="relationship/{{ item.relationship_id }}/delete" class="label label-important relationship-confirm">Delete</a>
              </div>
          </div>
      {% endfor %}
      <hr>
  {% endif %}
  <h4>Add parent relationship</h4>
  <div class="span4">
    {% json_combo form.relationship_parent '/api/formdata/{id}/,/api/formdata/{id}/children/' parent_categories %}
  </div>
{% endaccordion %}
