{% load noclook_tags %}
{% blockvar user_title %}
  {{ node_handle.node_type }} User (optional)
{% endblockvar %}
{% accordion user_title 'user_choose' '#edit-accordion' %}
  {% if relations.Uses %}
      {% load noclook_tags %}
      <h4>Remove user</h4>
      {% for item in relations.Uses %}
          <div class="row">
              <div class="span5">
                  {% noclook_get_type item.node.handle_id as node_type %}
                  {{ node_type }} <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>
              </div>
              <div class="span1">
                  <a href="relationship/{{ item.relationship_id }}/delete" class="label label-important relationship-confirm">Delete</a>
              </div>
          </div>
      {% endfor %}
      <hr>
  {% endif %}
  <h4>Add user</h4>
  <div class="span4">
    {% json_combo form.relationship_user '/formdata/{id}/' user_categories %} 
  </div>
{% endaccordion %}
