{% load noclook_tags %}
{% load crispy_forms_tags %}
{% blockvar worksfor_title %}
   {{ node_handle.node_type }} organization (optional)
{% endblockvar %}
{% accordion worksfor_title 'worksfor-edit' '#edit-accordion' %}
  {% if relations.Works_for %}
      {% load noclook_tags %}
      <h4>Remove organization</h4>
      {% for item in relations.Works_for %}
          <div class="row">
              <div class="span5">
                  {% noclook_get_type item.node.handle_id as node_type %}
                  {{ node_type }} <a href="{% noclook_node_to_url item.node.handle_id %}">{{ item.node.data.name }}</a>
              </div>
              <div class="span1">
                  <a href="relationship/{{ item.relationship_id }}/delete" class="label label-important relationship-confirm">Delete</a>
              </div>
          </div>
      {% endfor %}
      <hr>
  {% endif %}
  <h4>Link contact to organization</h4>
  <div class="span4">
    {{ form.relationship_works_for | as_crispy_field }}
  </div>
  <div class="span4">
    {{ form.role_name | as_crispy_field }}
  </div>
{% endaccordion %}
