{% extends "base.html" %}

{% block title %}{{ block.super }} Edit {{ node.node_type|lower }} {{ node.name }}  {% endblock %}

{% block js %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datepicker.min.css" type="text/css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(
        function(){
            // Modal delete relationship confirm
            $("a.relationship-confirm").click(function(e) {
                e.preventDefault();
                var theHREF = $(this).attr("href");
                var modalDialog = $("#dialog-relationship-confirm");
                // non jquery to avoid event handling
                var btn_confirm = document.getElementById("relationship-confirm");
                btn_confirm.onclick = function() {
                        var jqxhr = $.post(theHREF, {}, function(response) {})
                                .done(function(response) {
                                    if (response.success === true) {
                                        $(e.target).parent().parent().hide();
                                    }
                                })
                                .fail(function(response) {
                                    $(e.target).text('Server failure');
                                });
                  modalDialog.modal("hide");
                }
                modalDialog.modal("toggle");
            });

            $("a.relationship-toggle").click(function(e) {
                e.preventDefault();
                var theHREF = $(this).attr("href");
                var target = $(e.target);
                var properties = $.parseJSON(target.attr('data-properties'));
                var trueText = target.attr('data-true-text');
                var falseText = target.attr('data-false-text');
                var toggleText = '';

                $.each(properties, function( key, value ) {
                    properties[key] = !value;
                    toggleText = (!value === true ? trueText : falseText);
                });
                var jqxhr = $.post(theHREF, properties, function(response) {})
                        .done(function(response) {
                            if (response.success === true) {
                                target.attr('data-properties', JSON.stringify(response.data));
                                target.text(toggleText);
                            } else {
                                target.text('Task failure');
                            }
                        })
                        .fail(function(response) {
                            target.text('Server failure');
                        });
            });

            // Unused?
            $("a.relationship-update").click(function(e) {
                e.preventDefault();
                var theHREF = $(this).attr("href");
                var target = $(e.target);
                var properties = $.parseJSON(target.attr('data-properties'));

                var jqxhr = $.post(theHREF, properties, function(response) {})
                        .done(function(response) {
                            if (response.success === true) {
                                target.attr('data-properties', JSON.stringify(response.data));
                            } else {
                                target.text('Task failure');
                            }
                        })
                        .fail(function(response) {
                            target.text('Server failure');
                        });
            });
    });
</script>
{% endblock %}

{% block content %}
  <!-- Modal -->
  <div id="dialog-object-confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Delete {{ node_handle.node_type }} {{ node_handle.node_name }}?</h3>
    </div>
    <div class="modal-body">
      <p><i class="icon-warning-sign"></i> The {{ node_handle.node_type|lower }} will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <a href="delete" rel="nofollow" class="btn btn-primary">Confirm</a>
    </div>
  </div>

  <div id="dialog-relationship-confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Remove relationship?</h3>
    </div>
    <div class="modal-body">
      <p><i class="icon-warning-sign"></i> The relationship will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button id="relationship-confirm"  class="btn btn-primary">Confirm</button>
    </div>
  </div>

  <form action="" method="post">{% csrf_token %}
        <h1>Edit {{ node_handle.node_type|lower }} <a href="{{ node_handle.get_absolute_url }}">{{ node_handle.node_name }}</a></h1>
        {% if form.errors %}
            <div class="alert alert-error">
                <h4 class="alert-heading">The operation could not be performed because one or more error(s) occurred.</h4>
                Please resubmit the form after making the following changes:
                {{ form.errors }}
            </div>
        {% endif %}
{% endblock %}

{% block content_footer %}
        <br><br>
        <div class="row">
            <div class="span3">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <input type="submit" name="saveanddone" class="btn btn-primary" value="Save">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="$(this).closest('form').submit()">Save and continue editing</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a href="{{ node_handle.get_absolute_url }}" class="btn pull-right">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="span1">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="#dialog-object-confirm" class="btn btn-danger" role="button" data-toggle="modal">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
