{% extends "base.html" %}

{% block title %}{{ block.super }} Edit {{ node.node_type|lower }} {{ node.name }}  {% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(
        function(){
            // Modal delete object confirm
            $("#dialog-object-confirm").dialog({
              modal: true,
                    bgiframe: true,
                    width: 500,
                    height: 200,
              autoOpen: false
              });

            $("#object-confirm").click(function(e) {
                e.preventDefault();
                var theHREF = $(this).attr("href");
                var modalDialog = $("#dialog-object-confirm");
                modalDialog.dialog('option', 'buttons', {
                        "Confirm" : function() {
                            window.location.href = theHREF;
                            },
                        "Cancel" : function() {
                            $(this).dialog("close");
                            }
                        });
                modalDialog.dialog("open");
            });
            // Modal delete relationship confirm
            $("#dialog-relationship-confirm").dialog({
                modal: true,
                bgiframe: true,
                width: 500,
                height: 200,
                autoOpen: false
            });

            $("a.relationship-confirm").click(function(e) {
                e.preventDefault();
                var theHREF = $(this).attr("href");
                var modalDialog = $("#dialog-relationship-confirm");
                modalDialog.dialog('option', 'buttons', {
                    "Confirm" : function() {
                        var jqxhr = $.post(theHREF, {}, function(response) {})
                                .done(function(response) {
                                    if (response.success === true) {
                                        $(e.target).parent().parent().hide();
                                    }
                                })
                                .fail(function(response) {
                                    $(e.target).text('Server failure');
                                });
                        $(this).dialog("close");
                    },
                    "Cancel" : function() {
                        $(this).dialog("close");
                    }
                });
                modalDialog.dialog("open");
            });

            $("a.relationship-toggle").click(function(e) {
                e.preventDefault();
                var theHREF = $(this).attr("href");
                var target = $(e.target);
                var properties = $.parseJSON(target.attr('data-properties'));
                var trueText = target.attr('data-true-text');
                var falseText = target.attr('data-false-text');
                var toggleText = '';

                $.each(properties, function( key, value ) {
                    properties[key] = !value;
                    toggleText = (!value === true ? trueText : falseText);
                });
                var jqxhr = $.post(theHREF, properties, function(response) {})
                        .done(function(response) {
                            if (response.success === true) {
                                target.attr('data-properties', JSON.stringify(response.data));
                                target.text(toggleText);
                            } else {
                                target.text('Task failure');
                            }
                        })
                        .fail(function(response) {
                            target.text('Server failure');
                        });
            });

            $("a.relationship-update").click(function(e) {
                e.preventDefault();
                var theHREF = $(this).attr("href");
                var target = $(e.target);
                var properties = $.parseJSON(target.attr('data-properties'));

                var jqxhr = $.post(theHREF, properties, function(response) {})
                        .done(function(response) {
                            if (response.success === true) {
                                target.attr('data-properties', JSON.stringify(response.data));
                            } else {
                                target.text('Task failure');
                            }
                        })
                        .fail(function(response) {
                            target.text('Server failure');
                        });
            });
        }
    );
</script>
{% endblock %}

{% block content %}
    <div id="dialog-object-confirm" title="Delete {{ node_handle.node_type }} {{ node_handle.node_name }}?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>The {{ node_handle.node_type|lower }} will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>
    <div id="dialog-relationship-confirm" title="Remove relationship?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>The relationship will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>
    <form action="" method="post">{% csrf_token %}
        <h1>Edit {{ node_handle.node_type|lower }} <a href="{{ node_handle.get_absolute_url }}">{{ node_handle.node_name }}</a></h1>
        {% if form.errors %}
            <div class="alert alert-error">
                <h4 class="alert-heading">The operation could not be performed because one or more error(s) occurred.</h4>
                Please resubmit the form after making the following changes:
                {{ form.errors }}
            </div>
        {% endif %}
{% endblock %}

{% block content_footer %}
        <br><br>
        <div class="row">
            <div class="span3">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <input type="submit" name="saveanddone" class="btn btn-primary" value="Save">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="$(this).closest('form').submit()">Save and continue editing</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a href="{{ node_handle.get_absolute_url }}" class="btn pull-right">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="span1">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="delete" class="btn btn-danger" id="object-confirm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
