{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}
{% load noclook_tags %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        // Responsible for
        // Populate first level combo box
        organizationCategories = [
            ['organization', 'Organizations']
        ];
        groupCategories = [
            ['group', 'Groups']
        ];
        roleCategories = [
            ['role', 'Roles']
        ];
    }
);
</script>
{% endblock %}
{% block content %}
{{ block.super }}
    <div class="well">
        {{ form.first_name | as_crispy_field }}
        {{ form.last_name | as_crispy_field }}
    </div>

    <div class="accordion" id="edit-accordion">
      {% accordion 'Additional info (optional)' 'additional-edit' '#edit-accordion' %}
          {{ form.title | as_crispy_field }}
          {{ form.salutation | as_crispy_field }}
          {{ form.contact_type | as_crispy_field }}
          {{ form.phone | as_crispy_field }}
          {{ form.mobile | as_crispy_field }}
          {{ form.email | as_crispy_field }}
          {{ form.other_email | as_crispy_field }}
          {{ form.PGP_fingerprint | as_crispy_field}}
      {% endaccordion %}
      {% include "noclook/edit/includes/works_for_group.html" %}
      {% include "noclook/edit/includes/member_of_group.html" %}
      {% include "noclook/edit/includes/is_group.html" %}
{% endblock %}
