{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        // Responsible for
        // Populate first level combo box
        responsibleCategories = [
            ['site-owner', 'Site Owners']
        ];
        // Accordion
        $(".edit-accordion").collapse()
    }
);
</script>
{% endblock %}
{% block content %}
{{ block.super }}
    <div class="well">
        {{ form.name | as_crispy_field}}
        {{ form.site_type | as_crispy_field}}
    </div>

    <div class="accordion" id="edit-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseOne">
                    Address (optional)
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <label>Street</label>
                    {{ form.address }}
                    {{ form.floor | as_crispy_field}}
                    {{ form.room | as_crispy_field}}
                    {{ form.postcode | as_crispy_field}}
                    {{ form.postarea | as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseTwo">
                    Location (optional)
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <label>Country</label>
                    <span class="input-large">{{ form.country }}</span>
                    <label>Area</label>
                    {{ form.area }}
                    <span class="help-inline">{{ form.area.help_text }}</span>
                    <label>Longitude</label>
                    {{ form.longitude }}
                    <span class="help-inline">{{ form.longitude.help_text }}</span>
                    <label>Latitude</label>
                    {{ form.latitude }}
                    <span class="help-inline">{{ form.longitude.help_text }}</span>
                </div>
            </div>
        </div>
        {% include "noclook/edit/includes/responsible_for_group.html" %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseFour">
                    Other IDs and information (optional)
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <label>Owner Site ID</label>
                    {{ form.owner_id }}
                    <label>Owner Site Name</label>
                    {{ form.owner_site_name }}
                    <label>Telenor Subscription ID</label>
                    {{ form.telenor_subscription_id }}
                    <label>Information URL</label>
                    {{ form.url }}
                    <span class="help-inline">{{ form.url.help_text }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

