{% extends "noclook/edit/base_edit.html" %}

{% block js %}
{{ block.super }}
{% load noclook_tags %}
<script type="text/javascript">
$(document).ready(
    function(){
        // Accordion
        $(".edit-accordion").collapse();
        // Owner
        // Populate first level combo box
        ownerCategories = [
            ['customer', 'Customer'],
            ['end-user', 'End User'],
            ['host-user', 'Host User'],
            ['provider', 'Provider']
        ];
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
    <div class="well">
        <h3>Name</h3>
        {{ form.name }}
        <h3>Description</h3>
        {{ form.description }}
        <span class="help-block">{{ form.description.help_text }}</span>
    </div>
    <div class="accordion" id="edit-accordion">
        {% include "noclook/edit/includes/owner_group.html" %}
        {% include "noclook/edit/includes/port_group.html" %}
        {% include "noclook/edit/includes/location_group.html" %}
    </div>
{% endblock %}

