{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}

{% block js %}
{{ block.super }}
{% load noclook_tags %}
<script type="text/javascript">
$(document).ready(
    function(){
        // Accordion
        $(".edit-accordion").collapse();
        // Owner
        // Populate first level combo box
        ownerCategories = [
            ['customer', 'Customer'],
            ['end-user', 'End User'],
            ['host-user', 'Host User'],
            ['provider', 'Provider']
        ];
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
    <div class="well">
        {{ form.name | as_crispy_field }}
        {{ form.description | as_crispy_field}}
    </div>
    <div class="accordion" id="edit-accordion">
        {% include "noclook/edit/includes/owner_group.html" %}
        {% include "noclook/edit/includes/port_group.html" %}
        {% include "noclook/edit/includes/location_group.html" %}
    </div>
{% endblock %}

