{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}
{% load noclook_tags %}

{% block content %}
{{ block.super }}
    <div class="well">
        {{ form.name | as_crispy_field}}
        {{ form.cable_type | as_crispy_field}}
        {{ form.description | as_crispy_field}}
        {{ form.cable_length | as_crispy_field}}
        {{ form.tags | as_crispy_field}}
    </div>

    <div class="accordion" id="edit-accordion">
        {% include "noclook/edit/includes/connection_group.html" %}
        {% include "noclook/edit/includes/provider_group.html" %}
        {% if form.telenor_tn1_number %}
          {% accordion 'Telenor Information (optional)' 'telenor-edit' '#edit-accordion' %}
            {{ form.telenor_tn1_number  | as_crispy_field}}
            {{ form.telenor_trunk_id | as_crispy_field}}
          {% endaccordion %}
        {% endif %}
        {% if form.global_crossing_circuit_id %}
          {% accordion 'Global Crossing Information (optional)' 'global-crossing-edit' '#edit-accordion' %}
             {{ form.global_crossing_circuit_id | as_crispy_field}}
          {% endaccordion %}
        {% endif %}
        {% if form.global_connect_circuit_id %}
          {% accordion 'Global Connect Information (optional)' 'global-connect-edit' '#edit-accordion' %}
            {{ form.global_connect_circuit_id | as_crispy_field}}
          {% endaccordion %}
        {% endif %}
        {% if form.tele2_cable_contract %}
          {% accordion 'Tele2 Information (optional)' 'tele2-edit' '#edit-accordion' %}
             {{ form.tele2_cable_contract | as_crispy_field }}
             {{ form.tele2_alternative_circuit_id | as_crispy_field }}
          {% endaccordion %}
        {% endif %}
    </div>
{% endblock %}

