{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}

{% block content %}
{{ block.super }}
    <div class="well">
        {{ form.name | as_crispy_field}}
    </div>

    <div class="accordion" id="edit-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#edit-accordion" href="#collapseOne">
                    Dimensions (optional)
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    {{ form.height | as_crispy_field }}
                    {{ form.depth | as_crispy_field }}
                    {{ form.width | as_crispy_field }}
                    {{ form.rack_units | as_crispy_field }}
                </div>
            </div>
        </div>
        {% include "noclook/edit/includes/parent_group.html" %}
        {% include "noclook/edit/includes/located_in_group.html" %}
    </div>
{% endblock %}

