{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}

{% block js %}
{{ block.super }}
{% load noclook_tags %}
<script type="text/javascript">
$(document).ready(
    function() {
        // Accordion
        $(".edit-accordion").collapse();
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
    <div class="well">
        {{ form.operational_state | as_crispy_field }}
    </div>
    <div class="accordion" id="edit-accordion">
        {% include "noclook/edit/includes/location_group.html" %}
        {% include "noclook/edit/includes/port_group.html" %}
        {% include "noclook/edit/includes/disable_noclook_auto_manage.html" %}
    </div>
{% endblock %}

