{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}
{% load noclook_tags %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(
            function(){
                // Service specific
                var name_field = $('#id_name');
                var project_end_date = $('#project_end_date');
                var decommissioned_date = $('#decommissioned_date');
                var service_type = $("#id_service_type");
                var operational_state = $("#id_operational_state");
                if (service_type.val()!=="External") {
                    name_field.prop("disabled", true);
                }
                if (service_type.val()==="Project") {
                    project_end_date.show();
                }
                if (operational_state.val()==="Decommissioned") {
                    decommissioned_date.show();
                }
                service_type.change(function(e){
                    if ($(this).val()!=="External") {
                        name_field.prop("disabled", true);
                        name_field.val("");
                    } else {
                        name_field.prop("disabled", false);
                    }
                    if ($(this).val()==="Project") {
                        project_end_date.show();
                    } else {
                        project_end_date.hide();
                        $('#id_project_end_date').val("");
                    }
                });
                operational_state.change(function(e){
                    if ($(this).val()==="Decommissioned") {
                        decommissioned_date.show();
                    } else {
                        decommissioned_date.hide();
                        $('#id_decommissioned_date').val("");
                    }
                })
            }
        );

        function add_depends_on_port() {
            var parent_id = $('#id_relationship_depends_on').val();
            window.open("/new/port/parent/" + parent_id + "/");
        }
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="well">
        {{ form.name | as_crispy_field }}
        <div class="row">
            <div class="span3">
                {{ form.service_type | as_crispy_field}}
            </div>
            <div class="span3" id="project_end_date" style="display: none;">
                {{ form.project_end_date | as_crispy_field}}
            </div>
        </div>
        <div>
            {{ form.responsible_group | as_crispy_field }}
        </div>
        <div>
            {{ form.support_group | as_crispy_field }}
        </div>
        <div class="row">
            <div class="span3">
              {{ form.operational_state | as_crispy_field }}
            </div>
            <div class="span3" id="decommissioned_date" style="display: none;">
                {{ form.decommissioned_date | as_crispy_field }}
            </div>
        </div>
        {{ form.description | as_crispy_field}}
        {{ form.contract_number | as_crispy_field}}
    </div>
    <div class="accordion" id="edit-accordion">
        {% include "noclook/edit/includes/dependency_group.html" %}
        {% include "noclook/edit/includes/user_group.html" %}
        {% include "noclook/edit/includes/provider_group.html" %}
    </div>
{% endblock %}
