{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}
{% load noclook_tags %}

{% block content %}
{{ block.super }}
    <div id="operation-section">
        <h3>Operational information</h3>
        <div class="well">
            {{ form.name | as_crispy_field }}
            {{ form.description | as_crispy_field }}
            {{ form.responsible_group | as_crispy_field }}
            {{ form.support_group | as_crispy_field }}
            {{ form.operational_state | as_crispy_field }}
            {{ form.managed_by | as_crispy_field }}
            {{ form.backup | as_crispy_field }}
            {{ form.security_class | as_crispy_field }}
            {{ form.security_comment | as_crispy_field }}
        </div>
    </div>

    <div class="accordion" id="edit-accordion">
        {% include "noclook/edit/includes/operational_info.html" %}
        {% include "noclook/edit/includes/location_group.html" %}
        {% include "noclook/edit/includes/dependency_group.html" %}
        {% if node.meta_type == 'Logical' %}
            {% include "noclook/edit/includes/user_group.html" %}
        {% endif %}
        {% if node.meta_type == 'Physical' %}
            {% include "noclook/edit/includes/owner_group.html" %}
            {% include "noclook/edit/includes/port_group.html" %}
        {% endif %}
        {% include "noclook/edit/includes/host_service_group.html" %}
      {% accordion 'Convert host' 'conver_host' '#edit-accordion' %}
        <div class="alert alert-danger">
            Warning. This action is not reversible.
        </div>
        <a class="btn btn-danger" href="edit/convert-to/switch/"><i class="icon-exclamation-sign icon-white"></i> Convert to switch</a>
        <a class="btn btn-danger" href="edit/convert-to/firewall/"><i class="icon-exclamation-sign icon-white"></i> Convert to firewall</a>
        <a class="btn btn-danger" href="edit/convert-to/pdu/"><i class="icon-exclamation-sign icon-white"></i> Convert to PDU</a>
      {% endaccordion %}
    </div>
{% endblock %}
