{% extends "noclook/edit/base_edit.html" %}

{% block js %}
    {{ block.super }}
    {% load noclook_tags %}
    <script type="text/javascript">
        $(document).ready(
            function(){
                // Accordion
                $(".edit-accordion").collapse();
                // Provider
                // Populate first level combo box
                providerCategories = [
                    ['provider', 'Provider']
                ];
                // Depends on //
                // Populate first level single dependency combo box
                dependencyCategories = [
                    ['optical-link', 'Optical Links']
                ];
            }
        );
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="well">
        <h3>Name</h3>
        {{ form.name }}
        <span class="help-block">{{ form.name.help_text }}</span>
        <h3>Operational State</h3>
        {{ form.operational_state }}
        <h3>Description (optional)</h3>
        {{ form.description }}
        <span class="help-block">{{ form.description.help_text }}</span>
    </div>
    <div class="accordion" id="edit-accordion">
        {% include "noclook/edit/includes/dependency_group.html" %}
        {% include "noclook/edit/includes/provider_group.html" %}
    </div>
{% endblock %}