{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}
{% load noclook_tags %}

{% block js %}
{{ block.super }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(
    function(){
        // Responsible for
        // Populate first level combo box
        organizationCategories = [
            ['organization', 'Organizations']
        ];
        procedureCategories = [
            ['procedure', 'Procedures']
        ];

        // add select2 to the contact selects
        $("select#id_abuse_contact,\
            select#id_primary_contact,\
            select#id_secondary_contact,\
            select#id_it_technical_contact,\
            select#id_it_security_contact,\
            select#id_it_manager_contact").select2({
            tags: true,
        });
    }
);
</script>
{% endblock %}
{% block content %}
{{ block.super }}
    <div class="well">
        {{ form.name | as_crispy_field}}
        {{ form.description | as_crispy_field}}
    </div>

    <div class="accordion" id="edit-accordion">
      {% accordion 'Additional info (optional)' 'additional-edit' '#edit-accordion' %}
        {{ form.phone | as_crispy_field}}
        {{ form.website | as_crispy_field}}
        {{ form.customer_id | as_crispy_field}}
        {{ form.type | as_crispy_field}}
        {{ form.additional_info | as_crispy_field}}
      {% endaccordion %}
      {% accordion 'Contacts (optional)' 'contacts-edit' '#edit-contacts' %}
        {{ form.abuse_contact | as_crispy_field}}
        {{ form.primary_contact | as_crispy_field}}
        {{ form.secondary_contact | as_crispy_field}}
        {{ form.it_technical_contact | as_crispy_field}}
        {{ form.it_security_contact | as_crispy_field}}
        {{ form.it_manager_contact | as_crispy_field}}
      {% endaccordion %}
      {% include "noclook/edit/includes/parent_of_group.html" %}
      {% include "noclook/edit/includes/uses_a_group.html" %}
{% endblock %}
