{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}
{% load noclook_tags %}
{% load static %}

{% block js %}
{{ block.super }}
<link href="{% static "css/select2.min.css" %}" rel="stylesheet" />
<script src="{% static "js/select2/select2.min.js" %}"></script>
<script type="text/javascript">
$(document).ready(
    function(){
        // Responsible for
        // Populate first level combo box
        organizationCategories = [
            ['organization', 'Organizations']
        ];
        groupCategories = [
            ['group', 'Groups']
        ];

        // add select2 to the role selects
        $("select#id_relationship_works_for, select#id_role").select2({
            tags: true,
        });
    }
);
</script>
{% endblock %}
{% block content %}
{{ block.super }}
    <div class="well">
        {{ form.first_name | as_crispy_field }}
        {{ form.last_name | as_crispy_field }}
    </div>

    <div class="accordion" id="edit-accordion">
      {% accordion 'Additional info (optional)' 'additional-edit' '#edit-accordion' %}
          {{ form.title | as_crispy_field }}
          {{ form.contact_type | as_crispy_field }}
          {{ form.pgp_fingerprint | as_crispy_field}}
      {% endaccordion %}
      {% include "noclook/edit/includes/works_for_group.html" %}
      {% include "noclook/edit/includes/member_of_group.html" %}
{% endblock %}
