{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}
{% load noclook_tags %}

{% block content %}
{{ block.super }}
    <div id="operation-section">
        <h3>Operational information</h3>
        <div class="well">
            {{ form.name | as_crispy_field }}
            {{ form.description | as_crispy_field }}
            {{ form.responsible_group | as_crispy_field }}
            {{ form.support_group | as_crispy_field }}
            {{ form.operational_state | as_crispy_field }}
            {{ form.security_class | as_crispy_field }}
            {{ form.security_comment | as_crispy_field }}
        </div>
    </div>

    <div class="accordion" id="edit-accordion">
        {% include "noclook/edit/includes/operational_info.html" %}
        {% include "noclook/edit/includes/location_group.html" %}
        {% if node.meta_type == 'Physical' %}
            {% include "noclook/edit/includes/owner_group.html" %}
        {% endif %}
        {% include "noclook/edit/includes/port_group.html" %}
        {% accordion 'Bulk ports' 'bulk_ports' '#edit-accordion' %}
          {{ ports_form | crispy }}
        {% endaccordion %}
        {% include "noclook/edit/includes/host_service_group.html" %}
        {% include "noclook/edit/includes/disable_noclook_auto_manage.html" %}
    </div>
{% endblock %}
