{% extends "noclook/edit/base_edit.html" %}
{% load crispy_forms_tags %}
{% load noclook_tags %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        // Responsible for
        // Populate first level combo box
        responsibleCategories = [
            ['site-owner', 'Site Owners']
        ];
    }
);
</script>
{% endblock %}
{% block content %}
{{ block.super }}
    <div class="well">
        {{ form.name | as_crispy_field}}
        {{ form.site_type | as_crispy_field}}
    </div>

    <div class="accordion" id="edit-accordion">
      {% accordion 'Address (optional)' 'address-edit' '#edit-accordion' %}
        {{ form.address | as_crispy_field}}
        {{ form.floor | as_crispy_field}}
        {{ form.room | as_crispy_field}}
        {{ form.postcode | as_crispy_field}}
        {{ form.postarea | as_crispy_field }}
      {% endaccordion %}
      {% accordion 'Location (optional)' 'location-edit' '#edit-accordion' %}
        {{ form.country | as_crispy_field}}
        {{ form.area | as_crispy_field}}
        {{ form.longitude | as_crispy_field}}
        {{ form.latitude | as_crispy_field}}
      {% endaccordion %}
      {% accordion 'Floorplan (optional)' 'floorplan-edit' '#edit-accordion' %}
        {{ form.floorplan_col | as_crispy_field}}
        {{ form.floorplan_row | as_crispy_field}}
        {% load rack_tags %}
        <div>
          {% noclook_floorplan_placement node form.floorplan_door_x form.floorplan_door_y 'Access door placement' %}
        </div>
      {% endaccordion %}
      {% include "noclook/edit/includes/responsible_for_group.html" %}
      {% accordion 'Other IDs and information (optional)' 'other-edit' '#edit-accordion' %}
        <div class="accordion-inner">
            {{ form.owner_id | as_crispy_field }}
            {{ form.owner_site_name | as_crispy_field }}
            {{ form.telenor_subscription_id | as_crispy_field }}
            {{ form.url | as_crispy_field}}
        </div>
      {% endaccordion %}
{% endblock %}

