{% extends "base.html" %}

{% block title %}{{ block.super }} {{ node.node_type }} Detail {% endblock %}

{% block js %}
<script type="text/javascript">
    // Comment show/hide
    function toggle_comment() {
        $('#add_comment').toggle();
        $('#add_comment_btn').toggle();
    }
    // AJAX setup
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
{% if node.noclook_auto_manage and expired %}
    <span class="label label-important">Last seen {{ last_seen|timesince }} ago</span>
{% endif %}
<h1><a href="/{{ node.node_type|slugify }}/">{{ node.node_type }}</a> {{ node.name }}</h1>
{% if location %}
    <h5 class="site">Located in
    {% for hit in location %}
        <a href="{% noclook_node_to_url hit.parent %}"> {{ hit.parent.name }}</a> <a href="{% noclook_node_to_url hit.loc %}"> {{ hit.loc.name }}</a>
    {% endfor %}
    </h5>
{% endif %}
{% if same_name_relations %}
    <h5 class="site">also as
        {% for hit in same_name_relations %}
            <a href="{% noclook_node_to_url hit.relation %}"> {{ hit.relation.node_type }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </h5>
{% endif %}
{% load comments %}
{% load markup %}
{% get_comment_list for node_handle as comment_list %}
{% if comment_list %}
    {% for comment in comment_list|dictsortreversed:"submit_date" %}
        <div class="alert alert-block">
            <a href="/comments/delete/{{ comment.id }}" class="close">&times;</a>
            <h4 class="alert-heading">{{ comment.submit_date|date:"ymd H:i" }} by {{ comment.name|capfirst }}</h4>
            {{ comment.comment|markdown:"safe" }}
        </div>
    {% endfor %}
{% endif %}
<br>
{% endblock %}

{% block content_footer %}
{% if node_handle %}
    <div class="section">
        <br>
        <p>
            <a href="javascript:toggle_comment()" id="add_comment_btn" class="btn btn-info">
                <i class="icon-comment icon-white"></i> Add a comment
            </a>
            <a href="/visualize{{ node_handle.get_absolute_url }}" class="btn btn-info">
                <i class="icon-eye-open icon-white"></i> Visualize
            </a>
        </p>
        <div id="add_comment">
            <strong>Add a comment or <a href="javascript:toggle_comment()">hide</a> the comment form.</strong>
            {% get_comment_form for node_handle as form %}
            <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                <textarea class="input-xlarge" rows="3" id="id_comment" name="comment"></textarea>
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next" value="{{ node_handle.get_absolute_url }}" />
                <br><br>
                <input class="btn btn-info" type="submit" value="Submit" id="comment_submit" />
                <br>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}
