{% extends "base_detail.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(
        function(){
            $("#connections").tablesorter(
            {
                sortList: [[0,0]],
                headers:
                {},
                widthFixed: true,
                widgets: ['zebra']
            });
        }
    );
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span7">
        <table>
            <tr>
                <th>Cable type:</th><td>{{ node.cable_type|capfirst }}</td>
            </tr>
            {% if node.telenor_trunk_id %}
            <tr>
                <th>Trunk ID:</th><td>{{ node.telenor_trunk_id }}</td>
            </tr>
            {% endif %}
            {% if node.telenor_tn1_number %}
            <tr>
                <th>TN1 number:</th><td>{{ node.telenor_tn1_number }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div class="span5 offset1">
        <table>
            {% if node.noclook_automanage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier|title}}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator|title }}</td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn info">Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    <h3>Connections</h3>
    {% if opt_info %}
    <table id="connections" class="tablesorter" cellspacing="1">
        <thead>
            <th>Connected to node</th>
        </thead>
        <tbody>
        {% for item in opt_info %}
            <tr>
                <td><a href="{{ item.node_url }}">{{ item.node_name }}</a></td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
    {% else %}
        No connections found.
    {% endif %}
</div>
{% endblock %}
