{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(
        function(){
            $("#connections").tablesorter(
                {
                    sortList: [[0,0],[1,0],[2,0],[3,0]],
                    headers:
                    {},
                    widthFixed: true,
                    widgets: ['zebra']
                });
            $("#services").tablesorter(
                {
                    sortList: [[0,0]],
                    headers:
                    {},
                    widthFixed: true,
                    widgets: ['zebra']
                });
            $('#servicecopy').popover();
        }
    );
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Cable type:</th><td>{{ node.cable_type|capfirst }}</td>
            </tr>
            {% if node.telenor_trunk_id %}
            <tr>
                <th>Trunk ID:</th><td>{{ node.telenor_trunk_id }}</td>
            </tr>
            {% endif %}
            {% if node.telenor_tn1_number %}
            <tr>
                <th>TN1 number:</th><td>{{ node.telenor_tn1_number }}</td>
            </tr>
            {% endif %}
            {% if node.global_crossing_circuit_id %}
                <tr>
                    <th>Circuit ID:</th><td>{{ node.global_crossing_circuit_id }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier }}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator }}</td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    <h3>Services dependent on cable</h3>
    {% if services %}
        <table id="services" class="tablesorter" cellspacing="1">
            <thead>
            <tr>
                <th>Service ID</th><th>Description</th><th>Customer</th>
            </tr>
            </thead>
            <tbody>
            {% for hit in services %}
                <tr>
                    <td><a href="{% noclook_node_to_url hit.service %}">{{ hit.service.name }}</a></td>
                    <td>{{ hit.service.description }}</td>
                    <td>
                        {% for customer in hit.customers %}
                            <a href="{% noclook_node_to_url customer %}">{{ customer.name }}</a>{% if forloop.last %}{% else %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a id="servicecopy" class="btn btn-mini pull-right" rel="popover" data-placement="top" data-content="{% for hit in services %}{{ hit.service.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}" data-original-title="Copy and paste"><i class="icon-share-alt"></i> Copy</a>
    {% else %}
        No services found.
    {% endif %}
</div>
<div class="section">
    <h3>Connected to</h3>
    {% if connections %}
    <table id="connections" class="tablesorter" cellspacing="1">
        <thead>
            <th>Site</th><th>Rack</th><th>Equipment</th><th>Port</th>
        </thead>
        <tbody>
        {% for con in connections %}
            <tr>
                <td><a href="{% noclook_node_to_url con.site %}">{{ con.site.name }}</a></td>
                <td><a href="{% noclook_node_to_url con.location %}">{{ con.location.name }}</a></td>
                <td><a href="{% noclook_node_to_url con.end %}">{{ con.end.name }}</a></td>
                <td><a href="{% noclook_node_to_url con.port %}">{{ con.port.name }}</a></td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
    {% else %}
        No connections found.
    {% endif %}
</div>
{% endblock %}
