{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $("#connections").tablesorter(
            {
                sortList: [[0,0],[1,0],[2,0],[3,0]],
                headers:
                {},
                widthFixed: true,
                widgets: ['zebra']
            });
        $("#services").tablesorter(
            {
                sortList: [[0,0]],
                headers:
                {},
                widthFixed: true,
                widgets: ['zebra']
            });
        $("#pathsIn").tablesorter(
            {
                sortList: [[0,0]],
                headers: {},
                widthFixed: true,
                widgets: ['zebra']
            });
        $("#omsIn").tablesorter(
            {
                sortList: [[0,0]],
                headers: {},
                widthFixed: true,
                widgets: ['zebra']
            });
        $("#linksIn").tablesorter(
            {
                sortList: [[0,0]],
                headers: {},
                widthFixed: true,
                widgets: ['zebra']
            });
        $('#servicecopy').popover();
    });
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Cable type:</th><td>{{ node.cable_type|capfirst }}</td>
            </tr>
            {% if node.telenor_trunk_id %}
            <tr>
                <th>Trunk ID:</th><td>{{ node.telenor_trunk_id }}</td>
            </tr>
            {% endif %}
            {% if node.telenor_tn1_number %}
            <tr>
                <th>TN1 number:</th><td>{{ node.telenor_tn1_number }}</td>
            </tr>
            {% endif %}
            {% if node.global_crossing_circuit_id %}
                <tr>
                    <th>Global Crossing Circuit ID:</th><td>{{ node.global_crossing_circuit_id }}</td>
                </tr>
            {% endif %}
            {% if node.global_connect_circuit_id %}
                <tr>
                    <th>Global Connect Circuit ID:</th><td>{{ node.global_connect_circuit_id }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by <a href="{{ node_handle.modifier.get_profile.get_absolute_url }}">{{ node_handle.modifier }}</a></td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by <a href="{{ node_handle.creator.get_profile.get_absolute_url }}">{{ node_handle.creator }}</a></td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    {% load noclook_tags %}
    <h3>Dependent on this cable</h3>
    {% if services %}
        <div class="pull-right">
            <span class="badge badge-info">Testing</span>
            <span class="badge badge-warning">Reserved</span>
            <span class="badge badge-important">Decommissioned</span>
        </div>
        <ul class="nav nav-tabs" id="depTabsIn">
            <li class="active"><a href="#directTabIn" data-toggle="tab">Services</a></li>
            {% if all_dependent.paths %}
                <li><a href="#pathsTabIn" data-toggle="tab">Optical Paths</a></li>
            {% endif %}
            {% if all_dependent.oms %}
                <li><a href="#omsTabIn" data-toggle="tab">Optical Muliplex Sections</a></li>
            {% endif %}
            {% if all_dependent.links %}
                <li><a href="#linksTabIn" data-toggle="tab">Optical Links</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="directTabIn">
                <table id="services" class="tablesorter" cellspacing="1">
                    <thead>
                    <tr>
                        <th>Service ID</th><th>Description</th><th>User</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hit in services %}
                        {% if hit.service.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif hit.service.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif hit.service.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                        {% endif %}
                            <td><a href="{% noclook_node_to_url hit.service %}">{{ hit.service.name }}</a></td>
                            <td>{{ hit.service.description }}</td>
                            <td>
                                {% for user in hit.users %}
                                    <a href="{% noclook_node_to_url user %}">{{ user.node_type }} {{ user.name }}</a>{% if forloop.last %}{% else %},<br>{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a id="servicecopy" class="btn btn-mini pull-right" rel="popover" data-placement="top" data-content="{% for hit in services %}{{ hit.service.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}" data-original-title="Copy and paste"><i class="icon-share-alt"></i> Copy</a>
            </div>
            {% if all_dependent.paths %}
                <div class="tab-pane" id="pathsTabIn">
                    <table id="pathsIn" class="tablesorter" cellspacing="1">
                        <thead>
                            <tr>
                                <th>Name</th><th>Type</th><th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hit in all_dependent.paths %}
                            {% if hit.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif hit.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif hit.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                <td>{{ hit.node_type }}</td>
                                <td>{{ hit.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if all_dependent.oms %}
                <div class="tab-pane" id="omsTabIn">
                    <table id="omsIn" class="tablesorter" cellspacing="1">
                        <thead>
                            <tr>
                                <th>Name</th><th>Type</th><th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hit in all_dependent.oms %}
                            {% if hit.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif hit.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif hit.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                <td>{{ hit.node_type }}</td>
                                <td>{{ hit.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if all_dependent.links %}
                <div class="tab-pane" id="linksTabIn">
                    <table id="linksIn" class="tablesorter" cellspacing="1">
                        <thead>
                            <tr>
                                <th>Name</th><th>Type</th><th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hit in all_dependent.links %}
                            {% if hit.operational_state == "Decommissioned" %}
                                <tr class="decommissioned">
                            {% elif hit.operational_state == "Reserved" %}
                                <tr class="reserved">
                            {% elif hit.operational_state == "Testing" %}
                                <tr class="testing">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td><a href="{% noclook_node_to_url hit %}">{{ hit.name }}</a></td>
                                <td>{{ hit.node_type }}</td>
                                <td>{{ hit.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            </div>
    {% else %}
        <p>Nothing dependent found.</p>
    {% endif %}
</div>
<div class="section">
    <h3>Connected to</h3>
    {% if connections %}
    <table id="connections" class="tablesorter" cellspacing="1">
        <thead>
            <th>Site</th><th>Rack</th><th>Equipment</th><th>Port</th>
        </thead>
        <tbody>
        {% for con in connections %}
            <tr>
                <td><a href="{% noclook_node_to_url con.site %}">{{ con.site.name }}</a></td>
                <td><a href="{% noclook_node_to_url con.location %}">{{ con.location.name }}</a></td>
                <td><a href="{% noclook_node_to_url con.end %}">{{ con.end.name }}</a></td>
                <td><a href="{% noclook_node_to_url con.port %}">{{ con.port.name }}</a></td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
    {% else %}
        No connections found.
    {% endif %}
</div>
{% endblock %}
