{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} Detail{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#services").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {
                1 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node.name }}</td>
            </tr>
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier|title}}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator|title }}</td>
            </tr>
        </table>
    </div>
</div>
<!--
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
-->
<div class="section">
    <h3>Resources used</h3>
    {% load noclook_tags %}
    {% if service_relationships %}
    <table id="services" class="tablesorter" cellspacing="1">
        <thead>
            <th>Host</th><th>Address</th><th>Port</th><th>Protocol<th>Product</th><th>Version</th><th>Extra info</th><th>Confidence</th>
        </thead>
        <tbody>
        {% for service in service_relationships %}
            <tr>
                <td><a href="{% noclook_node_to_url service.end %}">{{ service.end.name }}</a></td>
                <td>{{ service.ip_address }}</td>
                <td>{{ service.port }}</td>
                <td>{{ service.protocol }}</td>
                <td>{{ service.product }}</td>
                <td>{{ service.version }}</td>
                <td>{{ service.extrainfo }}</td>
                <td>{{ service.confidence }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No services provided.
    {% endif %}
</div>
{% endblock %}

