{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#services").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {
                1 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Type:</th><td>{{ node_handle.node_meta_type|capfirst }} host</td>
            </tr>
            {% if node.status %}
                <tr>
                    <th>Status:</th><td>{{ node.status|capfirst }}</td>
                </tr>
            {% endif %}
            {% if node.hostnames %}
                <tr>
                    <th>Hostnames:</th>
                    <td>
                        {% for item in node.hostnames %}
                            {{ item }}{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if node.addresses %}
                <tr>
                    <th>Addresses:</th>
                    <td>
                        {% for item in node.addresses %}
                            {{ item }}{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if user_relationships %}
                <tr>
                    <th>Users:</th>
                    <td>
                        {% for item in user_relationships %}
                            <a href="{% noclook_node_to_url item.start %}">{{ item.start.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if provider_relationships %}
                <tr>
                    <th>Providers:</th>
                    <td>
                        {% for item in provider_relationships %}
                            <a href="{% noclook_node_to_url item.start %}">{{ item.start.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if owner_relationships %}
                <tr>
                    <th>Owner:</th>
                    <td>
                        {% for item in owner_relationships %}
                            <a href="{% noclook_node_to_url item.start %}">{{ item.start.name }}</a>{% if not forloop.last %},<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if node.service_tag %}
                <tr>
                    <th>Service tag:</th><td>{{node.service_tag}}</td>
                </tr>
            {% endif %}
            {% if node.end_support %}
                <tr>
                    <th>Support ends:</th><td>{{node.end_support}}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
        {% if node.vendor or node.model or node.cpu or node.ram or node.hdd or node.service_tag %}
            {% if node.vendor %}
                <tr>
                    <th>Vendor:</th><td>{{node.vendor}}</td>
                </tr>
            {% endif %}
            {% if node.model %}
                <tr>
                    <th>Model:</th><td>{{node.model}}</td>
                </tr>
            {% endif %}
            {% if node.cpu %}
                <tr>
                    <th>CPU:</th><td>{{node.cpu}}</td>
                </tr>
            {% endif %}
            {% if node.ram %}
                <tr>
                    <th>RAM:</th><td>{{node.ram}}</td>
                </tr>
            {% endif %}
            {% if node.hdd %}
                <tr>
                    <th>HDD:</th><td>{{node.hdd}}</td>
                </tr>
            {% endif %}
        {% endif %}
        {% if node.os %}
            <tr>
                <th>OS:</th><td>{{node.os}} {% if node.os_version %}{{node.os_version}}{% endif %}</td>
            </tr>
        {% endif %}
            {% if node.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier }}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator }}</td>
            </tr>
        </table>
    </div>
    {% if node.description or node.responsible_persons or node.security_class %}
        <div class="span7">
            <table class="table">
                {% if node.description %}
                    <tr>
                        <th>Description:</th><td>{{ node.description }}</td>
                    </tr>
                {% endif %}
                {% if node.responsible_persons %}
                    <tr>
                        <th>Responsible</th>
                        <td>
                            {% for item in node.responsible_persons %}
                                {{ item }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                {% if node.security_class %}
                    <tr>
                        <th>Security Class</th>
                        <td>
                            <strong>{{ node.security_class }}</strong><br>
                            {{ node.security_comment }}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endif %}
</div>

{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    <h3>Services provided</h3>
    {% load noclook_tags %}
    {% if service_relationships %}
    <table id="services" class="tablesorter" cellspacing="1">
        <thead>
            <th>Service</th><th>Address</th><th>Port</th><th>Protocol<th>Product</th><th>Version</th><th>Extra info</th><th>Confidence</th>
        </thead>
        <tbody>
        {% for service in service_relationships %}
            <tr>
                <td><a href="{% noclook_node_to_url service.start %}">{{ service.start.name }}</a></td>
                <td>{{ service.ip_address }}</td>
                <td>{{ service.port }}</td>
                <td>{{ service.protocol }}</td>
                <td>{{ service.product }}</td>
                <td>{{ service.version }}</td>
                <td>{{ service.extrainfo }}</td>
                <td>{{ service.confidence }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No services provided.
    {% endif %}
</div>
{% endblock %}

