{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#services").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {
                1 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span7">
        <table>
            <tr>
                <th>Type:</th><td>{{ node_handle.node_meta_type|capfirst }} host</td>
            </tr>
            {% if node.status %}
                <tr>
                    <th>Status:</th><td>{{ node.status|capfirst }}</td>
                </tr>
            {% endif %}
            {% if node.hostnames %}
                {% for item in node.hostnames %}
                    {% if forloop.first %}
                        <tr>
                            <th>Hostnames:</th><td>{{item}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td></td><td>{{item}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if node.addresses %}
                {% for item in node.addresses %}
                    {% if forloop.first %}
                    <tr>
                        <th>Addresses:</th><td>{{item}}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td></td><td>{{item}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% for item in user_relationships %}
                {% if forloop.first %}
                <tr>
                    <th>Users:</th><td><a href="{% noclook_node_to_url item.start %}">{{item.start.name}}</td>
                </tr>
                {% else %}
                <tr>
                    <td></td><td><a href="{% noclook_node_to_url item.start %}">{{item.start.name}}</td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for item in provider_relationships %}
                {% if forloop.first %}
                <tr>
                    <th>Providers:</th><td><a href="{% noclook_node_to_url item.start %}">{{item.start.name}}</td>
                </tr>
                {% else %}
                <tr>
                    <td></td><td><a href="{% noclook_node_to_url item.start %}">{{item.start.name}}</td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for item in owner_relationships %}
                {% if forloop.first %}
                <tr>
                    <th>Owners:</th><td><a href="{% noclook_node_to_url item.start %}">{{item.start.name}}</td>
                </tr>
                {% else %}
                <tr>
                    <td></td><td><a href="{% noclook_node_to_url item.start %}">{{item.start.name}}</td>
                </tr>
                {% endif %}
            {% endfor %}
            {% if node.service_tag %}
                <tr>
                    <th>Service tag:</th><td>{{node.service_tag}}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span5 offset1">
        <table>
        {% if node.vendor or node.model or node.cpu or node.ram or node.hdd or node.service_tag %}
            {% if node.vendor %}
                <tr>
                    <th>Vendor:</th><td>{{node.vendor}}</td>
                </tr>
            {% endif %}
            {% if node.model %}
                <tr>
                    <th>Model:</th><td>{{node.model}}</td>
                </tr>
            {% endif %}
            {% if node.cpu %}
                <tr>
                    <th>CPU:</th><td>{{node.cpu}}</td>
                </tr>
            {% endif %}
            {% if node.ram %}
                <tr>
                    <th>RAM:</th><td>{{node.ram}}</td>
                </tr>
            {% endif %}
            {% if node.hdd %}
                <tr>
                    <th>HDD:</th><td>{{node.hdd}}</td>
                </tr>
            {% endif %}
        {% endif %}
        {% if node.os or node.os_version %}
            {% if node.os %}
                <tr>
                    <th>OS:</th><td>{{node.os}}</td>
                </tr>
            {% endif %}
            {% if node.os_version %}
                <tr>
                    <th>OS version:</th><td>{{node.os_version}}</td>
                </tr>
            {% endif %}
        {% endif %}
            {% if node.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier|title}}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator|title }}</td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn info">Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    <h3>Services provided</h3>
    {% load noclook_tags %}
    {% if service_relationships %}
    <table id="services" class="tablesorter" cellspacing="1">
        <thead>
            <th>Service</th><th>Address</th><th>Port</th><th>Protocol<th>Product</th><th>Version</th><th>Extra info</th><th>Confidence</th>
        </thead>
        <tbody>
        {% for service in service_relationships %}
            <tr>
                <td><a href="{% noclook_node_to_url service.start %}">{{ service.start.name }}</a></td>
                <td>{{ service.ip_address }}</td>
                <td>{{ service.port }}</td>
                <td>{{ service.protocol }}</td>
                <td>{{ service.product }}</td>
                <td>{{ service.version }}</td>
                <td>{{ service.extrainfo }}</td>
                <td>{{ service.confidence }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No services provided.
    {% endif %}
</div>
{% endblock %}

