{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#hosts").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {
                1 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
                <tr>
                    <th>Name:</th><td>{{ node.name }}</td>
                </tr>
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier }}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator }}</td>
            </tr>
        </table>
    </div>
</div>
<!--
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
-->
<div class="section">
    {% if host_relationships %}
    <table id="hosts" class="tablesorter" cellspacing="1">
        <thead>
            <th>Host</th>
        </thead>
        <tbody>
        {% for host in host_relationships %}
            <tr>
                <td><a href="{% noclook_node_to_url host.end %}">{{ host.end.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No hosts provided.
    {% endif %}
</div>
{% endblock %}

