{% extends "base.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#connections").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {},
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}
{% block content %}
<div class="section">
    <h3><a href="/{{ node.node_type|slugify }}/">{{ node.node_type }}</a> {{ node.name }}</h3>
    {% load noclook_tags %}
    {% if location_relationships %}
        <h5 class="site">Located in
        {% for loc in location_relationships %}
            <a href="{% noclook_node_to_url loc.end %}">{{ loc.end.country_code }}-{{ loc.end.name }}</a>
        {% endfor %}
        </h5>
    {% endif %}
    <div class="info-container">
        <div class="info">
            <h4>{{ node.node_type }} information</h4>
            <table class="info break-word">
                <tr>
                    <th>Name:</th><td>{{ node_handle.node_name }}</td>
                </tr>
                {% if node.type %}
                <tr>
                    <th>Type:</th><td><a href="/findin/optical-node/type/{{ node.type }}/">{{ node.type }}</a></td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% if node.ots or node.link %}
        <div class="info">
            <h4>Network information</h4>
            <table class="info break-word">
                {% if node.ots %}
                <tr>
                    <th>Optical Transport Section:</th><td><a href="/findin/optical-node/ots/{{ node.ots }}/">{{ node.ots }}</a></td>
                </tr>
                {% endif %}
                {% if node.link %}
                <tr>
                    <th>Link:</th><td><a href="/findin/optical-node/link/{{ node.link }}/">{{ node.link }}</a></td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% endif %}
        <div class="info">
            <h4>Meta information:</h4>
            <table class="info break-word">
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</a></td>
                </tr>
                <tr>
                    <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier|title}}</td>
                </tr>
                <tr>
                    <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator|title }}</td>
                </tr>
            </table>
        </div>
        <div class="info">
            {% load comments %}
            {% load markup %}
            {% get_comment_list for node_handle as comment_list %}
            {% if comment_list %}
                <h4>User information:</h4>
                <table class="info break-word">
                {% for comment in comment_list|dictsortreversed:"submit_date" %}
                    <tr>
                        <th>{{ comment.submit_date|date:"ymd H:i" }} by {{ comment.name|capfirst }}</th>
                    </tr>
                    <tr>
                        <td class="comment-cell break-word">{{ comment.comment|markdown:"safe" }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
<div class="clear-float"></div>
<div class="section">
    <h3>Connections</h3>
    {% if opt_info %}
    <table id="connections" class="tablesorter" cellspacing="1">
        <thead>
            <th>Connected to node</th><th>via</th>
        </thead>
        <tbody>
        {% for item in opt_info %}
            <tr>
                <td><a href="{{ item.node_url }}">{{ item.node_name }}</a></td>
                <td><a href="{{ item.fiber_url }}">{{ item.fiber_name }}</a></td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
    {% else %}
        No connections found.
    {% endif %}
</div>
{% endblock %}
