{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} Detail{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(
                function(){
                    $("#depend_inc").tablesorter(
                            {
                                sortList: [[0,0]],
                                headers:
                                {},
                                widthFixed: true,
                                widgets: ['zebra']
                            });
                    $("#depend_out").tablesorter(
                            {
                                sortList: [[0,0]],
                                headers:
                                {},
                                widthFixed: true,
                                widgets: ['zebra']
                            });
                }
        );
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% load noclook_tags %}
    <div class="row">
        <div class="span4">
            <table class="table">
                <tr>
                    <th>Name:</th><td>{{ node.name }}</td>
                </tr>
                <tr>
                    <th>Type:</th><td>{{ node.link_type }}</td>
                </tr>
                <tr>
                    <th>State:</th><td>{{ node.operational_state }}</td>
                </tr>
            </table>
            {% if node.description %}
                <div>
                    <table class="table">
                        <tr>
                            <th>Description:</th><td>{{ node.description }}</td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        </div>
        <div class="span3">
            <table class="table">
                {% if node.noclook_auto_manage %}
                    <tr>
                        <th>Last seen:</th><td>{{ last_seen|timesince }} ago</a></td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier|title}}</td>
                </tr>
                <tr>
                    <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator|title }}</td>
                </tr>
            </table>
        </div>
    </div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
    <div class="section">
        {% load noclook_tags %}
        {% if depend_inc %}
            <h3>Used by</h3>
            <table id="depend_inc" class="tablesorter" cellspacing="1">
                <thead>
                <th>Name</th><th>Type</th><th>Description</th>
                </thead>
                <tbody>
                {% for service in depend_inc %}
                    <tr>
                        <td><a href="{% noclook_node_to_url service.start %}">{{ service.start.name }}</a></td>
                        <td>{{ service.start.node_type }}</td>
                        <td>{{ service.start.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div class="section">
        {% load noclook_tags %}
        {% if depend_out %}
            <h3>This optical link depend on</h3>
            <table id="depend_out" class="tablesorter" cellspacing="1">
                <thead>
                <th>Name</th><th>Type</th>
                </thead>
                <tbody>
                {% for hit in depend_out %}
                    <tr>
                        <td><a href="{% noclook_node_to_url hit.dep %}">{{ hit.parent.name }} {{ hit.dep.name }}</a></td>
                        <td>{{ hit.dep.node_type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}