{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} | Detail{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#services").tablesorter(
        {
            sortList: [[1,0]],
            headers:
            {
                0 : { sorter: "ipAddress"  },
                2 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
        // IP address lookup
        $(".ip-address").click(function() {
            var ip_address = $(this).text();
            var elem = $(this)
            elem.css('cursor','wait');
            $.post('/ajax/hostname/', {ip_address: ip_address},
                    function(data) {
                        elem.tooltip({title: data});
                        elem.tooltip('toggle');
                        elem.css('cursor','pointer');
                    });
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node.name }}</td>
            </tr>
            <tr>
		    <th>AS Number:</th><td>{{ node.as_number }}</td>
            </tr>
            <tr>
		    <th>PeeringDB:</th><td><a href="http://www.peeringdb.com/view.php?asn={{ node.as_number }}" target="_blank">{{ node.as_number }}</a></td>
            </tr>
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier|title}}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator|title }}</td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    <h3>Services used</h3>
    {% if peering_points %}
    <table id="services" class="tablesorter" cellspacing="1">
        <thead>
            <th>{{ node.name }} IP Address</th><th>Service</th><th>Interface Network</th><th>Unit</th><th>PIC</th><th>Router</th>
        </thead>
        <tbody>
            {% for item in peering_points %}
            <tr>
                <td><span class="ip-address">{{ item.pp_ip }}</span></td>
                <td><a href="{{ item.service_url }}">{{ item.service }}</a></td>
                <td>{{ item.if_address }}</td>
                <td>{{ item.unit }}</td>
                <td><a href="{{ item.pic_url }}">{{ item.pic }}</a></td>
                <td><a href="{{ item.router_url }}">{{ item.router }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No services used.
    {% endif %}
</div>
{% endblock %}
