{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(
        function(){
            $("#connections").tablesorter(
            {
                sortList: [[0,0]],
                headers:
                {},
                widthFixed: true,
                widgets: ['zebra']
            });
            $("#depends").tablesorter(
                    {
                        sortList: [[0,0]],
                        headers:
                        {},
                        widthFixed: true,
                        widgets: ['zebra']
            });
        }
    );
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Port Type:</th><td>{{ node.port_type }}</td>
            </tr>
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier }}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator }}</td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    <h3>Connected cables</h3>
    {% if connected_to_rels %}
    <table id="connections" class="tablesorter" cellspacing="1">
        <thead>
            <th>Cables</th>
        </thead>
        <tbody>
        {% for rel in connected_to_rels %}
            <tr>
                <td><a href="{% noclook_node_to_url rel.start %}">{{ rel.start.name }}</a></td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
    {% else %}
        No cables connected to the port.
    {% endif %}
</div>
    <div class="section">
        <h3>Depends on this port</h3>
        {% if depends_on_port %}
            <table id="depends" class="tablesorter" cellspacing="1">
                <thead>
                <th>Name</th>
                </thead>
                <tbody>
                {% for hit in depends_on_port %}
                    <tr>
                    {% if hit.port_logical %}
                        <td><a href="{% noclook_node_to_url hit.port_logical %}">{{ hit.port_logical.node_type }} {{ hit.port_logical.name }}</a></td>
                    {% else %}
                        <td><a href="{% noclook_node_to_url hit.direct_logical %}">{{ hit.direct_logical.node_type }} {{ hit.direct_logical.name }}</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No connections found.
        {% endif %}
    </div>

{% endblock %}
