{% extends "base_detail.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#pics").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {
                1 : { sorter: "ipAddress"  },
            },
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{% load noclook_tags %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span7">
        <table>
            <tr>
                <th>Name:</th><td>{{ node_handle.node_name }}</td>
            </tr>
            {% for address in loopback_addresses %}
                    {% if forloop.first %}
                        <tr>
                            <th>Loopback addresses:</th><td class="break-word">{{ address }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td></td><td>{{ address }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
        </table>
    </div>
    <div class="span5 offset1">
        <table>
            {% ifequal node.noclook_auto_manage|stringformat:"s" 'true' %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</a></td>
                </tr>
            {% endifequal %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier|title}}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator|title }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="section">
    <h3>Interfaces</h3>
    {% if pics %}
    <table id="pics" class="tablesorter" cellspacing="1">
        <thead>
            <th>PIC</th><th>Description</th><th>Services</th>
        </thead>
        <tbody>
        {% for pic in pics %}
            <tr>
                <td><a href="{% noclook_node_to_url pic.pic %}">{{ pic.pic.name }}</a></td>
                <td>{{ pic.pic.description }}</td>
                <td>
                {% for service in pic.services %}
                    <a href="{% noclook_node_to_url service %}">{{ service.name }}</a>{% if forloop.last %}{% else %},<br />{% endif %}
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No services provided.
    {% endif %}
</div>
{% endblock %}

