{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#ports").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {
                1 : { sorter: "ipAddress"  }
            },
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{% load noclook_tags %}
{{ block.super }}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                <th>Name:</th><td>{{ node_handle.node_name }}</td>
            </tr>
            <tr>
                <th>Operational State:</th><td>{{ node.operational_state }}</td>
            </tr>
            {% for address in loopback_addresses %}
                    {% if forloop.first %}
                        <tr>
                            <th>Loopback addresses:</th><td class="break-word">{{ address }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td></td><td>{{ address }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            <tr>
                <th>Model:</th><td>{{ node.model }}</td>
            </tr>
            <tr>
                <th>JUNOS Version:</th><td>{{ node.version }}</td>
            </tr>
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.noclook_auto_manage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier }}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator }}</td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<div class="section top-space">
    <h3>Interfaces</h3>
    {% if ports %}
        <div class="pull-right">
            <span class="badge badge-important">Expired</span>
        </div>
        <table id="ports" class="tablesorter" cellspacing="1">
            <thead>
                <tr>
                    <th>Port</th><th>Description</th><th>Units</th><th>Depends on port</th>
                </tr>
            </thead>
            <tbody>
            {% load noclook_tags %}
            {% for port in ports %}
                {% noclook_has_expired port.port as expired %}
                {% if expired %}
                    <tr class="expired">
                {% else %}
                    <tr>
                {% endif %}
                    <td><a href="{% noclook_node_to_url port.port %}">{{ port.port.name }}</a></td>
                    <td>{{ port.port.description }}</td>
                    <td>
                        {% for unit in port.units %}
                            <a href="{% noclook_node_to_url unit %}">{{ unit.node_type }} {{ unit.name }}</a>{% if forloop.last %}{% else %},<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for depends in port.depends_on_port %}
                            {% if depends.dep %}
                                <a href="{% noclook_node_to_url depends.dep %}">{{ depends.dep.node_type }} {{ depends.dep.name }}</a>{% if depends.unit %} (<a href="{% noclook_node_to_url depends.unit %}">{{ depends.unit.node_type }} {{ depends.unit.name }}</a>){% endif %}{% if forloop.last %}{% else %},<br>{% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No services provided.
    {% endif %}
</div>
{% endblock %}

