{% extends "noclook/detail/base_detail.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#services").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {},
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            <tr>
                {% if node.url %}
                    <th>More information:</th><td><a href="{{ node.url }}">Information link</td>
                {% else %}
                    <th>More information:</th><td><a href="https://portal.nordu.net/display/nordunetops/{{ node.name }}">To Portal</td>
                {% endif %}
            </tr>
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.noclook_automanage %}
            <tr>
                <th>Last seen:</th><td>{{ last_seen|timesince }} ago</a></td>
            </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier|title}}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator|title }}</td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    <h3>Sites</h3>
    {% if site_relationships %}
    <table id="services" class="tablesorter" cellspacing="1">
        <thead>
            <th>Country</th><th>Name</th>
        </thead>
        <tbody>
        {% for equip in site_relationships %}
            <tr>
                <td><a href="/findin/site/country_code/{{ equip.end.country_code }}/">{{ equip.end.country }}</a></td>
                <td><a href="{% noclook_node_to_url equip.end %}">{{ equip.end.country_code }}-{{ equip.end.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No sites found.
    {% endif %}
</div>
{% endblock %}

