{% extends "noclook/detail/base_detail.html" %}

{% block title %}{{ block.super }} | {{ node.node_type }} Detail{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(
    function(){
        $("#equipment").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {},
            widthFixed: true,
            widgets: ['zebra']
        });
        $("#locations").tablesorter(
        {
            sortList: [[0,0]],
            headers:
            {},
            widthFixed: true,
            widgets: ['zebra']
        });
    }
);
</script>
{% endblock %}

{% block content %}
{{ block.super }}
{% load noclook_tags %}
<div class="row">
    <div class="span4">
        <table class="table">
            {% if node.site_type %}
                <tr>
                    <th>Type:</th><td>{{ node.site_type|capfirst }}</td>
                </tr>
            {% endif %}
            {% if node.owner_id %}
                <tr>
                    <th>Owner Site ID:</th><td>{{ node.owner_id }}</td>
                </tr>
            {% endif %}
            {% if node.owner_site_name %}
                <tr>
                    <th>Owner Site Name:</th><td>{{ node.owner_site_name }}</td>
                </tr>
            {% endif %}
            {% if node.telenor_subscription_id %}
                <tr>
                    <th>Telenor Subscription ID:</th><td>{{ node.telenor_subscription_id }}</td>
                </tr>
            {% endif %}
            {% if node.address %}
                <tr>
                    <th>Address:</th><td>{{ node.address }}</td>
                </tr>
            {% endif %}
            {% if node.postarea %}
                <tr>
                    <th></th><td>{{ node.postcode }} {{ node.postarea }}</td>
                </tr>
            {% endif %}
            {% if node.area %}
                <tr>
                    <th>Area:</th><td>{{ node.area }}</td>
                </tr>
            {% endif %}
            {% if node.country %}
                <tr>
                    <th>Country:</th><td>{{ node.country }}</td>
                </tr>
            {% endif %}
            {% if node.latitude and node.longitude %}
                <tr>
                    <th>Latitude:</th><td>{{ node.latitude }}</td>
                </tr>
                <tr>
                    <th>Longitude:</th><td>{{ node.longitude }}</td>
                </tr>
                <tr>
                    <th>Google Maps:</th><td><a href="https://maps.google.com/?q={{ node.latitude }},{{ node.longitude }}" target="_blank">Link</a></td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="span3">
        <table class="table">
            {% if node.floor %}
                <tr>
                    <th>Floor:</th><td>{{ node.floor }}</td>
                </tr>
            {% endif %}
            {% if node.room %}
                <tr>
                    <th>Room:</th><td>{{ node.room }}</td>
                </tr>
            {% endif %}
            {% for item in responsible_relationships %}
                {% if forloop.first %}
                    <tr>
                        <th>Site owner:</th><td><a href="{% noclook_node_to_url item.start %}">{{item.start.name}}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td><td><a href="{% noclook_node_to_url item.start %}">{{item.start.name}}</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <th>More information:</th>
                <td>
                    {% if node.url %}
                        <a href="{{ node.url }}" target="_blank">Link</a>
                    {% else %}
                        <a href="https://portal.nordu.net/display/nordunetops/{{ node.name }}" target="_blank">To Portal</a>
                    {% endif %}
                </td>
            </tr>
            {% if node.noclook_automanage %}
                <tr>
                    <th>Last seen:</th><td>{{ last_seen|timesince }} ago</td>
                </tr>
            {% endif %}
            <tr>
                <th>Modified:</th><td>{{ node_handle.modified }} by {{ node_handle.modifier }}</td>
            </tr>
            <tr>
                <th>Created:</th><td>{{ node_handle.created }} by {{ node_handle.creator }}</td>
            </tr>
        </table>
    </div>
</div>
{% if user.is_staff %}
    <a href="edit" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit</a>
{% endif %}
<br><br><br>
<div class="section">
    <h3>Racks and equipment</h3>
    {% if location_relationships %}
        <table id="locations" class="tablesorter" cellspacing="1">
            <thead>
                <th>Rack</th><th>Equipment</th>
            </thead>
            <tbody>
            {% for loc in location_relationships %}
                <tr>
                    <td><a href="{% noclook_node_to_url loc.rack %}">{{ loc.rack.name }}</a></td>
                    <td><a href="/{{ loc.equipment.node_type|slugify }}/">{{ loc.equipment.node_type }}</a> <a href="{% noclook_node_to_url loc.equipment %}">{{ loc.equipment.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No racks on the site.
    {% endif %}
</div>
<div class="section">
{% if equipment_relationships %}
    <h3>Unracked equipment</h3>
    <table id="equipment" class="tablesorter" cellspacing="1">
        <thead>
            <th>Type</th><th>Name</th>
        </thead>
        <tbody>
        {% for equip in equipment_relationships %}
            <tr>
                <td><a href="/{{ equip.start.node_type|slugify }}/">{{ equip.start.node_type }}</a></td>
                <td><a href="{% noclook_node_to_url equip.start %}">{{ equip.start.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    No unracked equipment on the site.
</div>
{% endif %}
{% endblock %}

