{% extends "base.html" %}

{% block title %}{{ block.super }} Visualize {{ node_handle }}{% endblock %}

{% block js %}
<!-- Arbor Library File -->
{% load niweb_tags %}
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/arbor/arbor.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/arbor/graphics.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/arbor/renderer.js"></script>
<!-- First initialize -->
<script type="text/javascript">
window.onload = function(){
    var sys = arbor.ParticleSystem({repulsion:1000, stiffness:100, friction:0.5, gravity: true, dt:0.02});
    sys.parameters({gravity:true});
    sys.screenPadding(20, 100, 20, 100)
    sys.renderer = Renderer("#viewport");
    //sys.screenSize(800,800)
    $.getJSON('/visualize/{{ node_handle.node_id }}.json', function(json) {
        sys.graft(json);
    });
};
</script>

{% endblock %}

{% block content %}
<h1><a href="/{{ node.node_type|slugify }}/">{{ node.node_type }}</a> <a href="/{{ node.node_type|slugify }}/{{ node_handle.handle_id }}">{{ node.name }}</a></h1>
<div class="section">
    <canvas id="viewport" width="900" height="600"></canvas>
    <div class="row">
        <div class="span7" id="clicked_node">If you click a node a link to the detailed view will be shown here.</div>
        <div class="span2"><a href="/visualize/{{ node.node_type|slugify }}/{{ node_handle.handle_id }}/maximized/" target="_blank" class="btn btn-info pull-right"><i class="icon-resize-full icon-white"></i> Maximize</a></p></div>
    </div>
<div class="section">
{% endblock %}
