{% extends "base.html" %}

{% block title %}{{ block.super }} | User profiles{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(
                function(){
                    $("#profiles").tablesorter(
                            {
                                sortList: [[0,0]],
                                headers:
                                {},
                                widthFixed: true,
                                widgets: ['zebra']
                            });
                }
        );
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>User profiles</h1>
    <table id="profiles" class="tablesorter" cellspacing="1">
        <thead>
        <tr>
            <th>Username</th><th>Name</th><th>Can edit?</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in profile_list %}
            <tr>
                <td><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a></td>
                <td>{{ profile.display_name|default:"" }}</td>
                {% if profile.user.is_staff %}
                    <td class="text-centered"><span class="badge badge-success"><i class="icon-ok icon-white"></i></span></td>
                {% else %}
                    <td class="text-centered"><span class="badge badge-important"><i class="icon-remove icon-white"></i></span></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
