{% extends "base.html" %}

{% block title %}{{ block.super }} | User profiles{% endblock %}

{% block content %}
    {% load noclook_tags %}
    {{ block.super }}
    <h1>User profiles</h1>
    {% blockvar th %}
            <th>Username</th><th>Name</th><th>Can edit?</th>
    {% endblockvar %}
    {% blockvar tbody %}
        {% for profile in profile_list %}
            <tr>
                <td><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a></td>
                <td>{{ profile.display_name|default:"" }}</td>
                {% if profile.user.is_staff %}
                    <td class="text-centered"><span class="badge badge-success"><i class="icon-ok icon-white"></i></span></td>
                {% else %}
                    <td class="text-centered"><span class="badge badge-important"><i class="icon-remove icon-white"></i></span></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endblockvar %}
    {% table th tbody id="profiles" %}
{% endblock %}
