{% extends "base.html" %}

{% block content %}
<h1>Really remove this comment?</h1>
    <div class="alert">
        <h4 class="alert-heading">{{ comment.submit_date|date:"ymd H:i" }} by {{ comment.name|capfirst }}</h4>
        {{ comment.comment }}
    </div>
  <form action="." method="post">{% csrf_token %}
    <div><input type="hidden" name="next" value="{{ comment.get_absolute_url }}" id="next" /></div>
    <p class="submit">
    <input class="btn btn-danger" type="submit" name="submit" value="Remove" /> or <a href="{{ comment.get_absolute_url }}" class="btn">Cancel</a>
    </p>
  </form>
{% endblock %}
