{% extends "base.html" %}

{% block title %}Comment error{% endblock %}

{% block content %}
  {% load comments %}
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    <h1>Please correct the error below</h1>
    <label>{{ form.comment.label }}</label><br />
    <textarea class="xxlarge" id="id_comment" name="comment"></textarea>
    {{ form.comment.errors }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{{ next }}" />
    <p class="submit">
    <input class="btn" type="submit" name="submit" value="Submit" /> or <a href="{{ next }}" class="btn danger">Cancel</a>
    </p>
  </form>
{% endblock %}
